   
  <div class="container">
    <% @events.first(6).each do |event| %>
    <% collide = current_user.followingI.ids & event.fgE.ids %>
    <div class="col-md-4 col-xs-12 testMarge">
      <%= link_to event, method: :get, class: "specialA" do %>
        <div class="elementBox">
          <%= image_tag(event.image_url(:event), class: "groupImageDisc") if event.image? %>
            <div class="eventContentDisc">
              <div class="eventDateDisc"><%= event.event_date.strftime('%B %e') %></div>
            </div>
            <div class="groupTitleDisc"><%= truncate(event.title, length: 35) %></div>
            <div class="sharedInts">
              <%= collide.count %> Shared interests
            </div>
        </div>
       <% end %>
      </div>

    <% end %>

      <!--  See More  Proximy Blue, font weight 800, font dmaller than title --> 



</div>