
  <!-- Front Page Start -->


  <div class="simple">
    <div class="junk">
      <%= image_tag("proximyLogo.png", class: "logoImage") %>
      <div class='titleSub'>Get involved in <strong>your</strong> community with people like <strong>you</strong>.</div>  
      <div class='button '><%= button_to "Get Started", signup_path, method: :get, class: "btnFront" %></div> 
      <div class='button2'><%= button_tag "Sign In" ,  class: "btnFront2" %></div> 
    </div>
    <div class="centerDiv">

  
        <div class="logoParent">
            <%= image_tag("proximy_inv_t.png", class: "logoImg") %>
        </div>

       
            <div class="text-center logField">
                <div class="logField-edits">
                    <%= form_for(:session, url: login_path) do |f| %>
                    <div class="emailField">
                        <%= f.email_field :email, class: 'form-control' , placeholder: "Email" %>
                    </div>
                    <div class="passField">
                        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                    </div>
                </div>

                <div class="text-center loginSec">
                     <%= f.submit "Log in", class: "fileBtnSubmitSign" %>
                </div>
            
                <% end %>


                <div class="text-center loginSec2">
                     <%= button_to "Not a member? Sign Up", signup_path, method: :get, class: "fileBtnSubmitSign2" %>s
                </div>

            </div>
        
   
    <div class="mobileBottom"></div>
</div>
        
      <%= image_tag("image1.jpg", class: "imageHere") %>

  </div>


<div id="pagepiling">



    <div class="section">
    <div class="junk">
      <%= image_tag("proximyLogo.png", class: "logoImage") %>
      <div class='titleSub'>Get involved in <strong>your</strong> community with people like <strong>you</strong>.</div>  
      <div class='button '><%= button_to "Get Started", signup_path, method: :get, class: "btnFront" %></div> 
      <div class='button2'><%= button_tag "Sign In" ,  class: "btnFront2" %></div> 
    </div>



<div class="centerDiv">

  
        <div class="logoParent">
            <%= image_tag("proximy_inv_t.png", class: "logoImg") %>
        </div>

       
            <div class="text-center logField">
                <div class="logField-edits">
                    <%= form_for(:session, url: login_path) do |f| %>


                    <div class="emailField">
                        <%= f.email_field :email, class: 'form-control' , placeholder: "Email" %>
                    </div>
                    <div class="passField">
                        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                    </div>
                </div>

                <div class="text-center loginSec">
                     <%= f.submit "Log in", class: "fileBtnSubmitSign" %>
                </div>
            
                <% end %>


                <div class="text-center loginSec">
                     <%= button_to "Creat an account", signup_path, method: :get, class: "fileBtnSubmitSign2" %>s
                </div>

            </div>
        
   
    <div class="mobileBottom"></div>
</div>
        
      <%= image_tag("image1.jpg", class: "imageHere") %>



    </div>






    
      



    <!-- Front Page End -->