


<style type="text/css">
  
body{
  margin-top: 0px !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    position: absolute;
    /* margin-bottom: 20px; */
    background-color: transparent;
    border: 1px solid transparent;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 96px;
}
</style>


  <!-- Front Page Start -->





<div class="lp_main">
<div class="container">
  <nav class="navbar fixed-top navbar-light bg-light">
    <div class="navbar-brand">
       <%= image_tag("proximyLogo.png", class: "lp_logo") %>
    </div>
  </nav>
</div>

<%= video_tag(["Proximy.mp4"], controls: false, autoplay: true, muted: true, loop: true, class: "lp_main_image", lazy: true, playsinline: true) %>

</div>


<div class="lp_container mobile_lp">
  <h2 class="lp_outside_title_2">
    Coming Soon
  </h2>
  <div class="col-xs-6 text-center">
    <%= image_tag("apple.png", class: "lp_app_icons") %>
  </div>
  <div class="col-xs-6 text-center">
    <%= image_tag("android.png", class: "lp_app_icons") %>
  </div>

</div>
   


<div class="lp_container">

<h2 class="lp_outside_title_1 col-xs-12">
  
Bring people together

</h2>



<div class="col-md-4 col-xs-12 noPad3" style="margin-top: 20px;">
  <%= image_tag("lp_3.jpg", class: "lp_2 ") %>
  <div class="lp_sub_text">
   Make meaningful face to face connections
  </div>

</div>


<div class="col-md-4 col-xs-12 noPad3" style="margin-top: 20px;">
  
  <%= image_tag("lp_4.jpg", class: "lp_2") %>

  <div class="lp_sub_text">
    Find out what's going on around you 
  </div>

</div>
      
<div class="col-md-4 col-xs-12 noPad3" style="margin-top: 20px;">
  
  <%= image_tag("lp_5.jpg", class: "lp_2") %>
  <div class="lp_sub_text">
    Get involved with what interests you most
  </div>

</div>

</div>

<div class="col-md-12">
<hr>
</div>

<div class="container">
<div class="lp_section">
  <div class="col-md-7">
    <%= image_tag("lp_main.png", class: "lp_3") %>
  </div>
  <div class="col-md-5">
    <div class="lp_title_sub">
     Discover like-minded people near you based on common interests
    </div>
    
  </div>
  
</div>


<div class="lp_section switchPos">

  <div class="col-md-5">
    <div class="lp_title_sub">
      Start a conversation with people based on your common interests
    </div>
  </div>

    <div class="col-md-7">
    <%= image_tag("lp_message.png", class: "lp_3") %>
  </div>
  
</div>


<div class="lp_section">

  <div class="col-md-7">
    <%= image_tag("lp_events.png", class: "lp_3") %>
  </div>

  <div class="col-md-5">
    <div class="lp_title_sub">
      Create and attend personalized events with people near you
    </div>
    
  </div>
  
</div>



<div class="lp_section switchPos">



  <div class="col-md-5">
    <div class="lp_title_sub">
      Create and join personalized groups with people near you
    </div>

    
  </div>

  <div class="col-md-7">
    <%= image_tag("lp_groups.png", class: "lp_3") %>
  </div>
  
</div>


</div>

<div class="col-md-12">


<br>
<br>
<br> 
<br>



</div>


<!-- Footer -->
<footer class="lp_footer">
<div class="lp_footer_content container">
  <div class="col-md-4">
    <%= image_tag("proximyClear.png", class: "logoFooter") %>

  </div>
  <div class="col-md-8">
    

  </div>

 </div>


</footer>
<!-- Footer -->


<!-- Front Page End -->


































