
  <!-- Front Page Start -->


  <div class="simple">
    <div class="junk">
      <%= image_tag("proximyLogo.png", class: "logoImage") %>
      <div class='titleSub'>Get involved in <strong>your</strong> community with people like <strong>you</strong>.</div>  
      <div class='button '><%= button_to "Get Started", signup_path, method: :get, class: "btnFront" %></div> 
      <div class='button2'><%= button_tag "Sign In" ,  class: "btnFront2" %></div> 
    </div>
    <div class="centerDiv">

  
        <div class="logoParent">
            <%= image_tag("proximy_inv_t.png", class: "logoImg") %>
        </div>

       
            <div class="text-center logField">
                <div class="logField-edits">
                    <%= form_for(:session, url: login_path) do |f| %>
                    <div class="emailField">
                        <%= f.email_field :email, class: 'form-control' , placeholder: "Email" %>
                    </div>
                    <div class="passField">
                        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                    </div>
                </div>

                <div class="text-center loginSec">
                     <%= f.submit "Log in", class: "fileBtnSubmitSign" %>
                </div>
            
                <% end %>


                <div class="text-center loginSec2">
                     <%= button_to "Not a member? Sign Up", signup_path, method: :get, class: "fileBtnSubmitSign2" %>s
                </div>

            </div>
        
   
    <div class="mobileBottom"></div>
</div>
        
      <%= image_tag("image1.jpg", class: "imageHere") %>

  </div>


<div id="pagepiling">
    <div class="section">
    <div class="junk">
      <%= image_tag("proximyLogo.png", class: "logoImage") %>
      <div class='titleSub'>Get involved in <strong>your</strong> community with people like <strong>you</strong>.</div>  
      <div class='button '><%= button_to "Get Started", signup_path, method: :get, class: "btnFront" %></div> 
      <div class='button2'><%= button_tag "Sign In" ,  class: "btnFront2" %></div> 
    </div>



<div class="centerDiv">

  
        <div class="logoParent">
            <%= image_tag("proximy_inv_t.png", class: "logoImg") %>
        </div>

       
            <div class="text-center logField">
                <div class="logField-edits">
                    <%= form_for(:session, url: login_path) do |f| %>


                    <div class="emailField">
                        <%= f.email_field :email, class: 'form-control' , placeholder: "Email" %>
                    </div>
                    <div class="passField">
                        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                    </div>
                </div>

                <div class="text-center loginSec">
                     <%= f.submit "Log in", class: "fileBtnSubmitSign" %>
                </div>
            
                <% end %>


                <div class="text-center loginSec">
                     <%= button_to "Creat an account", signup_path, method: :get, class: "fileBtnSubmitSign2" %>s
                </div>

            </div>
        
   
    <div class="mobileBottom"></div>
</div>
        
      <%= image_tag("image1.jpg", class: "imageHere") %>



    </div>





    <div class="section">

    <div class='leftSide'>A space for you</div> 

    <div class='leftSideSub'>We created a space where <strong>you</strong> can be <strong>yourself</strong>, a space to see the most relevant and exciting suggestions for what <strong>you</strong> really care about in <strong>your</strong> community.</div> 
    <%= image_tag("post1.png", class: "postImage1") %>
    <%= image_tag("post2.png", class: "postImage2") %>
    <%= image_tag("post3.png", class: "postImage3") %>
    <%= image_tag("post4.png", class: "postImage4") %>
    <%= image_tag("post5.png", class: "postImage5") %>



      <%= image_tag("blueGreyBG.jpg", class: "imageHere") %>
    </div>




    <div class="section">
     
        <div class="titantron">
          <%= image_tag("profile.png", class: "profileImg2") %>
          <div class="profileName">Jennifer</div> 
        </div>
    
          <%= image_tag("interest1.png", class: "interets1") %>
          <%= image_tag("interest3.png", class: "interets2") %>
          <%= image_tag("interest6.png", class: "interets3") %>
          <%= image_tag("interest5.png", class: "interets4") %>
          <%= image_tag("interest7.png", class: "interets5") %>
          <%= image_tag("interest8.png", class: "interets6") %>
          <%= image_tag("interest9.png", class: "interets7") %>
          <%= image_tag("interest10.png", class: "interets8") %>




      <div class='name'>Your interests</div> 
      <div class='nameSub'><strong>Your</strong> interests fuel <strong>your</strong> passions, our goal is to bring <strong>you</strong> the most meaningful ways to get involved based on what <strong>you</strong> love to do and create memories that last a lifetime.</div> 


      <%= image_tag("blueGreyBG.jpg", class: "imageHere") %>
    </div>

    <div class="section">



      <div class="together1">
        <%= image_tag("profile2.png", class: "profile1") %>
        <div class="profile1name">Alannah</div> 
        <div class="profile2name">Interests in common</div>
        <div class="row">
          <div class="sec50">
            <%= image_tag("interest1.png", class: "interetsC") %> 
          </div>
          <div class="sec50">
            <%= image_tag("interest3.png", class: "interetsC") %>
          </div> 
        </div>

      </div>


      <div class="together2">
        <%= image_tag("profile3.png", class: "profile1") %>
        <div class="profile1name">Jeremy</div> 
        <div class="profile2name">Interests in common</div> 
        <div class="row">
          <div class="sec50">
            <%= image_tag("interest7.png", class: "interetsC") %> 
          </div>
          <div class="sec50">
            <%= image_tag("interest10.png", class: "interetsC") %>
          </div> 
        </div>

        
      </div>


      <div class="together3">
        <%= image_tag("profile4.png", class: "profile1") %>
        <div class="profile1name">Andrea</div>
        <div class="profile2name">Interests in common</div>  
        <div class="row">
          <div class="sec50">
            <%= image_tag("interest8.png", class: "interetsC") %> 
          </div>
          <div class="sec50">
            <%= image_tag("interest6.png", class: "interetsC") %>
          </div> 
        </div>
        
        
      </div>

      <div class="together4">
        <%= image_tag("profile7.png", class: "profile1") %>
        <div class="profile1name">Anaya</div>
        <div class="profile2name">Interests in common</div>  
        <div class="row">
          <div class="sec50">
            <%= image_tag("interest8.png", class: "interetsC") %> 
          </div>
          <div class="sec50">
            <%= image_tag("interest6.png", class: "interetsC") %>
          </div> 
        </div>
        
        
      </div>

      <div class="together5">
        <%= image_tag("profile5.png", class: "profile1") %>
        <div class="profile1name">Justin</div>
        <div class="profile2name">Interests in common</div>  
        <div class="row">
          <div class="sec50">
            <%= image_tag("interest8.png", class: "interetsC") %> 
          </div>
          <div class="sec50">
            <%= image_tag("interest6.png", class: "interetsC") %>
          </div> 
        </div>
        
        
      </div>

      <div class="together6">
        <%= image_tag("profile6.png", class: "profile1") %>
        <div class="profile1name">Jerry</div>
        <div class="profile2name">Interests in common</div>  
        <div class="row">
          <div class="sec50">
            <%= image_tag("interest8.png", class: "interetsC") %> 
          </div>
          <div class="sec50">
            <%= image_tag("interest6.png", class: "interetsC") %>
          </div> 
        </div>
        
        
      </div>



    
      


    <div class='name'>Find people like you</div> 
    <div class='nameSub'>Starting a conversation with someone new is never easy, the person <strong>you</strong> are looking for is in close proximity. Break the ice by talking about <strong>your</strong> shared passions.</div> 








      <%= image_tag("blueGreyBG.jpg", class: "imageHere") %>
    </div>

    <div class="section">
      <div class="all">
        <div class="one">
          <div class='leftSideTop'>Events</div> 
          <div class='leftSideSubTop'>Out of the thousands of local events that take place, finding ones that match <strong>your</strong> passions has never been easier. Activities done together are always more enjoyable, get together and share <strong>your</strong> passions.</div>
          <div class="eventsArea container">
            <div class="col-md-12 fadeUp" >
              <div class="col-md-6 col-xs-12 text-right padExtraR">
                <%= image_tag("event1.png", class: "eventR") %>
                 <div class='eventTitleMod'>Mount Knox Hiking</div> 
              </div>
              <div class="col-md-6 col-xs-12 text-left padExtraL">
                <%= image_tag("event2.png", class: "eventR") %> 
                <div class='eventTitle'>TECHFEST 2019</div>  
              </div>
            </div>


    
          </div>
        </div>

      </div>


      <%= image_tag("blueGreyBG.jpg", class: "imageHere") %>
    </div>



    <div class="section">


      <div class="all">
        <div class="one">
          <div class='leftSideTop'>Groups</div> 
          <div class='leftSideSubTop'><strong>You</strong> have interests <strong>you</strong> care about and passions <strong>you</strong> stand behind. Groups create a space to gather regularly with people who share <strong>your</strong> interests and passions.</div>
          <div class="eventsArea container">
            <div class="col-md-12 fadeUp" >
              <div class="col-md-6 text-right padExtraR">
                <%= image_tag("group1.png", class: "eventR") %>
                <div class='eventTitleMod'>Okanagan Hiking Club</div> 
              </div>
              <div class="col-md-6 text-left padExtraL">
                <%= image_tag("group2.png", class: "eventR") %>
                <div class='eventTitle'>Latin Dance</div> 
              </div>
            </div>

    
          </div>
        </div>

      </div>



<%= image_tag("blueGreyBG.jpg", class: "imageHere") %>

    </div>


    <div class="section">
      <div class="one">
        <div class='leftSideTopMod'>You probably get it by now, it's about you. </div> 
        <div class='button '><%= button_to "Get Started", signup_path, method: :get, class: "btnFront" %></div> 
      </div>

      <%= image_tag("signUp.jpg", class: "imageHere") %>
    </div>

</div>




    <!-- Front Page End -->