<%= stylesheet_link_tag 'main_mobile', media: 'all' %>


<div class="container">
	<div class="text-center">
		<%= image_tag("logoIcon.png", class: "logoMobile") %>
	</div>

		<div class="userImage">
		<%= image_tag(current_user.avatar_url, class: "userAvatar") %>
	</div>
</div>

	<div>


	    <div class="titleSec container">People Near You</div>

	    <div class="scrolling-wrapper">
	    	<%= render 'peopleMobile' %>

	    	<span class=" mobileVE testMargeMoreMain">
	          <%= link_to discover_users_path, method: :get, class: "specialA" do %>
	          <div class="testMargeIn">
	            
	              ...
	            
	          </div>
	          <% end %>
	      </span>
	    </div>


	   <div class="titleSec container" style="margin-top: 25px;">Events</div>
	   <div class="container">
	   	<%= render 'eventsMobile' %>
	   </div>


	   <div class="titleSec container" style="margin-top: 25px;">Groups</div>

	   	<%= render 'groupsMobile' %>
	  
	    
	    



	</div>

