  


  <div class="scrollMembers container ">

  
    <% @users.first(8).each do |user| %>

    <% if user.avatar.present? & user.image.present? %>
    
  
    <% collide = current_user.followingI.ids & user.followingI.ids %>

      
        <div class="followersSec ">


          <div class="elementBoxPpl">

        <% if user.avatar.present? %>
  
          <a href="users/<%= user.id %>" data-href="<%= user.avatar_url(:thumb) %>" data-method="get" class="lazy-load replace userImages">
                <%= image_tag(user.avatar_url(:thumb), class: "userImg preview") if @user.avatar? %>
          

           </a>
      <% else %>
      <% end %>



  <%= link_to user, method: :get, class: "specialA" do %>

          <div class="followerNameSec"><%= truncate(user.name.gsub(/\s.+/, '')) %></div>






          <% if current_user.friends.include?(user) %>
            <div class="friendsInDiscover">Already friends</div>
          <% else %>
            <div class="followerNameSec2"><%= collide.count %> shared interests</div>
          <% end %>

          
          
        </div>


        
        </div>
        <% end %>

      <% end %>

    <% end %>


    <span class="mobileVE testMargeMoreMain">
          <%= link_to discover_users_path, method: :get, class: "specialA" do %>
          <div class="testMargeIn">
            
              ...
            
          </div>
          <% end %>
      </span>


  </div>