<%= stylesheet_link_tag 'main', media: 'all' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>




<body onload="getLocation()">



  <% if !session[:user_id] %>


  <style>
    body{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
      .slide1 {
          background: url('<%= asset_path 'front1.jpg' %>')no-repeat center;
              background-size: cover;
            animation:fade 30s infinite;
        -webkit-animation:fade 30s infinite;

        } 



    .slide2 {
      background: url('<%= asset_path 'front2.jpg' %>')no-repeat center;
          background-size: cover;
        animation:fade2 30s infinite;
    -webkit-animation:fade2 30s infinite;
    }
    .slide3 {
        background: url('<%= asset_path 'front3.jpg' %>')no-repeat center;
          background-size: cover;
        animation:fade3 30s infinite;
    -webkit-animation:fade3 30s infinite;
    }

    @media screen and (max-width: 776px){
      .bottomNav{
        display: none;
      }
    }

  </style>

  <!-- Front Page Start -->


<div class='slider'>

   <div class='title'>Create new experiences</div>
   <div class='titleSub'>Get involved in your community with people just like you</div>  
   <div class='button'><%= button_to "Join Proximy", login_path, method: :get, class: "btnFront" %></div> 

  <div class='slide1'></div>
  <div class='slide2'></div>
  <div class='slide3'></div>
</div>

    <!-- Front Page End -->



  <% end %>




  <% if session[:user_id] %>
  <div class="container">
    <div class="titleSec">Top Prospects</div>
  </div>
  <div class="scrollMembers container ">
  
    <% @users.each do |user| %>
    <% unless user.id == current_user.id %>
        <%= link_to user, method: :get, class: "specialA" do %>
        <div class="followersSec">
          <% unless user.avatar.present? %>
            <%= avatarFront_for(user) %>
          <% end %>
          <%= image_tag(user.avatar_url(:thumb), class: "userImg") if user.avatar? %>
          <div class="followerNameSec"><%= truncate(user.name.gsub(/\s.+/, '')) %></div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

     <div class="container">
      <div class="titleSec">Newsfeed</div>
    </div>
    <div class="container mobNavs">
      <div class="grid displayModals">
      <div class="grid-sizer"></div>
        <% @all_posts.reverse.each do |post| %>
          <div class="card grid-item" data-aos="fade-up" >
              <span data-toggle="modal" data-target="#postModal"
                    data-poster="<%= post.user.name %>"
                    data-body="<%= post.content %>"
                    data-time="<%= post.updated_at.to_time.strftime('%B %e') %>"
                    <%= ("data-image=\"" << post.image_url << "\"") if post.image? %>
                    <%= ("data-test=\"" << post.user.avatar_url(:thumb) << "\"") if post.user.avatar? %> 
              >



            <%= image_tag(post.image_url, class: "card-img-top") if post.image? %>
            <div class="card-body">
              <p class="card-text"><%= truncate post.content, length: 70, separator: ' ' %></p>
            </div>


            <% if post.is_a? GroupPost %>

              <div class="card-footer">
                <%= link_to post.group, method: :get, class: "specialA" do %>
                  <%= image_tag(post.group.image_url(:thumb), class: "userImage2") if post.group.image? %>
                <% end %>
                <small class="text-muted"><%= post.group.title %> on <%= post.updated_at.to_time.strftime('%B %e') %></small>
                <%= image_tag("groups.png", class: "ImageIDer") %>
              </div>

            <% elsif post.is_a? EventPost %>

              <div class="card-footer">
                <%= link_to post.event, method: :get, class: "specialA" do %>
                  <%= image_tag(post.event.image_url(:thumb), class: "userImage2") if post.event.image? %>
                <% end %>
                <small class="text-muted"><%= post.event.title %> on <%= post.updated_at.to_time.strftime('%B %e') %></small>
                <%= image_tag("event.png", class: "ImageIDer") %>
              </div>

            <% elsif post.is_a? Post %>
              
              <div class="card-footer">
                <%= link_to post.user, method: :get, class: "specialA" do %>
                  <%= image_tag(post.user.avatar_url(:thumb), class: "userImage2") if post.user.avatar? %>
                <% end %>
                <small class="text-muted"><%= post.user.name %> on <%= post.updated_at.to_time.strftime('%B %e') %></small>
                <%= image_tag("user.png", class: "ImageIDer") %>
              </div>

            <% end %>




            </span>
          </div>

        <% end %>
      </div>
    </div>



  <div class="modal fade displayModals" id="postModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">


        <div id="modalPostImage"></div>
        <div class="modal-body">
          <div id="modalPostBody"></div>
        </div>
        <div class="modal-footer">
          <span id="test" class="userImageModal"></span>
          <span class="modal-title" id="modalPoster"></span> on
          <span class="modal-title" id="modalPostTime"></span>

        </div>
      </div>
    </div>
</div>



</body>


  <script>



    $('#postModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);


        var posterName = button.data('poster');
        var postBody = button.data('body');
        var postTime = button.data('time');


        if (button.data("image") !== undefined) {
            var imageURL = button.data("image");
            $("#modalPostImage").html("<img src=" + imageURL + ">");
        }



        if (button.data("test") !== undefined) {
            var userImageURL = button.data("test");
            $("#test").html("<img src=" + userImageURL + ">");
        }





        var modal = $(this);
        $("#modalPoster").text(posterName);
        $("#modalPostBody").text(postBody);
        $("#modalPostTime").text(postTime);
    })




  </script>


<% end %>   





<script>
      var elem = document.querySelector('.grid');
      var msnry = new Masonry(elem, {
          // options
          columnWidth: '.grid-sizer',
          itemSelector: '.grid-item',
          percentPosition: true,
          gutter: 10,
          horizontalOrder: true,
          stagger: 30
      });

</script>

<script>
  var x = document.getElementById("geoloc");

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
      navigator.geolocation.getCurrentPosition(getLat);
      navigator.geolocation.getCurrentPosition(getLon);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
  }


   function getLat(position) {
    var lat = position.coords.latitude;

    $(document).ready(function () {
      $("#latField").val(lat);
    })
  }


  function getLon(position) {
    var lon = position.coords.longitude;

    $(document).ready(function () {
      $("#lonField").val(lon);
    })
  }







</script>





































