<%= stylesheet_link_tag 'main', media: 'all' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script>
    AOS.init();
</script>




<body >
<!-- Posted by artist bottom right -->

  <% if !session[:user_id] %>

  <%= javascript_include_tag( 'jquery.pagepiling.js' ) %>
  <%= javascript_include_tag( 'jquery.pagepiling.min.js' ) %>
  <%= stylesheet_link_tag 'jquery.pagepiling.css' %>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#pagepiling').pagepiling();
    });
  </script>

  <style>
    {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }


    .topNav{
      display: none;
    }



    .slide1 {

            background-size: cover;
          animation:fade 30s infinite;
      -webkit-animation:fade 30s infinite;

      } 



    .slide2 {
      background: url('<%= asset_path 'front2.jpg' %>')no-repeat center;
          background-size: cover;
        animation:fade2 30s infinite;
    -webkit-animation:fade2 30s infinite;
    }
    .slide3 {
        background: url('<%= asset_path 'front3.jpg' %>')no-repeat center;
          background-size: cover;
        animation:fade3 30s infinite;
    -webkit-animation:fade3 30s infinite;
    }

    @media screen and (max-width: 776px){
      .bottomNav{
        display: none;
      }
    }

  </style>

  <!-- Front Page Start -->


<div id="pagepiling">
    <div class="section">

      <%= image_tag("proximyLogo.png", class: "logoImage") %>
      <div class='titleSub'>Get involved in your community with people like you</div>  
      <div class='button'><%= button_to "Get Started", login_path, method: :get, class: "btnFront" %></div> 
      <div class='button2'><%= button_to "Sign In", login_path, method: :get, class: "btnFront2" %></div> 
      <%= image_tag("image1.jpg", class: "imageHere") %>



    </div>





    <div class="section">

    <div class='leftSide'>a space for you</div> 
    <div class='leftSideSub'>we created a space where people can really be themselves, a space where people can see the most relevant and exciting suggestions on ways to get involved.</div> 
    <%= image_tag("post1.png", class: "postImage1") %>
    <%= image_tag("post2.png", class: "postImage2") %>
    <%= image_tag("post3.png", class: "postImage3") %>
    <%= image_tag("post4.png", class: "postImage4") %>
    <%= image_tag("post5.png", class: "postImage5") %>



      <%= image_tag("front2.jpg", class: "imageHere") %>
    </div>




    <div class="section">
      <div class="titantron">
        <%= image_tag("profile.png", class: "profileImg2") %>
        <div class="profileName">Alexa</div> 
      </div>
      <%= image_tag("interest1.png", class: "interets1") %>
      <%= image_tag("interest3.png", class: "interets2") %>
      <%= image_tag("interest6.png", class: "interets3") %>
      <%= image_tag("interest5.png", class: "interets4") %>
      <%= image_tag("interest7.png", class: "interets5") %>
      <%= image_tag("interest8.png", class: "interets6") %>
      <%= image_tag("interest9.png", class: "interets7") %>
      <%= image_tag("interest10.png", class: "interets8") %>





      <div class='name'>your interests</div> 
      <div class='nameSub'>you select your interests, and we help you find people, events and groups around you. the whole idea is to help you make meaningful connection with new people and help you be active in your community.</div> 


      <%= image_tag("front3.jpg", class: "imageHere") %>
    </div>

    <div class="section">



      <div class="together1">
        <%= image_tag("profile2.png", class: "profile1") %>
        <div class="profile1name">Alannah</div> 
        <div class="profile2name">Interests in common</div>
        <div class="row">
          <div class="sec50">
            <%= image_tag("interest1.png", class: "interetsC") %> 
          </div>
          <div class="sec50">
            <%= image_tag("interest3.png", class: "interetsC") %>
          </div> 
        </div>

      </div>


      <div class="together2">
        <%= image_tag("profile3.png", class: "profile1") %>
        <div class="profile1name">Jeremy</div> 
        <div class="profile2name">Interests in common</div> 
        <div class="row">
          <div class="sec50">
            <%= image_tag("interest7.png", class: "interetsC") %> 
          </div>
          <div class="sec50">
            <%= image_tag("interest10.png", class: "interetsC") %>
          </div> 
        </div>

        
      </div>


      <div class="together3">
        <%= image_tag("profile4.png", class: "profile1") %>
        <div class="profile1name">Andrea</div>
        <div class="profile2name">Interests in common</div>  
        <div class="row">
          <div class="sec50">
            <%= image_tag("interest8.png", class: "interetsC") %> 
          </div>
          <div class="sec50">
            <%= image_tag("interest6.png", class: "interetsC") %>
          </div> 
        </div>
        
        
      </div>



    
      


    <div class='name'>find people like you</div> 
    <div class='nameSub'>we connect you to people that have similar interests to you.</div> 








      <%= image_tag("front4.jpg", class: "imageHere") %>
    </div>


    <div class="section">
      <div class="all">
        <div class="one">
          <div class='leftSideTop'>events</div> 
          <div class='leftSideSubTop'>you select your interests, and we help you find people, events and groups around you. the whole idea is to help you make meaningful connection with new people and help you be active in your community.</div> 
          <div class="oneLower">
            <%= image_tag("event1.png", class: "eventR") %>
            <div class='eventTitle'>Event 1</div> 

          </div>
          <div class="twoLower">
            <%= image_tag("event1.png", class: "eventL") %>
            <div class='eventTitle'>Event 2</div> 
          </div>
          <div class="oneEvenLower">
            <%= image_tag("event1.png", class: "eventR") %>
            <div class='eventTitle'>Event 3</div> 

          </div>
          <div class="twoEvenLower">
            <%= image_tag("event1.png", class: "eventL") %>
            <div class='eventTitle'>Event 4</div> 
            
          </div>
        </div>
        <div class="two">
          <div class='leftSideTop'>groups</div> 
          <div class='leftSideSubTop'>you select your interests, and we help you find people, events and groups around you. the whole idea is to help you make meaningful connection with new people and help you be active in your community.</div> 
    
           <div class="allLower">
            <%= image_tag("event1.png", class: "group") %>
            <div class='groupTitle'>Event 1</div> 

          </div>
          <div class="allEvenLower">
            <%= image_tag("event1.png", class: "group") %>
            <div class='groupTitle'>Event 4</div> 
            
          </div>
        </div>

      </div>


      <%= image_tag("front2.jpg", class: "imageHere") %>
    </div>

</div>





    <!-- Front Page End -->



  <% end %>



  <% if session[:user_id] %>
  <div class="container">
    <div class="titleSec">Top Prospects</div>
  </div>
  <div class="scrollMembers container ">
  
    <% @users.each do |user| %>
    <% unless user.id == current_user.id %>
        <%= link_to user, method: :get, class: "specialA" do %>
        <div class="followersSec">
          <% unless user.avatar.present? %>
            <%= avatarFront_for(user) %>
          <% end %>
          <%= image_tag(user.avatar_url(:thumb), class: "userImg") if user.avatar? %>
          <div class="followerNameSec"><%= truncate(user.name.gsub(/\s.+/, '')) %></div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

     <div class="container">
      <div class="titleSec">Newsfeed</div>
    </div>
    <div class="container mobNavs">
      <div class="grid displayModals">
      <div class="grid-sizer"></div>
        <% @all_posts.reverse.each do |post| %>
        <% if post.image.present? %>
          <div class="card grid-item" data-aos="fade-up" >
              <span data-toggle="modal" data-target="#postModal"
                   

                    data-poster="<%= post.user.name %>"



                <% if post.is_a? GroupPost %>
                 <%= ("data-groupimage=\"" << post.group.image_url(:thumb) << "\"") if post.group.image? %> 
                 data-class="<%= post.class %>"
                <% elsif post.is_a? EventPost %>
                 <%= ("data-eventimage=\"" << post.event.image_url(:thumb) << "\"") if post.event.image? %>
                 data-class="<%= post.class %>"
                <% elsif post.is_a? Post %>
                  <%= ("data-userimage=\"" << post.user.avatar_url(:thumb) << "\"") if post.user.avatar? %> 
                  data-class="<%= post.class %>" 
                <% end %>

                   
                    data-body="<%= post.content %>"
                    data-time="<%= post.updated_at.to_time.strftime('%B %e') %>"
                    <%= ("data-image=\"" << post.image_url << "\"") if post.image? %>
                    
                    
              >



            <%= image_tag(post.image_url, class: "card-img-top") if post.image? %>

             <div class="card-body">
              <p class="card-text"><%= truncate post.content, length: 115, separator: ' ' %></p>
            </div>


            <% if post.is_a? GroupPost %>

              <div class="card-footer">
                <%= link_to post.group, method: :get, class: "specialA" do %>
                  <%= image_tag(post.group.image_url(:thumb), class: "userImage2") if post.group.image? %>
                <% end %>
                <small class="text-muted"><%= post.group.title %></small>
                <%= image_tag("groups.png", class: "ImageIDer") %>
              </div>

            <% elsif post.is_a? EventPost %>

              <div class="card-footer">
                <%= link_to post.event, method: :get, class: "specialA" do %>
                  <%= image_tag(post.event.image_url(:thumb), class: "userImage2") if post.event.image? %>
                <% end %>
                <small class="text-muted"><%= post.event.title %></small>
                <%= image_tag("event.png", class: "ImageIDer") %>
              </div>

            <% elsif post.is_a? Post %>
              
              <div class="card-footer">
                <%= link_to post.user, method: :get, class: "specialA" do %>
                  <%= image_tag(post.user.avatar_url(:thumb), class: "userImage2") if post.user.avatar? %>
                <% end %>
                <small class="text-muted"><%= post.user.name %></small>
                <%= image_tag("user.png", class: "ImageIDer") %>
              </div>

            <% end %>




            </span>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>


  <div class="modal fade displayModals" id="postModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">


        <div id="modalPostImage"></div>
        <div class="modal-body">
          <div id="modalPostBody"></div>
        </div>
        <div class="modal-footer">

 
        <span id="groupImgM" class="userImageModal"></span>
     
        <span id="eventImgM" class="userImageModal"></span>
   
        <span id="userImgM" class="userImageModal"></span>
 
        
        



          <span class="modal-title" id="modalPoster"></span>
   

          <span class="modal-title">on</span>






          <span class="modal-title" id="modalPostTime"></span>





        </div>
      </div>
    </div>
  </div>




</body>


  <script>



    $('#postModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);



        var posterName = button.data('poster');
        var classType = button.data('class');
        var postBody = button.data('body');
        var postTime = button.data('time');


        if (button.data("image") !== undefined) {
            var imageURL = button.data("image");
            $("#modalPostImage").html("<img src=" + imageURL + ">");
        }




        if (classType == "GroupPost"){
          if (button.data("groupimage") !== undefined) {
            var userImageURL = button.data("groupimage");
            $("#groupImgM").html("<img src=" + userImageURL + ">");
          }

        }



        if (classType == "EventPost"){
          if (button.data("eventimage") !== undefined) {
            var eventImageURL = button.data("eventimage");
            $("#eventImgM").html("<img src=" + eventImageURL + ">");
          }
        }



        if (classType == "Post"){
          if (button.data("userimage") !== undefined) {
              var userImageURL = button.data("userimage");
              $("#userImgM").html("<img src=" + userImageURL + ">");
          }
        }




        var modal = $(this);
        $("#modalClass").text(classType);
        $("#modalPoster").text(posterName);
        $("#modalPostBody").text(postBody);
        $("#modalPostTime").text(postTime);
    })




  </script>


<% end %>   




<script>
jQuery(window).on('load', function(){ var $ = jQuery;
      var elem = document.querySelector('.grid');
      var msnry = new Masonry(elem, {
          // options
          columnWidth: '.grid-sizer',
          itemSelector: '.grid-item',
          percentPosition: true,
          gutter: 10,
          horizontalOrder: true,
          stagger: 30
      });
});
</script>
































