<%= stylesheet_link_tag 'main', media: 'all' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>


<%= stylesheet_link_tag "lazy-load-images.min", :media => "all" %>
<%= javascript_include_tag 'lazy-load-images.min', 'data-turbolinks-track': 'reload' %>







<body >
<!-- Posted by artist bottom right -->

  <% if !signed_in? %>
  <%= stylesheet_link_tag "sessions", :media => "all" %>





      
  <%= render "landingPage" %>



  <% end %>







 <% if signed_in? %>




<div style="margin-top: 60px;">
  <div class="container">
    <div class="titleSec">People Near You</div>
  </div>


  <div class="complete">
    <%= render "people" %>
  </div>

</div>







<div style="margin-top: 20px;">
  <div class="container">
    <div class="titleSec">Events</div>
  </div>


  <div class="complete">
    <%= render "events" %>
  </div>



</div>



<div style="margin-top: 20px; padding-bottom: 50px;">
  <div class="container">
    <div class="titleSec">Groups</div>
  </div>

  <div class="complete">
    <%= render "groups" %>
  </div>



</div>












  <div class="modal fade displayModals" id="postModal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">


        <div id="modalPostImage"></div>

        <div class="modal-body">
          <div id="modalPostBody"></div>
        </div>
  

        <div class="modal-footer">

 
        <span id="groupImgM" class="userImageModal"></span>
     
        <span id="eventImgM" class="userImageModal"></span>
   
        <span id="userImgM" class="userImageModal"></span>
 
        
        



          <span class="modal-title" id="modalPoster"></span>
          <span class="modal-title" id="modalPosterGroup"></span>
          <span class="modal-title" id="modalPosterEvent"></span>
   

          <span class="modal-title">on</span>






          <span class="modal-title" id="modalPostTime"></span>





        </div>




      </div>
    </div>
  </div>




</body>


  <script>



    $('#postModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);



        var posterName = button.data('poster');
        var posterGroup = button.data('postergroup');
        var posterEvent = button.data('posterevent');
        var classType = button.data('class');
        var postBody = button.data('body');
        var postTime = button.data('time');


        if (button.data("image") !== undefined) {
            var imageURL = button.data("image");
            $("#modalPostImage").html("<img src=" + imageURL + ">");
        }




        if (classType == "GroupPost"){
          if (button.data("groupimage") !== undefined) {
            var userImageURL = button.data("groupimage");
            $("#groupImgM").html("<img src=" + userImageURL + ">");
            $("#groupImgM").css({"display": "inline-block"});
            $("#eventImgM").css({"display": "none"})
            $("#userImgM").css({"display": "none"});
          }

        }



        if (classType == "EventPost"){
          if (button.data("eventimage") !== undefined) {
            var eventImageURL = button.data("eventimage");
            $("#eventImgM").html("<img src=" + eventImageURL + ">");
            $("#eventImgM").css({"display": "inline-block"});
            $("#groupImgM").css({"display": "none"});
            $("#userImgM").css({"display": "none"});
          }
        }



        if (classType == "Post"){
          if (button.data("userimage") !== undefined) {
              var userImageURL = button.data("userimage");
              $("#userImgM").html("<img src=" + userImageURL + ">");
              $("#userImgM").css({"display": "inline-block"});
              $("#groupImgM").css({"display": "none"});
              $("#eventImgM").css({"display": "none"});
          }
        }




        var modal = $(this);
        $("#modalClass").text(classType);


        if (classType == "GroupPost"){
          $("#modalPosterGroup").text(posterGroup);
          $("#modalPosterGroup").css({"display": "inline-block"});
          $("#modalPoster").css({"display": "none"});
          $("#modalPosterEvent").css({"display": "none"});
        }

        if (classType == "Post"){
          $("#modalPoster").text(posterName);
          $("#modalPoster").css({"display": "inline-block"});
          $("#modalPosterGroup").css({"display": "none"});
          $("#modalPosterEvent").css({"display": "none"});
        }
        
        if (classType == "EventPost"){
          $("#modalPosterEvent").text(posterEvent);
          $("#modalPosterEvent").css({"display": "inline-block"});
          $("#modalPoster").css({"display": "none"});
          $("#modalPosterGroup").css({"display": "none"});
        }
        



        $("#modalPostBody").text(postBody);
        $("#modalPostTime").text(postTime);
    })




  </script>


<% end %>   






















