       
           <style type="text/css">
                .form-control{
                    margin: 0 auto;
                    margin-bottom: 35px;
                }
               
               @media screen and (max-width: 776px){
                    .mobileSignUp {
                        padding: 25px;
                    }
               }
           </style>
  





            <div class="text-center logField">
                      <div class="logoParent">
            <%= image_tag("logoIcon.png", class: "logoImg") %>
        </div>
                <div class="logField-edits">
                    <%= form_for(:session, url: session_path) do |f| %>
                    <div class="emailField">
                        <%= f.email_field :email, class: 'form-control' , placeholder: "Email" %>
                    </div>
                    <div class="passField">
                        <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>
                    </div>
                </div>

                <div class="text-center loginSec">
                     <%= f.submit "Log in", class: "fileBtnSubmitSign" %>
                 <% end %>
                    <div class="text-center loginSec2">
                        <%= button_to "Sign up", signup_path, method: :get, class: "fileBtnSubmitSign2" %>
                    </div>
                     <hr>
                    <%= link_to image_tag("fbButton.png", id: "sign_in"),  "/auth/facebook"  %>
          
                </div>
              
                  <div class="agreements">By creating an account you agree to <%= link_to "Terms & Conditions", terms_path, method: :get, class: "legalLinks" %> and <%= link_to "Privacy Policy", privacy_path, method: :get, class: "legalLinks" %>.</div>
       



               
            </div>