<%= form_for(group_post) do |f| %>
  <% if group_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_post.errors.count, "error") %> prohibited this group_post from being saved:</h2>

      <ul>
      <% group_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.collection_select(:group_id, @groupsFollow, :id, :title, {prompt: "Choose a Group"}) %>
  </div>

         

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
