<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @group_post.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @group_post.image %>
</p>

<%= link_to 'Edit', edit_group_post_path(@group_post) %> |
<%= link_to 'Back', group_posts_path %>
