<p id="notice"><%= notice %></p>



<%= image_tag(@group_post.image_url(:thumb)) if @group_post.image? %>

<p>
  <strong>Content:</strong>
  <%= @group_post.content %>
</p>


<p>
  <strong>Group:</strong>
  <%= @group_post.group.title %>
</p>

<hr>

<div class="col-md-12">
<%= render 'group_comments/form' %>
</div>



<hr>


<div class="col-md-12">
<%= render @group_post.group_comments.reverse %>
</div>




<hr>

