

<div id="messages" data-conversation-id="<%= @conversation.id %>">
  <%= render @conversation.messages %>
</div>











<%= form_for @message, url: conversation_path(@conversation), html: {class: "ui reply form"} do |f| %>
 <div class="field">
   <%= f.text_area :body, class: "form-control" %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div>
   <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
 </div>
<% end %>