 <%= stylesheet_link_tag 'notifications', media: 'all' %>



 <div class="container noPad3">
    <div class="topTitle2">Notifications</div>
 </div>


<div class="section">
<% if @userFriendships.present? %>
 <div class="container ">
	<div class="titleSecSub">Friend Requests</div>
</div>
<div class="container noPad1">



	<% @userFriendships.each do |invFriends| %>
	<% unless invFriends.status == "accepted" %>
     <% collide = current_user.followingI.ids & invFriends.user.followingI.ids %>
 		<%= link_to invFriends.user, method: :get, class: "specialA" do %>
		<div class="col-md-2 col-xs-6 noPad8PX " >
	     <div class="elementBoxPpl">


          <% unless invFriends.user.avatar.present? %>
            <%= avatarDiscover_for(@user) %>
          <% end %>
          <%= image_tag(invFriends.user.avatar_url(:thumb), class: "peopleImage") if invFriends.user.avatar? %>

          <div class="discoverTitleSec">
            <div class="discoverName"><%= truncate(invFriends.user.name.gsub(/\s.+/, '')) %></div>
            <div class="discoverNum"><%= collide.count %> shared interests</div>
          </div>


          

          </div>


          <%= link_to update_friendship_friendship_path(invFriends), method: :patch, class: "specialA" do %>
            <div class="acceptButton">


            Accept

        	</div>
        <% end %>
         </div>

<% end %>



	<% end %>
	<% end %>
</div>

<% else %>

<% end %>
</div>




<!-- Invivtations Section START -->


<div class="section">
<div class="container">
  <div class="titleSecSub">Event invitations</div>
</div>



<div class="container noPad3">
  <% @invitations.reverse.each do |invitation| %>
 




      <div class="col-md-4 col-xs-12 testMarge">
        
        
                <div class="elementBox">
                  <%= image_tag(invitation.event.image_url(:event), class: "groupImageDisc") if invitation.event.image? %>
                  <div class="eventContentDisc">
                    <div class="eventDateDisc"><%= invitation.event.event_date.strftime('%B %e') %></div>
                  </div>
                  <div class="groupTitleDisc"><%= truncate(invitation.event.title, length: 35) %></div>
                  <div class="newEvent"><%= invitation.sender.name %> invited you to this event </div>
                </div>




    

    
      </div>





  <% end %>
</div>

</div>


<!-- Invivtations Section END -->


<div class="section">
<% if @eventNotifsPage.present? %>
<div class="container">
	<div class="titleSecSub">New events from your groups</div>
</div>



<div class="container noPad3">
	<% @eventNotifsPage.reverse.each do |eventNotif| %>
    <% if eventNotif.event.event_date > Date.today %>




			<div class="col-md-4 col-xs-12 testMarge">
        
		<%= link_to update_notif_notification_path(eventNotif), method: :patch, class: "specialA" do %>


			<% if eventNotif.is_checked == false %>
				
                <div class="elementBox">
                  <%= image_tag(eventNotif.event.image_url(:event), class: "groupImageDisc") if eventNotif.event.image? %>
                  <div class="eventContentDisc">
                    <div class="eventDateDisc"><%= eventNotif.event.event_date.strftime('%B %e') %></div>
                  </div>
                  <div class="groupTitleDisc"><%= truncate(eventNotif.event.title, length: 35) %></div>
                  <div class="newEvent">New event for <%= eventNotif.event.group.title %> </div>

     
                </div>


				<% else %>
                <div class="elementBox">
                  <%= image_tag(eventNotif.event.image_url(:event), class: "groupImageDisc") if eventNotif.event.image? %>
                  <div class="eventContentDisc">
                    <div class="eventDateDisc"><%= eventNotif.event.event_date.strftime('%B %e') %></div>
                  </div>
                  <div class="groupTitleDisc"><%= truncate(eventNotif.event.title, length: 35) %></div>
     
                </div>

				<% end %>
		

			<% end %>
		
			</div>




  <% end %>



	<% end %>
</div>
<% else %>
<% end %>

</div>





<% unless @userFriendships.present? or @eventNotifsPage.present? %>
	<div class="container">
		
		<div class="text-center">
			<%= image_tag("alarm.png", class: "noNotifs") %>
			<div class="titleSecSub">No notifications at the moment</div>
		</div>




	</div>

<% end %>
















