 <%= stylesheet_link_tag 'notifications', media: 'all' %>







<div class="selectPanel">
  <div class=" noPad3">
  <div class="topTitle2">Notifications</div>


  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <div class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
      Friend Requests
    </div>
    <div class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
      Profile
    </div>
    <div class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
      Messages
    </div>
    <div class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
      Settings
    </div>
  </div>



  </div>
</div>



<div class="notificationPanel">
  

<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active in" id="v-pills-home" >


<div class="noPad1">



  <% @userFriendships.each do |invFriends| %>
  <% unless invFriends.status == "accepted" %>
     <% collide = current_user.followingI.ids & invFriends.user.followingI.ids %>
    <%= link_to invFriends.user, method: :get, class: "specialA" do %>
    <div class="col-md-20 noPad3 " >
       <div class="elementBoxPpl">


          <% unless invFriends.user.avatar.present? %>
            <%= avatarDiscover_for(@user) %>
          <% end %>
          <%= image_tag(invFriends.user.avatar_url(:thumb), class: "peopleImage") if invFriends.user.avatar? %>

          <div class="discoverTitleSec">
            <div class="discoverName"><%= truncate(invFriends.user.name.gsub(/\s.+/, '')) %></div>
            <div class="discoverNum"><%= collide.count %> shared interests</div>
          </div>


          

          </div>


          <%= link_to update_friendship_friendship_path(invFriends), method: :patch, class: "specialA" do %>
            <div class="acceptButton">


            Accept

          </div>
        <% end %>
         </div>

<% end %>



  <% end %>
  <% end %>
</div>
  


</div>
  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">B</div>
  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">C</div>
  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">D</div>
</div>
<% if @userFriendships.present? %>






<% else %>

<% end %>
</div>










<!-- Invivtations Section START -->

<!--

<div class="section">
<div class="container">
  <div class="titleSecSub">Event invitations</div>
</div>



<div class="container noPad3">
  <% @invitations.reverse.each do |invitation| %>
 




      <div class="col-md-4 col-xs-12 testMarge">
        
        
                <div class="elementBox">
                  <%= image_tag(invitation.event.image_url(:event), class: "groupImageDisc") if invitation.event.image? %>
                  <div class="eventContentDisc">
                    <div class="eventDateDisc"><%= invitation.event.event_date.strftime('%B %e') %></div>
                  </div>
                  <div class="groupTitleDisc"><%= truncate(invitation.event.title, length: 35) %></div>
                  <div class="newEvent"><%= invitation.sender.name %> invited you to this event </div>
                </div>




    

    
      </div>





  <% end %>
</div>

</div>


<!-- Invivtations Section END -->
<!--

<div class="section">
<% if @eventNotifsPage.present? %>
<div class="container">
	<div class="titleSecSub">New events from your groups</div>
</div>



<div class="container noPad3">
	<% @eventNotifsPage.reverse.each do |eventNotif| %>
    <% if eventNotif.event.event_date > Date.today %>




			<div class="col-md-4 col-xs-12 testMarge">
        
		<%= link_to update_notif_notification_path(eventNotif), method: :patch, class: "specialA" do %>


			<% if eventNotif.is_checked == false %>
				
                <div class="elementBox">
                  <%= image_tag(eventNotif.event.image_url(:event), class: "groupImageDisc") if eventNotif.event.image? %>
                  <div class="eventContentDisc">
                    <div class="eventDateDisc"><%= eventNotif.event.event_date.strftime('%B %e') %></div>
                  </div>
                  <div class="groupTitleDisc"><%= truncate(eventNotif.event.title, length: 35) %></div>
                  <div class="newEvent">New event for <%= eventNotif.event.group.title %> </div>

     
                </div>


				<% else %>
                <div class="elementBox">
                  <%= image_tag(eventNotif.event.image_url(:event), class: "groupImageDisc") if eventNotif.event.image? %>
                  <div class="eventContentDisc">
                    <div class="eventDateDisc"><%= eventNotif.event.event_date.strftime('%B %e') %></div>
                  </div>
                  <div class="groupTitleDisc"><%= truncate(eventNotif.event.title, length: 35) %></div>
     
                </div>

				<% end %>
		

			<% end %>
		
			</div>




  <% end %>



	<% end %>
</div>
<% else %>
<% end %>

</div>





<% unless @userFriendships.present? or @eventNotifsPage.present? %>
	<div class="container">
		
		<div class="text-center">
			<%= image_tag("alarm.png", class: "noNotifs") %>
			<div class="titleSecSub">No notifications at the moment</div>
		</div>







	</div>

<% end %>
















