 <%= stylesheet_link_tag 'notifications', media: 'all' %>







<div class="selectPanel">
  <div class=" noPad3">
  <div class="topTitle2">Notifications</div>





  <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <li class="nav-item active">
    <div class="nav-link active" id="v-pills-friend-tab" data-toggle="pill" href="#v-pills-friend" role="tab" aria-controls="v-pills-friend" aria-selected="true">
      Friend Requests
      <% if @userFriendships.present? %> 
         <span><%= image_tag "redCircle.png", class: "newNotif" %></span>
      <% else %>
      <% end %>
    </div>
  </li>
  <li class="nav-item">
    <div class="nav-link" id="v-pills-new-events-tab" data-toggle="pill" href="#v-pills-new-events" role="tab" aria-controls="v-pills-new-events" aria-selected="false">
      New Events
      <% if @eventNotifsNew.present? %> 
         <span><%= image_tag "redCircle.png", class: "newNotif" %></span>
      <% else %>
      <% end %>
    </div>
  </li>

  <li class="nav-item">
    <div class="nav-link" id="v-pills-events-invs-tab" data-toggle="pill" href="#v-pills-events-invs" role="tab" aria-controls="v-pills-events-invs" aria-selected="false">
      Events Invites
    </div>
  </li>

  </ul>


  </div>
</div>



<div class="notificationPanel">
  

<div class="tab-content" id="v-pills-tabContent">


<div class="tab-pane fade show active in" id="v-pills-friend" >

  <div class="section">


    <div class="noPad1">

      <% if @userFriendships.present? %>

        <% @userFriendships.each do |invFriends| %>
        <% unless invFriends.status == "accepted" %>
           <% collide = current_user.followingI.ids & invFriends.user.followingI.ids %>
          <%= link_to invFriends.user, method: :get, class: "specialA" do %>
          <div class="col-md-20 noPad3 " >
             <div class="elementBoxPpl">


                <% unless invFriends.user.avatar.present? %>
                  <%= avatarDiscover_for(@user) %>
                <% end %>
                <%= image_tag(invFriends.user.avatar_url(:thumb), class: "peopleImage") if invFriends.user.avatar? %>

                <div class="discoverTitleSec">
                  <div class="discoverName"><%= truncate(invFriends.user.name.gsub(/\s.+/, '')) %></div>
                  <div class="discoverNum"><%= collide.count %> shared interests</div>
                </div>


                

                </div>


                <%= link_to update_friendship_friendship_path(invFriends), method: :patch, class: "specialA" do %>
                  <div class="acceptButton">


                  Accept

                </div>
              <% end %>
               </div>

      <% end %>



        <% end %>
        <% end %>

      <% else %>
      <div class="text-center">
        <div class=" noReqArea">
          <%= image_tag("support.png", class: "noReqIcon") %>
        </div>
        <div class="noReqText">
          There are no new friends requests
        </div>

        <div style="margin-top: 30px;">
           <%= link_to "Create new friendships", discover_users_path, method: :get, class: "connectBtn specialA" %>
        </div>
      </div>
      

      <% end %>

      </div>




  </div>
</div>



  <div class="tab-pane fade" id="v-pills-new-events" role="tabpanel" aria-labelledby="v-pills-new-events-tab">
    <div class="section">
        
    <% if @eventNotifsPage.present? %>


      <% @eventNotifsPage.reverse.each do |eventNotif| %>
      




      <div class="col-md-4 col-xs-12" style="margin-top: 20px;">
            
        <%= link_to update_notif_notification_path(eventNotif), method: :patch, class: "specialA" do %>


          <% if eventNotif.is_checked == false %>
            
                    <div class="elementBox">
                      <%= image_tag(eventNotif.event.image_url(:event), class: "groupImageDisc") if eventNotif.event.image? %>
                      <div class="eventContentDisc">
                        <div class="eventDateDisc"><%= eventNotif.event.event_date.strftime('%B %e') %></div>
                    </div>
                    <div class="groupTitleDisc"><%= truncate(eventNotif.event.title, length: 35) %></div>
                    <div class="newEvent">New event for <%= eventNotif.event.group.title %> </div>

       
                  </div>


          <% else %>
                  <div class="elementBox">
                    <%= image_tag(eventNotif.event.image_url(:event), class: "groupImageDisc") if eventNotif.event.image? %>
                    <div class="eventContentDisc">
                      <div class="eventDateDisc"><%= eventNotif.event.event_date.strftime('%B %e') %></div>
                    </div>
                    <div class="groupTitleDisc"><%= truncate(eventNotif.event.title, length: 35) %></div>
       
                  </div>

          <% end %>
      

        <% end %>
      
        </div>




      <% end %>






    <% else %>

       <div class="text-center">
        <div class=" noReqArea">
          <%= image_tag("eventIcon.png", class: "noReqIcon") %>
        </div>
        <div class="noReqText">
          There are no new events
        </div>
        <div style="margin-top: 30px;">
           <%= link_to "Discover new events", events_path, method: :get, class: "connectBtn specialA" %>
        </div>
      </div>
       

      <% end %>

    </div>



  </div>




<div class="tab-pane fade" id="v-pills-events-invs" role="tabpanel" aria-labelledby="v-pills-events-invs-tab">

      <!-- Invivtations Section START -->


  <div class="section">

 <% if @invitations.present? %>

      <div class="noPad1">
        <% @invitations.reverse.each do |invitation| %>
       


            <div class="col-md-4 col-xs-12" style="margin-top: 20px;">
               <%= link_to invitation.event, method: :get, class: "specialA" do %>
              
                      <div class="elementBox">
                        <%= image_tag(invitation.event.image_url(:event), class: "groupImageDisc") if invitation.event.image? %>
                        <div class="eventContentDisc">
                          <div class="eventDateDisc"><%= invitation.event.event_date.strftime('%B %e') %></div>
                        </div>
                        <div class="groupTitleDisc"><%= truncate(invitation.event.title, length: 35) %></div>
                        <div class="newEvent"><%= invitation.sender.name %> invited you to this event </div>
                      </div>
          
              <% end %>
          
            </div>



        <% end %>
      </div>



  <% else %>

     <div class="text-center">
      <div class=" noReqArea">
        <%= image_tag("eventIcon.png", class: "noReqIcon") %>
      </div>
      <div class="noReqText">
        There are no new invitations
      </div>

    </div>
      


    <% end %>







      </div>


      <!-- Invivtations Section END -->
    



  </div>






</div>








</div>






















