 <%= stylesheet_link_tag 'notifications', media: 'all' %>



 <div class="container noPad3">
    <div class="topTitle2">Notifications</div>
 </div>



<% if @userFriendships.present? %>
 <div class="container ">
	<div class="titleSecSub">Friend Requests</div>
</div>
<div class="container noPad1">



	<% @userFriendships.each do |invFriends| %>
	<% unless invFriends.status == "accepted" %>
		 		<div class="col-md-2 col-xs-6 noPad1">
		 			<%= link_to invFriends.user, method: :get, class: "specialA" do %>
						<%= image_tag(invFriends.user.avatar_url(:thumb), class: "interestImage") if invFriends.user.avatar? %>
                        <div class="interestTitleSec">
                          <div class="interestName"><%= invFriends.user.name %> </div>
                        </div>

                        <%= link_to update_friendship_friendship_path(invFriends), method: :patch, class: "specialA" do %>
                        <div class="groupTitleDisc">


                        Accept

                    	</div>
                    <% end %>
						
			
				 	<% end %>
		 		</div>
	<% end %>
	<% end %>
</div>

<% else %>

<% end %>


<% if @eventNotifsPage.present? %>
<div class="container">
	<div class="titleSecSub">New events from your groups</div>
</div>



<div class="container noPad3">
	<% @eventNotifsPage.reverse.each do |eventNotif| %>





			<div class="col-md-4 col-xs-12 testMarge">
		<%= link_to update_notif_notification_path(eventNotif), method: :patch, class: "specialA" do %>


			<% if eventNotif.is_checked == false %>
				
                <div class="elementBox">
                  <%= image_tag(eventNotif.event.image_url(:event), class: "groupImageDisc") if eventNotif.event.image? %>
                  <div class="eventContentDisc">
                    <div class="eventDateDisc"><%= eventNotif.event.event_date.strftime('%B %e') %></div>
                  </div>
                  <div class="groupTitleDisc"><%= truncate(eventNotif.event.title, length: 35) %></div>
     
                </div>


				<% else %>
                <div class="elementBox">
                  <%= image_tag(eventNotif.event.image_url(:event), class: "groupImageDisc") if eventNotif.event.image? %>
                  <div class="eventContentDisc">
                    <div class="eventDateDisc"><%= eventNotif.event.event_date.strftime('%B %e') %></div>
                  </div>
                  <div class="groupTitleDisc"><%= truncate(eventNotif.event.title, length: 35) %></div>
     
                </div>

				<% end %>
		

			<% end %>
		
			</div>







	<% end %>
</div>
<% else %>
<% end %>







<% unless @userFriendships.present? or @eventNotifsPage.present? %>
	<div class="container">
		
		<div class="text-center">
			<%= image_tag("alarm.png", class: "noNotifs") %>
			<div class="titleSecSub">No notifications at the moment</div>
		</div>




	</div>

<% end %>
















