<%= javascript_include_tag( 'jquery.lazyload.js' ) %>

      <% @groups.each do |group| %>
      <% collide = current_user.followingI.ids & group.fgI.ids %>
        <div class="col-md-3 col-xs-6 testMarge">
          <%= link_to group, class: "specialA" do %>
            <div class="elementBox">
              <%= image_tag(group.image_url(:group), class: "groupImageDisc", lazy: true) if group.image? %>
              <div class="eventContent">
                <div class="titleGroups"><%= truncate(group.title, length: 20) %></div>
              </div>
              <div class="sharedInts">
            
                <%= collide.count %> Shared interests
              </div>
            </div>
          <% end %>
          </div>

      <% end %>



      <script type="text/javascript">
        $(document).on('turbolinks:load', function() {
         $("img").lazyload();
         })
      </script>