 <div class="text-center module1">

<div class="innerModule">

  


         <a href="<%= @group.cover_image_url %>" class="lazy-load replace coverImage">
              <%= image_tag(@group.cover_image_url(:preview), class: "groupImageCover preview") if @group.cover_image? %>
            </a>


  <div class="titleInfo">
    <div class="col-md-12 col-xs-12 connArea">
      <div class="groupImageSec1">


             <a href="<%= @group.image_url %>" class="lazy-load replace marginSetsA">
                  <%= image_tag(@group.image_url(:preview), class: "groupImage1 preview") if @group.image? %>
                </a>




      </div>
    </div>
    <div class="groupInfoSec">
      <div>
        <div class="groupTitle"><%= @group.title %></div>  


<% if current_user == @group.user %>




      <div class="col-md-3 text-center" id="follow_formDes">
              <div id="follow_formDes">
                <% if current_user.followingG?(@group) %>
                <%= form_for(current_user.active_relationships_groups.find_by(followedG_id: @group.id), html: { method: :delete }) do |f| %>
                  <%= image_submit_tag "joined.png", class: "iconImage" %>
                        <div class="textOps">
                          Joined group
                        </div>
                     <% end %>
                <% else %>
                    <%= form_for(@group.passive_relationships_groups.build, method: :post) do |f| %>
                      <%= hidden_field_tag :followedG_id, @group.id %>
                      <%= image_submit_tag "join.png", class: "iconImage" %>
                        <div class="textOps">
                          Join group
                        </div>
                    <% end %>
                <% end %>
              </div>
      </div>



      <div class="col-md-3 text-center" id="follow_formDes">
          <%= link_to edit_group_path(@group), method: :get, class: "specialA" do %>
            <%= image_tag("geatInv.png", class: "iconImage") %>
            <div class="textOps">
              Group settings
            </div>
          <% end %>
      </div>

      <div class="col-md-3 text-center" id="follow_formDes">

     <%= link_to interests_group_path(@group), method: :get,  class: "specialA" do %>

          <%= image_tag("filterInv.png", class: "iconImage") %>
          <div class="textOps">
            Edit interests
          </div>
        <% end %>
            
  
      </div>

      <div class="col-md-3 noPad3 text-center" data-target="#show-interests" data-toggle="modal" id="follow_formDes">


        <%= image_submit_tag "interestsInv.png", class: "iconImage" %>
        <div class="textOps">
          View interests
        </div>
  

      </div>

           <div class="col-md-12 col-xs-12 noPad3 inviteButton" data-target="#show-inv" data-toggle="modal">
           <%= button_tag "Invite friends", class: "btn btn-primary inviteButtonDesign" %>
        </div>








<% else %>

        <div id="follow_formDes" class="col-md-6 col-xs-6  text-center">
          <% if current_user.followingG?(@group) %>
            <%= render 'unfollowGroup' %>
          <% else %>
            <%= render 'followGroup' %>
          <% end %>
        </div>




          <div class="col-md-6 col-xs-6 noPad3 text-center" data-target="#show-interests" data-toggle="modal" id="follow_formDes">


              <%= image_submit_tag "interestsLong.png", class: "iconImage" %>
              <div class="textOps">
                View interests
              </div>
        
   
            </div>

     <div class="col-md-12 col-xs-12 noPad3 inviteButton" data-target="#show-inv" data-toggle="modal">
           <%= button_tag "Invite friends", class: "btn btn-primary inviteButtonDesign" %>
        </div>
        


    <% if current_user.following?(@group.user) %>
    
      <div class="col-md-12 col-xs-12 " style="margin-top: 10px;">
      <%= link_to chats_path, method: :get do %>
        <div class="messageAdminBtn">
         <div class="col-md-2 noPad3Desk text-left">

          <%= image_tag(@group.user.avatar_url(:thumb), class: "organizerAv ") %>
           
         </div>
          <div class="col-md-9" style="margin-top: 17px; font-size: 12px;">
            Send message to group leader
         </div>
        </div>
        <% end %>
      </div>

    <% else %>
        <div class="col-md-12 col-xs-12 " style="margin-top: 10px;">
          <%= render 'users/groupMessageAdmin', followed_id: @group.user.id %>
        </div>

    <% end %>


<% end %>





          </div>
        </div>
      </div>



<% if current_user == @group.user %>


<div class="col-xs-3 marginMob">
        <div id="follow_formMob">
                <% if current_user.followingG?(@group) %>
                <%= form_for(current_user.active_relationships_groups.find_by(followedG_id: @group.id), html: { method: :delete }) do |f| %>
                  <%= image_submit_tag "joined.png", class: "iconImage" %>
                        <div class="textOps">
                          Joined group
                        </div>
                     <% end %>
                <% else %>
                    <%= form_for(@group.passive_relationships_groups.build, method: :post) do |f| %>
                      <%= hidden_field_tag :followedG_id, @group.id %>
                      <%= image_submit_tag "join.png", class: "iconImage" %>
                        <div class="textOps">
                          Join group
                        </div>
                    <% end %>
                <% end %>
        </div>

</div>


<div class="col-xs-3 marginMob text-center" id="follow_formMob">
          <%= link_to edit_group_path(@group), class: "specialA" do %>
            <%= image_tag("geatInv.png", class: "iconImage") %>
            <div class="textOps">
              Edit group
            </div>
          <% end %>

</div>
<div class="col-xs-3 marginMob text-center" id="follow_formMob">
       
     <%= link_to interests_group_path(@group),  class: "specialA" do %>

          <%= image_tag("filterInv.png", class: "iconImage") %>
          <div class="textOps">
            Edit interests
          </div>
        <% end %>
            
</div>


  <div class="col-md-offset-1 col-md-4 col-xs-3 noPad3 text-center" data-target="#show-interests" data-toggle="modal" id="follow_formMob">


      <%= image_submit_tag "interestsInv.png", class: "iconImage" %>
      <div class="textOps">
        View interests
      </div>


    </div>



<% else %>
<div class="col-xs-6 marginMob">
        <div id="follow_formMob">
          <% if current_user.followingG?(@group) %>
            <%= render 'unfollowGroup' %>
          <% else %>
            <%= render 'followGroup' %>
          <% end %>
        </div>

</div>


          <div class="col-md-offset-1 col-md-4 col-xs-6 noPad3 text-center" data-target="#show-interests" data-toggle="modal" id="follow_formMob">


              <%= image_submit_tag "interestsLong.png", class: "iconImage" %>
              <div class="textOps">
                View interests
              </div>
        
   
            </div>


<% end %>



<div class="userInfoArea">
  <div class="userInfoElement">

      <div class="infoTitle">
        <%= image_tag("info.png", class: "miniIcon") %>  Description
      </div>
      <div class="infoContent">
        <%= @group.description %>
      </div>

  </div>
</div>








</div>






</div>