<%= stylesheet_link_tag "groups", :media => "all" %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<%= javascript_include_tag 'groups', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript">
  

  $( document ).ready(function() {

      $(".spinner").hide();


  $(document).on("page:fetch", function(){
    $(".spinner").show();
    $(".indexMar").css({"z-index": 99999}).fadeTo(0, 0.5);
  });

  $(document).on("page:receive", function(){
    $(".spinner").hide();
  });

});
</script>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
      


<div class="container mobileArea indexMar">

    <ul class="nav nav-tabs" id="events-nav" role="tablist">
    <li class="nav-item active col-md-3 col-md-offset-2 mobNavs navSelect">
      <a class="nav-link btn btn-prox" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="my events tab">
        Discover
      </a>
    </li>
    <li class="nav-item col-md-3 col-md-offset-2 mobNavs navSelect">
      <a class="nav-link btn btn-prox " id="discover-tab" data-toggle="tab" href="#discover" role="tab" aria-controls="discover tab">
        My Groups
      </a>
    </li>
  </ul>
  

  <div class="tab-content" id="events-nav-content">
    <div class="tab-pane active" id="events" role="events-tab-pane" aria-labelledby="events-tab">

      <h2 class="topTitle2">Discover Groups</h2>




          
          <% @groups.each do |group| %>
            <div class="col-md-3 col-xs-6 testMarge" data-aos="fade-up">
              <%= link_to group, method: :get, class: "specialA" do %>
                <div class="groupBlock">
                  <%= image_tag(group.image_url(:group), class: "groupImageDisc") if group.image? %>
                  <div class="groupTitleDisc"><%= truncate(group.title, length: 30) %></div>
                </div>
              <% end %>
              </div>

          <% end %>


    </div>



    <div class="tab-pane" id="discover" role="discover-tab-pane" aria-labelledby="discover-tab">
        <div class="mainField">
        <h2 class="topTitle2">My Groups</h2>
        <div class="newsfeedIndex text-center ">

          <% if @groupsFollow.present? %>
            <div class="scrollGroupsI">

                  <% @groupsFollow.each do |groupFollowing| %>
                    <%= link_to groupFollowing, method: :get, class: "specialA item" do %>
                      <div class="groupBlock">
                        <%= image_tag(groupFollowing.image_url(:group), class: "groupImageI") if groupFollowing.image? %>
                        <div class="groupTitleI"><%= truncate(groupFollowing.title, length: 30) %></div>
                      </div>
                    <% end %>
                  <% end %>

            </div>
          <% else %>
            <div class="nothing">
              You haven't joined any group
            </div>
          <% end %>
        </div>
      </div>

            <div class="mainField">
        <h2 class="topTitle2">Created Groups</h2>
        <div class="newsfeedIndex text-center ">
          <% if @user.groups.present? %>
          <div class="scrollGroupsI">

                  <% @user.groups.each do |group| %>
                    <%= link_to group, method: :get, class: "specialA item" do %>
                      <div class="groupBlock">
                        <%= image_tag(group.image_url(:group), class: "groupImageI") if group.image? %>
                        <div class="groupTitleI"><%= truncate(group.title, length: 30) %></div>
                      </div>
                    <% end %>
                  <% end %>
  
          </div>
          <% else %>
            <div class="nothing">
              You haven't created any group
            </div>
          <% end %>
        </div>
      </div>


          


    </div>

  </div>












</div>






<div class="col-md-12 col-xs-12">


<br>
<br>
<br>
<br>
<br>
</div>




















