<%= javascript_include_tag 'groups', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "groups", :media => "all" %>
<%= stylesheet_link_tag "animate", :media => "all" %>


<%= stylesheet_link_tag "lazy-load-images.min", :media => "all" %>
<%= javascript_include_tag 'lazy-load-images.min', 'data-turbolinks-track': 'reload' %>
<style type="text/css">
  
  input {
    margin: -2px;
  }

  @media screen and (max-width: 776px){
    .elementBox {
      width: 275px;
    }
  }

</style>

<script type="text/javascript">
  $(document).ready(function () {
   



      setTimeout(function() {
       $(".alert").fadeOut("1000");
      }, 4000);


    })

</script>


<% if flash[:notice] %>
<div class="alert animated pulse " role="alert">
  <div class="alert-success">
      <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>


</div>
<% end %>




<div class="backButton">
  <%= link_to 'javascript:history.back()' do %>
        <%= image_tag("left-arrow.png", class: "leftArrow") %>
  <% end %>
</div>



<!-- Request to join -->
<div class="container noPad3">
<!-- Group Intro Start -->

<div class="col-md-4 col-xs-12 scrollNorm">


  <div class="text-center module1">

<div class="innerModule">

  


         <a href="<%= @group.cover_image_url %>" class="lazy-load replace coverImage">
              <%= image_tag(@group.cover_image_url(:preview), class: "groupImageCover preview") if @group.cover_image? %>
            </a>


  <div class="titleInfo">
    <div class="col-md-12 col-xs-12 connArea">
      <div class="groupImageSec1">


             <a href="<%= @group.image_url %>" class="lazy-load replace marginSetsA">
                  <%= image_tag(@group.image_url(:preview), class: "groupImage1 preview") if @group.image? %>
                </a>




      </div>
    </div>
    <div class="groupInfoSec">
      <div>
        <div class="groupTitle"><%= @group.title %></div>  


<% if current_user == @group.user %>




      <div class="col-md-3 text-center" id="follow_formDes">
              <div id="follow_formDes">
                <% if current_user.followingG?(@group) %>
                <%= form_for(current_user.active_relationships_groups.find_by(followedG_id: @group.id), html: { method: :delete }) do |f| %>
                  <%= image_submit_tag "joined.png", class: "iconImage" %>
                        <div class="textOps">
                          Joined group
                        </div>
                     <% end %>
                <% else %>
                    <%= form_for(@group.passive_relationships_groups.build, method: :post) do |f| %>
                      <%= hidden_field_tag :followedG_id, @group.id %>
                      <%= image_submit_tag "join.png", class: "iconImage" %>
                        <div class="textOps">
                          Join group
                        </div>
                    <% end %>
                <% end %>
              </div>
      </div>



      <div class="col-md-3 text-center" id="follow_formDes">
          <%= link_to edit_group_path(@group), method: :get, class: "specialA" do %>
            <%= image_tag("geatInv.png", class: "iconImage") %>
            <div class="textOps">
              Group settings
            </div>
          <% end %>
      </div>

      <div class="col-md-3 text-center" id="follow_formDes">

     <%= link_to interests_group_path(@group), method: :get,  class: "specialA" do %>

          <%= image_tag("filterInv.png", class: "iconImage") %>
          <div class="textOps">
            Edit interests
          </div>
        <% end %>
            
  
      </div>

      <div class="col-md-3 noPad3 text-center" data-target="#show-interests" data-toggle="modal" id="follow_formDes">


        <%= image_submit_tag "interestsInv.png", class: "iconImage" %>
        <div class="textOps">
          View interests
        </div>
  

      </div>





<% else %>

        <div id="follow_formDes" class="col-md-6 col-xs-6  text-center">
          <% if current_user.followingG?(@group) %>
            <%= render 'unfollowGroup' %>
          <% else %>
            <%= render 'followGroup' %>
          <% end %>
        </div>


          <div class="col-md-6 col-xs-6 noPad3 text-center" data-target="#show-interests" data-toggle="modal" id="follow_formDes">


              <%= image_submit_tag "interestsLong.png", class: "iconImage" %>
              <div class="textOps">
                View interests
              </div>
        
   
            </div>







<% end %>





          </div>
        </div>
      </div>



<% if current_user == @group.user %>


<div class="col-xs-3 marginMob">
        <div id="follow_formMob">
                <% if current_user.followingG?(@group) %>
                <%= form_for(current_user.active_relationships_groups.find_by(followedG_id: @group.id), html: { method: :delete }) do |f| %>
                  <%= image_submit_tag "joined.png", class: "iconImage" %>
                        <div class="textOps">
                          Joined group
                        </div>
                     <% end %>
                <% else %>
                    <%= form_for(@group.passive_relationships_groups.build, method: :post) do |f| %>
                      <%= hidden_field_tag :followedG_id, @group.id %>
                      <%= image_submit_tag "join.png", class: "iconImage" %>
                        <div class="textOps">
                          Join group
                        </div>
                    <% end %>
                <% end %>
        </div>

</div>


<div class="col-xs-3 marginMob text-center" id="follow_formMob">
          <%= link_to edit_group_path(@group), class: "specialA" do %>
            <%= image_tag("geatInv.png", class: "iconImage") %>
            <div class="textOps">
              Edit group
            </div>
          <% end %>

</div>
<div class="col-xs-3 marginMob text-center" id="follow_formMob">
       
     <%= link_to interests_group_path(@group),  class: "specialA" do %>

          <%= image_tag("filterInv.png", class: "iconImage") %>
          <div class="textOps">
            Edit interests
          </div>
        <% end %>
            
</div>


  <div class="col-md-offset-1 col-md-4 col-xs-3 noPad3 text-center" data-target="#show-interests" data-toggle="modal" id="follow_formMob">


      <%= image_submit_tag "interestsInv.png", class: "iconImage" %>
      <div class="textOps">
        View interests
      </div>


    </div>



<% else %>
<div class="col-xs-6 marginMob">
        <div id="follow_formMob">
          <% if current_user.followingG?(@group) %>
            <%= render 'unfollowGroup' %>
          <% else %>
            <%= render 'followGroup' %>
          <% end %>
        </div>

</div>


          <div class="col-md-offset-1 col-md-4 col-xs-6 noPad3 text-center" data-target="#show-interests" data-toggle="modal" id="follow_formMob">


              <%= image_submit_tag "interestsLong.png", class: "iconImage" %>
              <div class="textOps">
                View interests
              </div>
        
   
            </div>


<% end %>



<div class="userInfoArea">
  <div class="userInfoElement">

      <div class="infoTitle">
        <%= image_tag("info.png", class: "miniIcon") %>  Description
      </div>
      <div class="infoContent">
        <%= @group.description %>
      </div>

  </div>
</div>








</div>






</div>


</div>


<!-- Group Intro End -->






<div class="mobileArea col-md-8">



<script type="text/javascript">
$(function () { 
  if ($(window).width() < 960) {
     $(".mobileVE").removeClass("col-md-6");
     $(".mobileVE").removeClass("userEvents");

  }
  else {
    $(".deskVE").removeClass("scrollMembersEvents");
  }
});
</script>


<!-- Event Section Start -->

<div class="eventsSection">



    <div class="titleSec">Upcoming Events</div>




    <% if !@group_events.empty? %>

<!-- Work area START Nov 18 -->

<div class="scrollMembersEvents deskVE">

      <% @group_events.each do |group_event| %>


      <% if Date.today <= group_event.event_date %>


        <span class="col-md-6 userEvents mobileVE">
          <%= link_to group_event, method: :get, class: "specialA" do %>
    
            <div class="elementBox">
            
                <div class="eventImage">
                  <%= image_tag(group_event.image_url, class: "eventImage1") if group_event.image? %>
                </div>
                    <div class="eventContent1">
                        <div class="eventDateI"><%= group_event.event_date.strftime('%B %e') %></div>
                      </div>
                 <div class="eventOverall">
                    <div class="eventContent">
                      <div class="titleGroups"><%= truncate(group_event.title, length: 30)%></div> 
                    </div>

                  <% if group_event.user.present? %>
                    <div class="creatorSign">
                      <div class="imageUserEvent">

                        <%= image_tag(group_event.user.avatar_url(:thumb), class: "userImage2") if group_event.user.avatar? %>
                      </div>
                      <div class="contentUserPost">
                        <span class="poster"><%= group_event.user.name %></span>
                      </div>
                    </div>
                  <% end %>
                </div>
                
            
            </div>
      
          <% end %>
        </span>


      <% end %>



      <% end %>


</div>






<!-- Work area END Nov 18 -->

</div>




    <% else %>
      <div class="noFollowSec">
        <div class="noFollowSecText">There are no upcoming events.</div>
      </div>
    <% end %>
    




<!-- Event Section End -->









<script type="text/javascript">
$(function () { 
  if ($(window).width() < 960) {
     $(".mobileVU").removeClass("col-md-3");
     $(".mobileVU").removeClass("text-center");


  }
  else {
    $(".deskVU").removeClass("scrollMembersUsers");
  }
});
</script>




<div class="newsfeed">



    <div class="titleSec">Group Members</div>



  <div class="scrollMembersUsers deskVU ">
    <% if !@groupFollowers.empty? %> 
      <%  @groupFollowers.last(8).reverse.each do |groupFollower| %>

      <span class="col-md-3 text-center mobileVU">

      <%= link_to groupFollower, method: :get, class: "specialA" do %>
  
        <div class="followersSec">
        
            <div class="eImage">
              <div class="followerImageSec"><%= image_tag(groupFollower.avatar_url(:thumb), class: "groupImage2") if groupFollower.avatar? %></div>
              <div class="followerNameSec"><%= truncate(groupFollower.name.gsub(/\s.+/, ''), length: 20) %></div>
            </div>
        
        </div>
  
      <% end %>
    </span>

      <% end %>


    <% else %>
      <div class="noFollowSec">
        <div class="noFollowSecText">This group has no members.</div>
      </div>
    <% end %>

</div>







    <div class="laterPostBox2">

      <div class="showAllPosts" data-toggle="modal" data-target="#show-users"><button type="button" class="btn btnShowAll">Show Users</button></div>
    </div>


</div>









</div>


</div>





<div class="modal fade" id="postModalG" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="modalPostImage"></div>
      <div class="modal-body">
        <div id="modalPostBody"></div>
      </div>
      <div class="modal-footer">
        <span id="test" class="userImageModal"></span>
        <span class="modal-title" id="modalPoster"></span> on
        <span class="modal-title" id="modalPostTime"></span>
      </div>
    </div>
  </div>
</div>



<% if !@group.group_posts.empty? %>
  <div class="modal fade" id="show-posts" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>
            <% @group.group_posts.reverse.each do |group_post| %>
              <div class="card grid-item allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(group_post.image_url(:post), class: "card-img-top allPostsImage") if group_post.image? %>
                  <% if !group_post.content.blank? %>
                    <div class="card-body">
                      <p class="card-text"><%= truncate group_post.content, length: 500, separator: ' ' %></p>
                    </div>
                  <% end %>
                  <div class="card-footer">
                    <%= link_to group_post.group, class: "specialA bottomSign" do %>
                      <%= image_tag(group_post.group.image_url(:thumb), class: "userImage2") if group_post.group.image? %>
                    <% end %>
                    <small class="text-muted"><%= group_post.group.title %> on <%= group_post.updated_at.to_time.strftime('%B %e') %></small>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<% if !@groupFollowers.empty? %>
  <div class="modal fade" id="show-users" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content-users">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>


            <% @groupFollowers.each do |groupFollower| %>
             <%= link_to groupFollower, class: "specialA" do %>
              <div class="card grid-item-user allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(groupFollower.avatar_url(:thumb), class: "card-img-top allPostsImage") if groupFollower.avatar? %>
                    <div class="card-body">
                      <p class="card-text nameBold"><%= truncate groupFollower.name.gsub(/\s.+/, ''), length: 500, separator: ' ' %></p>
                    </div>

                </div>
              </div>

              <% end %>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>




  <div class="modal fade" id="show-interests" tabindex="-1">
                <button type="button" class="closeInts" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content-users">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>


            <% @group.fgI.each do |interest| %>
              <div class="col-md-3 col-xs-6 noPad1">
                <div class="interestCard">
                  <%= image_tag(interest.image_url(:thumb), class: "interestImage") if interest.image? %>
                  <div class="interestTitleSec">
                    <div class="interestName"><%= interest.name %></div>
                  
                  </div>

                </div>
              </div>
            <% end %>



          </div>
        </div>
      </div>
    </div>
  </div>






<script>
      $(function () { 
      $('.panel-interest').on('click', function (e) {
          var menuItem = $( e.currentTarget );

          if (menuItem.attr('aria-expanded') === 'true') {
              $(this).children(".show-more").text("Open");

          } else {
              $(this).children(".show-more").text("Close");
          }
      });

    });


    $('#show-posts').on('shown.bs.modal', function (e) {
        $('#masonry').masonry({
            columnWidth: '.grid-sizer',
            itemSelector: '.grid-item',
            percentPosition: true,
            gutter: 10,
            horizontalOrder: true,
            stagger: 30
        });
    });



    $('#postModalG').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);

    
        var posterName = button.attr('data-posterG');



        var postBody = button.attr('data-bodyG');



        var postTime = button.attr('data-timeG');


        if (button.attr("data-imageG") !== undefined) {
            var imageURL = button.attr("data-imageG");
            $("#modalPostImage").html("<img src=" + imageURL + ">");
        }



        if (button.attr("data-testG") !== undefined) {
            var userImageURL = button.attr("data-testG");
            $("#test").html("<img src=" + userImageURL + ">");
        }





        var modal = $(this);

        $("#modalPoster").text(posterName);



        $("#modalPostBody").text(postBody);
        $("#modalPostTime").text(postTime);
    })


</script>



