<%= javascript_include_tag 'groups', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "groups", :media => "all" %>
<%= stylesheet_link_tag "animate", :media => "all" %>

<% content_for :head do %>
  <meta property="og:title" content="<%= @group.title %>" />
  <meta property="og:image" content="<%= @group.cover_image_url %>" />
  <meta property="og:description" content="<%= @group.description %>" />
<% end %>


<%= stylesheet_link_tag "lazy-load-images.min", :media => "all" %>
<%= javascript_include_tag 'lazy-load-images.min', 'data-turbolinks-track': 'reload' %>
<style type="text/css">
  
  input {
    margin: -2px;
  }


  .marginSetsA img{
    height: 130px;
    object-fit: cover;
  }

  .coverImage img {
        height: 250px;
    object-fit: cover;
  }

  @media screen and (max-width: 776px){
    .elementBox {
      width: 275px;
    }
  }

</style>

<script type="text/javascript">
  $(document).ready(function () {
   



      setTimeout(function() {
       $(".alert").fadeOut("1000");
      }, 4000);


    })

</script>


<% if flash[:notice] %>
<div class="alert animated pulse " role="alert">
  <div class="alert-success">
      <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>


</div>
<% end %>




<div class="backButton">
  <%= link_to 'javascript:history.go(-1)' do %>
        <%= image_tag("left-arrow.png", class: "leftArrow") %>
  <% end %>
</div>



<!-- Request to join -->
<div class="container noPad3">
<!-- Group Intro Start -->

<div class="col-md-4 col-xs-12 scrollNorm">


 <%= render 'groupInfoModule' %>


</div>


  <div class="mobileArea col-md-8">

  <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <li class="nav-item active">
      <div class="nav-link active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab" aria-controls="v-pills-info" aria-selected="true">
        Information
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link" id="v-pills-new-disc-tab" data-toggle="pill" href="#v-pills-new-disc" role="tab" aria-controls="v-pills-new-disc" aria-selected="false">
        Discussion
      </div>
    </li>
  </ul>



  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active in" id="v-pills-info">

          <%= render 'groupInfoSection' %>

    </div>


    <div class="tab-pane fade " id="v-pills-new-disc">
       <%= render 'groupDiscussions' %>

    </div>


  </div>






  </div>


</div>






<div class="modal fade" id="show-inv" role="dialog">
 
      <%= render 'groups/inviteModalGroups' %>

</div>



<div class="modal fade" id="postModalG" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="modalPostImage"></div>
      <div class="modal-body">
        <div id="modalPostBody"></div>
      </div>
      <div class="modal-footer">
        <span id="test" class="userImageModal"></span>
        <span class="modal-title" id="modalPoster"></span> on
        <span class="modal-title" id="modalPostTime"></span>
      </div>
    </div>
  </div>
</div>



<% if !@group.group_posts.empty? %>
  <div class="modal fade" id="show-posts" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>
            <% @group.group_posts.reverse.each do |group_post| %>
              <div class="card grid-item allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(group_post.image_url(:post), class: "card-img-top allPostsImage") if group_post.image? %>
                  <% if !group_post.content.blank? %>
                    <div class="card-body">
                      <p class="card-text"><%= truncate group_post.content, length: 500, separator: ' ' %></p>
                    </div>
                  <% end %>
                  <div class="card-footer">
                    <%= link_to group_post.group, class: "specialA bottomSign" do %>
                      <%= image_tag(group_post.group.image_url(:thumb), class: "userImage2") if group_post.group.image? %>
                    <% end %>
                    <small class="text-muted"><%= group_post.group.title %> on <%= group_post.updated_at.to_time.strftime('%B %e') %></small>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<% if !@groupFollowers.empty? %>
  <div class="modal fade" id="show-users" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content-users">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>


            <% @groupFollowers.each do |groupFollower| %>
             <%= link_to groupFollower, method: :get,  class: "specialA" do %>
              <div class="card grid-item-user allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(groupFollower.avatar_url(:thumb), class: "card-img-top allPostsImage") if groupFollower.avatar? %>
                    <div class="card-body">
                      <p class="card-text nameBold"><%= truncate groupFollower.name.gsub(/\s.+/, ''), length: 500, separator: ' ' %></p>
                    </div>

                </div>
              </div>

              <% end %>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>




  <div class="modal fade" id="show-interests" tabindex="-1">
                <button type="button" class="closeInts" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content-users">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>


            <% @group.fgI.each do |interest| %>
              <div class="col-md-3 col-xs-6 noPad1">
                <div class="interestCard">
                  <%= image_tag(interest.image_url(:thumb), class: "interestImage") if interest.image? %>
                  <div class="interestTitleSec">
                    <div class="interestName"><%= interest.name %></div>
                  
                  </div>

                </div>
              </div>
            <% end %>



          </div>
        </div>
      </div>
    </div>
  </div>






<script>
      $(function () { 
      $('.panel-interest').on('click', function (e) {
          var menuItem = $( e.currentTarget );

          if (menuItem.attr('aria-expanded') === 'true') {
              $(this).children(".show-more").text("Open");

          } else {
              $(this).children(".show-more").text("Close");
          }
      });

    });


    $('#show-posts').on('shown.bs.modal', function (e) {
        $('#masonry').masonry({
            columnWidth: '.grid-sizer',
            itemSelector: '.grid-item',
            percentPosition: true,
            gutter: 10,
            horizontalOrder: true,
            stagger: 30
        });
    });



    $('#postModalG').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);

    
        var posterName = button.attr('data-posterG');



        var postBody = button.attr('data-bodyG');



        var postTime = button.attr('data-timeG');


        if (button.attr("data-imageG") !== undefined) {
            var imageURL = button.attr("data-imageG");
            $("#modalPostImage").html("<img src=" + imageURL + ">");
        }



        if (button.attr("data-testG") !== undefined) {
            var userImageURL = button.attr("data-testG");
            $("#test").html("<img src=" + userImageURL + ">");
        }





        var modal = $(this);

        $("#modalPoster").text(posterName);



        $("#modalPostBody").text(postBody);
        $("#modalPostTime").text(postTime);
    })


</script>



