<%= javascript_include_tag 'groups', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "groups", :media => "all" %>
<% if flash[:notice] %>
<div class="alert alert-success" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>


<!-- Request to join -->



<div class="mobileArea">
  <div class="text-center module1">
    <%= image_tag(@group.cover_image_url, class: "groupImageCover") if @group.cover_image? %>
  <div class="col-md-12 col-xs-12 titleInfo">
    <div class="col-md-3 col-xs-6 connArea">
      <div class="groupImageSec1">
        <%= image_tag(@group.image_url(:thumb),  class: "groupImage1") if @group.image? %>
      </div>
    </div>
    <div class="col-md-5 groupInfoSec">
      <div>
        <div class="groupTitle"><%= @group.title %></div>  


<% if current_user == @group.user %>




      <div class="col-md-4" id="follow_formDes">
              <div id="follow_formDes">
                <% if current_user.followingG?(@group) %>
                  <%= form_for(current_user.active_relationships_groups.find_by(followedG_id: @group.id), html: { method: :delete }) do |f| %>
                    <%= f.submit "Joined Group", class: "btn connectedBtnAd" %>
                  <% end %>

                <% else %>
                  <%= form_for(@group.passive_relationships_groups.build, method: :post) do |f| %>
                    <%= hidden_field_tag :followedG_id, @group.id %>
                    <%= f.submit "Join Group", class: "btn connectBtnAd" %>
                  <% end %>

                <% end %>
              </div>
      </div>
      <div class="col-md-4" id="follow_formDes">
        <%= button_to "Edit Group", edit_group_path(@group), method: :get, class: "btn btn-primary connectBtnAd" %>
      </div>

      <div class="col-md-4" id="follow_formDes">
        <%= button_to "Edit Interests", interests_group_path(@group), method: :get, class: "btn btn-primary connectBtnAd" %>
      </div>







<% else %>

        <div id="follow_formDes">
          <% if current_user.followingG?(@group) %>
            <%= render 'unfollowGroup' %>
          <% else %>
            <%= render 'followGroup' %>
          <% end %>
        </div>


<% end %>





          </div>
        </div>
      </div>

<div class="col-xs-12 marginMob">
        <div id="follow_formMob">
          <% if current_user.followingG?(@group) %>
            <%= render 'unfollowGroup' %>
          <% else %>
            <%= render 'followGroup' %>
          <% end %>
        </div>

</div>
<% if current_user == @group.user %>
<div class="col-xs-12 marginMob" id="follow_formMob">
        <%= button_to "Edit Group", edit_group_path(@group), method: :get, class: "btn btn-primary connectBtnAd" %>

</div>
<div class="col-xs-12 marginMob" id="follow_formMob">
        <%= button_to "Edit Interests", interests_group_path(@group), method: :get, class: "btn btn-primary connectBtnAd" %>

</div>

<% end %>

</div>


<div class="container mobNavs">
    <div class="panel panel-default interestSec">
          <div class="panel-heading accordion-toggle" data-toggle="collapse" href="#animals" aria-expanded="false">
                Interests in group <div class="show-more">Open</div>
            </div>

      <div id="animals" class="panel-collapse collapse" data-parent="#accordion">
        <div class="panel-body">


      <% @group.fgI.each do |interest| %>
        <div class="col-md-2 col-xs-6">
          <div class="interestCard">
            <%= image_tag(interest.image_url(:thumb), class: "interestImage") if interest.image? %>
            <div class="interestTitleSec">
              <div class="interestName"><%= interest.name %></div>
            
            </div>

          </div>
        </div>


      <% end %>





        </div>
      </div>
    </div>
</div>











    
<div class="container mobNavs">


    <div class="newsfeed">
      <div class="titleSec">Information</div>
      <div class="col-md-6 col-xs-12 postMob descriptionSec">

        <%= @group.description %>
        
      </div>
    </div>



<!-- Post Start -->

<div class="newsfeed">
  <div class="titleSec">Newsfeed</div>

  <% if !@group.group_posts.empty? %>

    <div class="col-md-6 col-xs-12 noPad1">

      <% @group.group_posts.last(1).each do |group_post| %>
        <div class="card">

          <span data-toggle="modal" data-target="#postModalG"
          data-posterG="<%= group_post.group.title %>"
          data-bodyG="<%= group_post.content %>"
          data-timeG="<%= group_post.updated_at.to_time.strftime('%B %e') %>"
          <%= ("data-imageG=\"" << group_post.image_url << "\"") if group_post.image? %>
          <%= ("data-testG=\"" << group_post.group.image_url(:thumb) << "\"") if group_post.group.image? %> 
          >

            <div class="material-icons text-muted launch-modal align-middle">


              <%= image_tag(group_post.image_url(:post), class: "card-img-top") if group_post.image? %>

              <div class="card-body">
                <p class="card-text"><%= truncate group_post.content, length: 500, separator: ' ' %></p>
              </div>



              <div class="card-footer">
                <%= link_to group_post.group, method: :get, class: "specialA bottomSign" do %>
                  <%= image_tag(group_post.group.image_url(:thumb), class: "userImage2") if group_post.group.image? %>
                <% end %>

                <small class="text-muted"><%= group_post.group.title %> on <%= group_post.updated_at.to_time.strftime('%B %e') %></small>
              </div>

            </div>


          </span>

        </div>




      <% end %>


    </div>

  <div class="noPad1">

      <div class="laterPostBoxMob">
        <%= link_to new_group_post_path(group_id: @group.id), method: :get, class: "btn connectBtn" do %>
          <div class="btn btnShowAll showAllPosts">
            Create Post
          </div>
        <% end %>
      </div>
  </div>



    <div class="latestPostSec2">
         
            <div class="col-md-6 col-xs-12 noPad2">


                      <div class="laterPostBox">


         <%= link_to new_group_post_path(group_id: @group.id), method: :get, class: "btn connectBtn" do %>
            <div class="showAllPosts">
              Create Post
            </div>
          <% end %>

        </div>

 <% if @group.group_posts.length > 1 %>
              <% @group.group_posts.last(3).reverse.each_with_index do |group_post, index| %>
                <% unless index == 0 %>
                  <div class="laterPostBox subPost">
                
               
                  <span data-toggle="modal" data-target="#postModalG"
                              data-bodyG="<%= group_post.content %>"
                              data-posterG="<%= group_post.group.title %>"
                              data-timeG="<%= group_post.updated_at.to_time.strftime('%B %e') %>"
                              <%= ("data-imageG=\"" << group_post.image_url << "\"") if group_post.image? %>
                              <%= ("data-testG=\"" << group_post.group.image_url(:thumb) << "\"") if group_post.group.image? %>
                  >
                  <div class="material-icons text-muted launch-modal align-middle">


                      <div class="row no-gutters ">
                        <div class="col-md-6 col-xs-12 post-image-background"
                             style="background-image: url(<%= group_post.image_url(:post) %>);">
                        </div>


                        <div class="col-md-6 col-xs-12 ">
                          <div class="card-body infoSecPost">
                            <p class="card-text"><%= truncate group_post.content, length: 150, separator: ' ' %></p>
                          </div>
                          <div class="nameText">
                            <span><%= image_tag(group_post.group.image_url(:thumb), class: "userImageMini") if group_post.group.image? %></span>
                            <span class="card-text textMini"><%= truncate group_post.group.title, length: 150, separator: ' ' %></span>
                          </div>

                        </div>



                      </div>



                  </div>
   
              </span>
                



                </div>
                <% end %>


              <% end %>




                  <div class="laterPostBox">

                    <div class="showAllPosts" data-toggle="modal" data-target="#show-posts"><button type="button" class="btn btnShowAll">Show All</button></div>
                  </div>


            </div>

</div>
    <div class="laterPostBoxMob">

      <div class="showAllPosts" data-toggle="modal" data-target="#show-posts"><button type="button" class="btn btnShowAll">Show All</button></div>
    </div>




          <% end %>



  <% else %>
      <div class="noFollowSec">
        <div class="noFollowSecText">There are no posts yet.</div>
      </div>


    <div class="noPad1">
          <div class="laterPostBox">
            <%= link_to new_group_post_path(group_id: @group.id), method: :get, class: "btn connectBtn" do %>
              <div class="showAllPosts">
                Create the first post
              </div>
            <% end %>

          </div>
      </div>

  <% end %>




</div>
</div>
</div>

  
<!-- Post End -->

<div class="container noPad3">
<div class="newsfeed">
    <div class="titleSec">Upcoming Events</div>
  <div class="scrollEvents">
    <% if !@group_events.empty? %>
      <% @group_events.each do |group_event| %>
      <%= link_to group_event, method: :get, class: "specialA" do %>
  
        <div class="userEvents">
        
            <div class="eventImage">
              <%= image_tag(group_event.image_url(:event), class: "eventImage1") if group_event.image? %>
            </div>
                <div class="eventContent1">
                    <div class="eventDateI"><%= group_event.event_date.strftime('%B %e') %></div>
                  </div>
             <div class="eventOverall">
                <div class="eventContent">
                  <div class="titleGroups"><%= truncate(group_event.title, length: 40)%></div> 
                </div>

              <% if group_event.user.present? %>
                <div class="creatorSign">
                  <div class="imageUserEvent">

                    <%= image_tag(group_event.user.avatar_url(:thumb), class: "userImage2") if group_event.user.avatar? %>
                  </div>
                  <div class="contentUserPost">
                    <span class="poster"><%= group_event.user.name %></span>
                  </div>
                </div>
              <% end %>
            </div>
            
        
        </div>
  
      <% end %>
      <% end %>
    <% else %>
      <div class="noFollowSec">
        <div class="noFollowSecText">There are no upcoming events.</div>
      </div>
    <% end %>
    
    </div>
</div>


<div class="newsfeed">

    <div class="titleSec">Group Members</div>
    <div class="scrollMembers">
    <% if !@groupFollowers.empty? %>
      <%  @groupFollowers.first(7).reverse.each do |groupFollower| %>
      <%= link_to groupFollower, method: :get, class: "specialA" do %>
  
        <div class="followersSec">
        
            <div class="eImage">
              <div class="followerImageSec"><%= image_tag(groupFollower.avatar_url(:thumb), class: "groupImage2") if groupFollower.avatar? %></div>
              <div class="followerNameSec"><%= truncate(groupFollower.name.gsub(/\s.+/, ''), length: 20) %></div>
            </div>
        
        </div>
  
      <% end %>
      <% end %>
    <% else %>
      <div class="noFollowSec">
        <div class="noFollowSecText">This group has no members.</div>
      </div>
    <% end %>


    
    </div>
    <div class="laterPostBox2">

      <div class="showAllPosts" data-toggle="modal" data-target="#show-users"><button type="button" class="btn btnShowAll">Show Users</button></div>
    </div>


</div>



</div>

</div>


</div>

<div class="modal fade" id="postModalG" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="modalPostImage"></div>
      <div class="modal-body">
        <div id="modalPostBody"></div>
      </div>
      <div class="modal-footer">
        <span id="test" class="userImageModal"></span>
        <span class="modal-title" id="modalPoster"></span> on
        <span class="modal-title" id="modalPostTime"></span>
      </div>
    </div>
  </div>
</div>



<% if !@group.group_posts.empty? %>
  <div class="modal fade" id="show-posts" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>
            <% @group.group_posts.reverse.each do |group_post| %>
              <div class="card grid-item allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(group_post.image_url(:post), class: "card-img-top allPostsImage") if group_post.image? %>
                  <% if !group_post.content.blank? %>
                    <div class="card-body">
                      <p class="card-text"><%= truncate group_post.content, length: 500, separator: ' ' %></p>
                    </div>
                  <% end %>
                  <div class="card-footer">
                    <%= link_to group_post.group, method: :get, class: "specialA bottomSign" do %>
                      <%= image_tag(group_post.group.image_url(:thumb), class: "userImage2") if group_post.group.image? %>
                    <% end %>
                    <small class="text-muted"><%= group_post.group.title %> on <%= group_post.updated_at.to_time.strftime('%B %e') %></small>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



<% if !@groupFollowers.empty? %>
  <div class="modal fade" id="show-users" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content-users">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>


            <% @groupFollowers.each do |groupFollower| %>
             <%= link_to groupFollower, method: :get, class: "specialA" do %>
              <div class="card grid-item-user allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(groupFollower.avatar_url(:thumb), class: "card-img-top allPostsImage") if groupFollower.avatar? %>
                    <div class="card-body">
                      <p class="card-text nameBold"><%= truncate groupFollower.name.gsub(/\s.+/, ''), length: 500, separator: ' ' %></p>
                    </div>

                </div>
              </div>

              <% end %>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>




<script>
      $(function () { 
      $('.panel-heading').on('click', function (e) {
          var menuItem = $( e.currentTarget );

          if (menuItem.attr('aria-expanded') === 'true') {
              $(this).children(".show-more").text("Open");

          } else {
              $(this).children(".show-more").text("Close");
          }
      });

    });


    $('#show-posts').on('shown.bs.modal', function (e) {
        $('#masonry').masonry({
            columnWidth: '.grid-sizer',
            itemSelector: '.grid-item',
            percentPosition: true,
            gutter: 10,
            horizontalOrder: true,
            stagger: 30
        });
    });



    $('#postModalG').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);

    
        var posterName = button.attr('data-posterG');



        var postBody = button.attr('data-bodyG');



        var postTime = button.attr('data-timeG');


        if (button.attr("data-imageG") !== undefined) {
            var imageURL = button.attr("data-imageG");
            $("#modalPostImage").html("<img src=" + imageURL + ">");
        }



        if (button.attr("data-testG") !== undefined) {
            var userImageURL = button.attr("data-testG");
            $("#test").html("<img src=" + userImageURL + ">");
        }





        var modal = $(this);

        $("#modalPoster").text(posterName);



        $("#modalPostBody").text(postBody);
        $("#modalPostTime").text(postTime);
    })


</script>



