
	<div class=" noPad3 col-md-12 col-xs-12 text-center">
		<ul class="nav nav-tabs" id="events-nav" role="tablist">
			<li class="<%= 'active' if current_page?(edit_user_path) %> col-md-3  col-xs-3 noPad3">
			   <%= link_to edit_user_path, method: :get  do %>General
			     <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(edit_user_path) %>
			   <% end %>
			</li>
			<li class="<%= 'active' if current_page?(interestsMenu_user_path) %> col-md-3  col-xs-3 noPad3">
			  <%= link_to interestsMenu_user_path, method: :get  do %>Interests
			    <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(interestsMenu_user_path) %>
			  <% end %>
			</li>

			<li class="<%= 'active' if current_page?(location_user_path) %> col-md-3  col-xs-3 noPad3">
			  <%= link_to location_user_path, method: :get do %>Location
			    <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(location_user_path) %>
			  <% end %>
			</li>


			<li class="<%= 'active' if current_page?(blocked_user_path) %> col-md-3  col-xs-3 noPad3">
			  <%= link_to blocked_user_path, method: :get do %>Blocked Users
			    <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(blocked_user_path) %>
			  <% end %>
			</li>
		</ul>
	</div>
