 <%= stylesheet_link_tag "sessions", :media => "all" %>

  <body onload="getLocation()">
  	<%= form_for(user) do |f| %>




<div class="col-md-12">


	<div class="col-md-12 noPad3">
		<div class="col-md-12 noPad3">
<div class="titleSign">
  	Start connecting.
</div>

  <% if user.errors.any? %>
    <div id="error_explanation">
     Please check your fields.
    </div>
  <% end %>



  	  <div class="field col-md-6 noPad3">

	    <%= f.text_field :name, class: "form-control", placeholder: "First name", id: "text_field" %>
	  </div>



	  <div class="field col-md-6 noPad3">

	    <%= f.text_field :last_name, class: "form-control", placeholder: "Last name" %>
	  </div>

  <div class="field field col-xs-12 noPad3">

    <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>

    <div class="field">
    <%= f.hidden_field :latitude, class: "form-control", id: "latField" %>
  </div>


  <div class="field">
    <%= f.hidden_field :longitude, class: "form-control", id: "lonField"  %>
  </div>


	  <div class="field col-xs-12 noPad3">
	    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
	  </div>


	
	  <div class="text-center signButton  col-xs-12 noPad3">
	        <%= f.button "Confirm", class: "fileBtnSubmit2", data: {disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Building..."} %>
	    </div>






  	<% end %>

  	</div>
</div>
</div>

  </body>



  <script>





  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(getLat);
      navigator.geolocation.getCurrentPosition(getLon);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }


  function getLat(position) {
    var lat = position.coords.latitude;

    $(document).ready(function () {
      $("#latField").val(lat);
    })
  }


  function getLon(position) {
    var lon = position.coords.longitude;

    $(document).ready(function () {
      $("#lonField").val(lon);
    })
  }










</script>

