<%= stylesheet_link_tag "users", :media => "all" %>
<% if user.id != current_user.id %>
<div class="chat__contact--element" data-id="<%= user.id %>">
	<div class="oneThird">
		<%= image_tag(user.avatar_url(:thumb), class: "userImageChat") if user.avatar? %>
	</div>
	<div class="col-md-8">
  		<span class="userNameChat"><%= user.name %> <%= user.last_name %><span>
  		
  	</div>

  
</div>
<% end %>


