



<style type="text/css">
  


  .marginSetsC img{
    height: 215px;
    object-fit: cover;
  }

  .groupImage1{
  border-radius: 10px 10px 0px 0px;
  height: 215px !important;
  width: 100%;
  object-fit: cover;
}


</style>
<script type="text/javascript">
$(function () { 
  if ($(window).width() < 960) {
     $(".mobileVG").removeClass("col-md-4");
     $(".mobileVG").removeClass("userEvents");

  }
  else {
    $(".deskVG").removeClass("scrollMembersEvents");
  }
});
</script>
 
      <div class="titleSec">Groups</div>


    <div class="scrollMembersEvents deskVG">

     
        <% if !@groupsFollow.empty? %>
          <% @groupsFollow.reverse.last(6).each do |groupsFollowing| %>


          <span class="col-md-4 userEvents mobileVG">
            <%= link_to groupsFollowing, method: :get, class: "specialA" do %>
              <div class="elementBox boxGMod">
                <div class="eventImage">
                



                <a href="/groups/<%= groupsFollowing.id %>" data-method="get" data-href="<%= groupsFollowing.image_url(:group) %>" class="lazy-load replace marginSetsC">
                  <%= image_tag(groupsFollowing.image_url(:preview), class: "groupImage1 preview") if groupsFollowing.image? %>
                </a>




                </div>


             <%= link_to groupsFollowing, method: :get, class: "specialA" do %>
                  <div class="eventContent">
                    <div class="titleGroups"><%= truncate(groupsFollowing.title, length: 25) %></div>
                  </div>
                  <% if groupsFollowing.user.present? %>
                  <div class="creatorSign">
                    <div class="imageUserGroup">


                        <%= image_tag(groupsFollowing.user.avatar_url, class: "userImage2", lazy: true) if groupsFollowing.user.avatar? %>



          
                    
                    </div>
                    <div class="contentUserPost">
                      <span class="poster"><%= truncate(groupsFollowing.user.name, length: 30) %></span>
                    </div>
                  </div>
                <% end %>

                <% end %>
              </div>
            <% end %>
            </span>



          <% end %>
        <% else %>
          <div class="noFollowSec">
            <div class="noFollowSecText">No groups have been joined</div>
          </div>
        <% end %>
   
        </div>

