<%= stylesheet_link_tag "users", :media => "all" %>

<style type="text/css">
  .mobNav{
    display: none !important;
  }

  .fileBtnDiv, .form-control {
    width: 100%;
    margin: 10px 0 !important;
  }
  .module1{
    height: auto !important;
  }
  .formPart{
    margin-top: 30px;
    float: left;
    width: 100%;
  }


  @media screen and (max-width: 776px){
  .avatarInfo{
    margin-top: -70px;
  }
    .noPadTemp{
    padding-right: 2px !important;
    padding-left: 0px;
  }
}





</style>



<div class="container noPad3">
  <div class="col-md-4 col-xs-12 scrollNorm">
<%= render 'userModule' %>  

  </div>





  <div class="col-md-8 col-xs-12 avatarInfo">



  <%= form_for [@user], url: save_avatar_user_path do |f|  %>
  <div class=" col-md-12 col-xs-12 noPad3">
    <div class="titleSec">Customize your profile</div>
    <div class="field fileField col-xs-6  noPadTemp">
      <label class="btn btn-primary fileBtnDiv">
        <%= f.file_field :avatar, class: "fileBtn form-control", id: "avatarImageUpload" %>
        Profile Photo
      </label>
    </div>




    <div class="field fileField col-xs-6 noPad3">
      <label class="btn btn-primary fileBtnDiv">
        <%= f.file_field :image, class: "fileBtn form-control", id: "coverImageUpload" %> 
        Cover Photo
      </label>
    </div>

  </div>

  <div class="col-md-12 col-xs-12 noPad3" style="margin-bottom: 100px;">
    <div class="titleSec">Add a bio</div>
    <div class="field fileField col-md-12 col-xs-12 noPad3">
      <%= f.text_field :bio, placeholder: "Describe yourself.", class: "form-control", id: "eventTitle" %>
    </div>
  </div>



 
    <div class="fixedState">
      <%= f.button "Confirm", class: "fileBtnSubmit", data: {disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Building..."} %>
    </div>





   <% end %>



     <div class="fixedStateSkip">
      <%= button_to "Skip", root_path, method: :get, class: "fileBtnSubmitSkip" %>
    </div>




  </div>







</div>











<script>
  

  $("#coverImageUpload").change(function(){
      coverFileURL = URL.createObjectURL(event.target.files[0]);
      $("#coverImageTag").css("visibility", "hidden");
      $("#coverImage").css("background-image", "url("+coverFileURL+")");
    });



    $("#avatarImageUpload").change(function(){
      coverFileURL = URL.createObjectURL(event.target.files[0]);
      $("#avatarImageTag").css("visibility", "hidden");
      $("#avatarImage").css({"background-image": "url("+coverFileURL+")"});
    });
  



</script>

<script>

  
$(document).ready(
    function(){
        $('#eventTitle').change(
            function(){
                if ($(this).val()) {
                    $('#submitButtonId').attr('disabled',false);
                    // or, as has been pointed out elsewhere:
                    // $('input:submit').removeAttr('disabled'); 
                } 
            }
            );
    });

$(document).ready(
    function(){
        $('#avatarImageUpload').change(
            function(){
                if ($(this).val()) {
                    $('#submitButtonId').attr('disabled',false);
                    // or, as has been pointed out elsewhere:
                    // $('input:submit').removeAttr('disabled'); 
                } 
            }
            );
    });

$(document).ready(
    function(){
        $('#coverImageUpload').change(
            function(){
                if ($(this).val()) {
                    $('#submitButtonId').attr('disabled',false);
                    // or, as has been pointed out elsewhere:
                    // $('input:submit').removeAttr('disabled'); 
                } 
            }
            );
    });



</script>
















