<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>


<%= stylesheet_link_tag "lazy-load-images.min", :media => "all" %>
<%= javascript_include_tag 'lazy-load-images.min', 'data-turbolinks-track': 'reload' %>

<script>
    AOS.init();
</script>

<header>


<%= stylesheet_link_tag "users", :media => "all" %>



</header>



<body>
  <div class="backButton">
  <%= link_to 'javascript:history.back()' do %>
        <%= image_tag("left-arrow.png", class: "leftArrow") %>
  <% end %>
</div>
<div class="container mobNavs"><h2 class="topTitle2"> Discover People </h2></div>

<div class="container mobNavs" >

<% @users.each do |user| %>
    <% collide = current_user.followingI.ids & user.followingI.ids %>

    <% unless user.id == current_user.id %>
        <%= link_to user, method: :get, class: "specialA" do %>
        <div class="col-md-2 col-xs-6 noPad8PX " data-aos="fade-up" >
          <div class="elementBoxPpl">


       

      <% if user.avatar.present? %>
          <a href="/users/<%= user.id %>" data-href="<%= user.avatar_url(:thumb) %>" data-method="get" class="lazy-load replace userImages">
                <%= image_tag(user.avatar_url(:thumb), class: "userImages preview") if @user.avatar? %>
        
           </a>
      <% else %>
      <% end %>
     

          <div class="discoverTitleSec">
            <div class="discoverName"><%= truncate(user.name.gsub(/\s.+/, '')) %></div>
          <% if current_user.friends.include?(user) %>
            <div class="friendsInDiscover">Already friends</div>
          <% else %>
            <div class="discoverNum"><%= collide.count %> shared interests</div>
          <% end %>
            
          </div>


          

          </div>
        </div>
     



        <% end %>
      <% end %>
    <% end %>
       </div>

</div>
</body>











