<%= stylesheet_link_tag "users", :media => "all" %>
<% if flash[:notice] %>
<div class="alert alert-success" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>



<style scoped>

	@media (max-width: 776px) { 
	    .coverImage {   
	        border-radius: 0px !important;
	    }
	    .mobNav{
	    	display: none !important;
	    }
	}
</style>


<div class="container noPad3">


		<%= render 'userModule' %>	




	<div class="mobileArea col-md-8">


	<%= render 'editMenu' %>	


	<div class="editContent">

		<%= render 'form', user: @user %>	
		
	</div>


	
		















	</div>

</div>




</div>






<script>

	$("#coverImageUpload").change(function(){
	    coverFileURL = URL.createObjectURL(event.target.files[0]);
	    $("#coverImageTag").css("visibility", "hidden");
	    $("#coverImage").css("background-image", "url("+coverFileURL+")");
    });



    $("#avatarImageUpload").change(function(){
	    coverFileURL = URL.createObjectURL(event.target.files[0]);
	    $("#avatarImageTag").css("visibility", "hidden");
	    $("#avatarImage").css({"background-image": "url("+coverFileURL+")"});
    });
	





</script>















