<%= stylesheet_link_tag "users", :media => "all" %>


<style scoped>

	@media (max-width: 776px) { 
	    .coverImage {   
	        border-radius: 0px !important;
	    }
	    .mobNav{
	    	display: none !important;
	    }
	}
</style>

<div class="backButton">
  <%= link_to 'javascript:history.back()' do %>
        <%= image_tag("left-arrow.png", size: "54x54", class: "leftArrow") %>
  <% end %>
</div>

<div class="container noPad3">
	<%= render 'userModule' %>	


	<div class="mobileArea col-md-8 col-xs-12 noPad3">

		<div class="col-xs-12 noPad3">
			<%= render 'editMenu' %>
		</div>

<div class="col-xs-12 noPad3">
		<div clas="editContent">
		  <% current_user.followingI.each do |interest| %>
		    <div class="col-md-3 col-xs-6">
		      <div class="interestCard">
		        <%= image_tag(interest.image_url(:thumb), class: "interestImage") if interest.image? %>
		        <div class="interestTitleSec">
		          <div class="interestName"><%= interest.name %></div>
		        
		        </div>

		      </div>
		    </div>


		  <% end %>




	    <div class="fixedState" >
	    	<%= button_to interests_user_path, method: :get, class: "fileBtnSubmit" do %>
	    	
					<span class="editsText">Edit</span>
	    
	        
	        <% end %>
	     </div>
	     </div>
</div>


	</div>
  </div>
