<%= stylesheet_link_tag "users", :media => "all" %>
<%= stylesheet_link_tag "main", :media => "all" %>

<script>

  $(function () { 
      $('.panel-heading').on('click', function (e) {
          var menuItem = $( e.currentTarget );

          if (menuItem.attr('aria-expanded') == 'true') {
              $(this).children(".show-more").text("Show More");

          } else {
              $(this).children(".show-more").text("Show Less");
          }
      });

    });
  



</script>

<div class="text-center module1">
  <div class="innerModule">
    <div class="userImageSec1">
      <%= image_for(current_user) %>
      <%= image_tag(@user.image_url, class: "userImageCover") if @user.image? %>
    </div>
    <div class="col-md-6 col-xs-12 connArea">
      <div class="userImageSec1">
        <%= avatar_for(current_user) %>
        <%= image_tag(@user.avatar_url(:thumb), class: "userImage1") if @user.avatar? %>
      </div>
      <div class="userSec1">
        <div class="userName">
          <%= @user.name %>
          <%= @user.last_name %>

          
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container margTop mobNavs">
  <div class="titleSec">Your Interests</div>

  <div class="col-md-12 col-xs-12 mobNavs">

    <% if @user.followingI.exists? %>

    <% @user.followingI.each do |interest| %>
      <div class="col-md-2 col-xs-6">
        <div class="interestCard">
          <%= image_tag(interest.image_url(:thumb), class: "interestImage") if interest.image? %>
          <div class="interestTitleSec">
            <div class="interestName"><%= interest.name %></div>
          
          </div>

        </div>
      </div>


    <% end %>
    <% else %>
      <div class="titleSecSub">Select what interests you the most</div>
    <% end %>

  </div>
</div>

<div class="container margBottom mobNavs">
<div class="titleSec">Available Interests</div>

<div class="panel-group" id="accordion" aria-multiselectable="true">

  




<!-- Category: Animals -->

<div class="panel panel-default">

      <div  class="panel-heading">Animals</div>
      <div  class="scrollMembers container ">
        
          <% @interests.first(5).each do |interest| %>
          <% if interest.category == "Animals" %>
              <div class="col-sm-2 col-xs-4">
                <div class="interestCard">
                    <%= image_tag(interest.image_url(:thumb), class: "interestImage") if interest.image? %>
                    <div class="interestTitleSec"><div class="interestName"><%= interest.name %></div></div>

                  <div id="follow_<%= interest.id %>">
                    <% if @user.followingI?(interest) %>
                        <%= render 'unfollowI', interest: interest %>
                    <% else %>
                        <%= render 'followI', interest: interest %>
                    <% end %>
                  </div>
                
                 
                </div>  
              </div>
          <% end %>
          <% end %>
          
      

          <div class="panel-heading accordion-toggle" data-toggle="collapse" href="#animals" aria-expanded="false">
            <div class="show-more">Show More</div>
          </div>
         
         
         <div href="#animals" id="animals" class="panel-collapse collapse" data-parent="#accordion">
         <div style="margin-top: 5.5em;">
      
          <% @interests.each_with_index.each do |interest, index| %>
           <% unless index < 5 %>
            <% if interest.category == "Animals" %>
                <div class="col-sm-2 col-xs-4">
                  <div class="interestCard">
                      <%= image_tag(interest.image_url(:thumb), class: "interestImage") if interest.image? %>
                      <div class="interestTitleSec"><div class="interestName"><%= interest.name %></div></div>
         
                    <div id="follow_<%= interest.id %>">
                      <% if @user.followingI?(interest) %>
                          <%= render 'unfollowI', interest: interest %>
                      <% else %>
                          <%= render 'followI', interest: interest %>
                      <% end %>
                    </div>
                  
                  
                  </div>  
                </div>
            <% end %>
            <% end %>
            <% end %>
         </div></div>


      </div><!-- end of scrollMembers div -->
 </div>





<!-- End of Categorys -->


  </div>



</div>






