<%= stylesheet_link_tag "sessions", :media => "all" %>


<style>
    body{
         overflow-y: scroll;
         overflow-x: hidden;
        height: 100vh !important;
        background-size: 100% auto ;
        object-fit: cover;
        
       
    }
</style>


    <script>document.body.className += ' fade-out';</script>

  <script>
    


    $(function() {
        $('body').removeClass('fade-out');
    });
  </script>

  <style type="text/css">
    html {
      background-color: black;
    }
    body {
      opacity: 1;
      transition: 0.5s opacity;
    }
    body.fade-out {
        opacity: 0;
        transition: none;
    } 


  </style>

<!-- for the background image: -->
<%= image_tag("signUp.jpg", class: "imageHere") %>


<div class=" newUser">


  <div class="centerDiv2">
  <div id="moveDivUp">
        <div class="logField-edits">
          
          <div class="logoParent">
                <%= image_tag("proximy_inv_t.png", class: "logoImg") %>
          </div>

          <div class="text-center signUpForm emailField">
                  <%= render 'form', user: @user %>
          </div>
        </div>

        <div class="text-center loginSec col-xs-12">
          <%= button_to "Already a member? Log in ", login_path, method: :get, class: "fileBtnSubmitSign2" %>
        </div>

          <div class="mobileBottom"></div>
         </div>
   </div>
  </div>


</div>



