<%= stylesheet_link_tag "sessions", :media => "all" %>
<%= stylesheet_link_tag "lazy-load-images.min", :media => "all" %>
<%= javascript_include_tag 'lazy-load-images.min', 'data-turbolinks-track': 'reload' %>



<style type="text/css">
  body {
    height: 100vh;
    margin: 0;
    overflow-y: hidden !important;

  }

</style>




<!-- for the background image: -->



    <a href="<%= asset_path 'signUp.jpg' %>" class="lazy-load replace marginSetsA">
          <%= image_tag("signUpSmall.jpg", class: "imageHere preview")  %>
     </a>


<div class="whiteContainer">
        <div class="logoParent">
                <%= image_tag("proximyNew.png", class: "logoImg2") %>
          </div>

</div>






<div class="whiteContainer">
  <div class="whitePlatform">


<%= render 'signUp', user: @user %>

  </div>
</div>


<script type="text/javascript">
  

  $(document).ready(function() {
    $(".logoParent").show()

  });
</script>




<!--
<div class=" newUser">


  <div class="centerDiv2">
  <div id="moveDivUp">
        <div class="logField-edits">
          
          <div class="logoParent">
                <%= image_tag("proximy_inv_t.png", class: "logoImg") %>
          </div>

          <div class="text-center signUpForm emailField">
                  <%= render 'form', user: @user %>
          </div>
        </div>

        <div class="text-center loginSec col-xs-12">
          <%= button_to "Already a member? Log in ", login_path, method: :get, class: "fileBtnSubmitSign2" %>
        </div>

          <div class="mobileBottom"></div>
         </div>
   </div>
  </div>
-->
