<%= stylesheet_link_tag "users", :media => "all" %>
<%= javascript_include_tag 'users' %>
<%= javascript_include_tag( 'jquery.lazy.js' ) %>
<head>
  <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">

<%= stylesheet_link_tag "lazy-load-images.min", :media => "all" %>
<%= javascript_include_tag 'lazy-load-images.min', 'data-turbolinks-track': 'reload' %>

</head>

<% if flash[:notice] %>
<div class="alert alert-success" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>


<style type="text/css">
  
.interestImage{
  box-shadow: none !important;
}

.interestCard{
  margin-top: 0px;
  margin-bottom: 0px;
}

</style>


<!-- Profile Intro Begin -->
<div class="backButton">
  <%= link_to 'javascript:history.back()' do %>
        <%= image_tag("left-arrow.png", size: "54x54", class: "leftArrow") %>

  <% end %>
</div>


<div class="container noPad3">
<div class="col-md-4 col-xs-12 scrollNorm">

<div class="text-center module1">

<% unless current_user.friends.include?(@user) %>
  <div class="innerModule">
    <div class="userImageSec1">

      <%= image_for(@user) %>




    <a href="<%= @user.image_url %>" class="lazy-load replace marginSetsA">
      <%= image_tag(@user.image_url(:preview), class: "userImageCover preview") if @user.image? %>
    </a>


    </div>
    <div class="col-md-12 col-xs-12 connArea">
      <div class="userImageSec1">
 
        <%= avatar_for(@user) %>



        <%= image_tag(@user.avatar_url(:thumb), class: "userImage1", lazy: true) %>


      </div>
      <div class="userSec1">
        <div class="userName">
          <%= @user.name %>
          <%= @user.last_name %>
        </div>
      </div>
    </div>


    <div class="col-md-12 col-xs-12 followBtn connArea2 text-center">


    <% if current_user.id == @user.id %>


          <div class="col-md-6 col-xs-6 noPad3 text-center">
              <%= link_to contacts_path, class: "specialA" do %>

                <%= image_tag("contacts.png", class: "iconImage") %>
                <div class="textOps">
                  Friends
                </div>
              <% end %>

            </div>




          <div class="col-md-6 col-xs-6 noPad3 text-center">
              <%= link_to edit_user_path, class: "specialA" do %>

                <%= image_tag("userSettings.png", class: "iconImage") %>
                <div class="textOps">
                  Edit profile
                </div>
              <% end %>

            </div>

     <% end %>


    <% unless @user.id == current_user.id %>
      <% unless current_user.friends.include?(@user) %>
        <% if @friendships.collect(&:user_id).include?(@user.id) %>
          <% @friendships.each do |invFriends| %>
          <div id="follow_form">
            <%= link_to update_friendship_friendship_path(invFriends), method: :patch, class: "btn connectBtn" do %>
                Accept Request
            <% end %>
          </div>
          <% end %>
        <% else %>
            <div class="col-md-4 col-xs-6 noPad3 text-center" >

      
              <% if current_user.friends.include?(@user) %>
                  <% if @acceptedFriendships.collect(&:user_id).include?(@user.id) %>
                    <%= image_submit_tag "friends.png", class: "iconImage" %>
                      <div class="textOps">
                        Friends
                      </div>
                  <% end %>

                  
              <% else %>

                <%= render 'befriend' %>
              <% end %>
          

              
   
            </div>




          <div class="col-md-4 col-xs-6 noPad3 text-center">
              <%= link_to chats_path, method: :get, class: "specialA" do %>

                <%= image_tag("message.png", class: "iconImage") %>
                <div class="textOps">
                  Message
                </div>
              <% end %>

          </div>

            <div class="col-md-4 col-xs-6 noPad3 text-center" data-target="#show-interests" data-toggle="modal" >


              <%= image_submit_tag "interestsLong.png", class: "iconImage" %>
              <div class="textOps">
                Interests in common 
              </div>
        
   
            </div>

        <% end %>
      <% end %> 
    <% end %>





    </div>


<!-- Friends Profile Info Items START -->



<div class="userInfoArea">
  <div class="userInfoElement">

  <% if @user.bio.present? %>
  
      <div class="infoTitle">
        <%= image_tag("userBio.png", class: "miniIcon") %> Bio
      </div>
      <div class="infoContentFirst">
        <%= @user.bio %>
      </div>

  <% end %>

  <% if current_user.distance_is_checked == true and current_user.id == @user.id  %>
  
      <div class="infoTitleSub">
       <%= image_tag("userLoc.png", class: "miniIcon") %> Show Distance
      </div>
      <div class="infoContent">
        Activated
      </div>
  <% elsif current_user.distance_is_checked == false and current_user.id == @user.id %>
    <div class="infoTitleSub">
      <%= image_tag("userLoc.png", class: "miniIcon") %> Show Distance
    </div>
    <div class="infoContent">
      Not Activated
    </div>
  <% elsif !current_user.friends.include?(@user) %>

 
  <% end %>


    <% if @user.country.present? %>

      
      <div class="infoTitleSub">
        <%= image_tag("from.png", class: "miniIcon") %> From
      </div>
      <div class="infoContentFirst">
        <span class="flagTest"><%= Country[@user.country].emoji_flag %></span><%= @user.country_name %> 
      </div>
  <% end %>

   </div>

</div>

<!-- Friends Profile Info Items END -->




<!--
      <div class="userInfoElement">
        
        Student at UBC

      </div>


      <div class="userInfoElement">
        
        Single


      </div>




      <div class="userInfoElementMore">
        
        View More...

      </div>

-->
    




    </div>




     <% else %>


<!-- Profile Friend Start -->



      <div class="innerModule">
        <div class="userImageSec1">
 
            <%= image_for(@user) %>

          <%= image_tag(@user.image_url(:cover), class: "userImageCover") if @user.image? %>
        </div>
        <div class="col-md-12 col-xs-12 connArea">
          <div class="userImageSec1">

              <%= avatar_for(@user) %>
  
            <%= image_tag(@user.avatar_url(:thumb), class: "userImage1") if @user.avatar? %>
          </div>
          <div class="userSec1">
            <div class="userName">
              <%= @user.name %>
              <%= @user.last_name %>



            </div>


          </div>
        </div>


        <div class="col-md-12 col-xs-12 followBtn connArea2 text-center">


        <% if current_user.id == @user.id %>
          <div id="follow_form" class="cUser" >
               <%= button_to "Contacts", contacts_path, class: "btn connectBtn" %>
          </div>

          <div id="follow_form" class="cUser">
           <%= button_to "Edit Profile", edit_user_path, class: "btn connectBtn" %>
          </div>
 
         <% end %>

        <% unless @user.id == current_user.id %>
            <div class="col-md-4 col-xs-6 noPad3 text-center" >

      
              <% if current_user.friends.include?(@user) %>
                  <% if @acceptedFriendships.collect(&:user_id).include?(@user.id) %>
                    <%= image_submit_tag "friends.png", class: "iconImage" %>
                      <div class="textOps">
                        Friends
                      </div>
                  <% end %>

                  
              <% else %>

                <%= render 'befriend' %>
              <% end %>
          

              
   
            </div>
        <% end %>







          <div class="col-md-4 col-xs-6 noPad3 text-center">
              <%= link_to chats_path, method: :get, class: "specialA" do %>

                <%= image_tag("message.png", class: "iconImage") %>
                <div class="textOps">
                  Message
                </div>
              <% end %>

          </div>



            <div class="col-md-4 col-xs-6 noPad3 text-center" data-target="#show-interests" data-toggle="modal" >


              <%= image_submit_tag "interestsLong.png", class: "iconImage" %>
              <div class="textOps">
                Interests in common 
              </div>
        
   
            </div>



        </div>








<!-- Friends Profile Info Items START -->


<div class="userInfoArea">
  <div class="userInfoElement">

  <% if @user.bio.present? %>
  
      <div class="infoTitle">
        <%= image_tag("userBio.png", class: "miniIcon") %>  Bio
      </div>
      <div class="infoContentFirst">
        <%= @user.bio %>
      </div>

  <% end %>

  <% if @user.distance_is_checked == true and current_user.id != @user.id and @user.friends.include?(current_user) %>
  
      <div class="infoTitleSub">
       <%= image_tag("userLoc.png", class: "miniIcon") %> Distance
      </div>
      <div class="infoContent">
        <%= @user.getDistance(current_user.latitude, current_user.longitude) %> km away
      </div>
 
  <% end %>

  <% if @user.country.present? %>
      
      <div class="infoTitleSub">
        <%= image_tag("from.png", class: "miniIcon") %> From
      </div>
      <div class="infoContentFirst">
        <span class="flagTest"><%= Country[@user.country].emoji_flag %></span><%= @user.country_name %>
      </div>
  <% end %>





   </div>

</div>


<!-- Friends Profile Info Items END -->









    </div>
    
<!-- Profile Friend End -->

     <% end %>



  </div>
</div>

    
<!-- Profile Intro End -->



<!-- Profile Rest Begin -->


<div class="col-md-8 col-xs-12 noPad3">
 





<!-- Area of work start -->

<!--
<div class="ph-item">
    <div class="ph-col-6 marginSkeleton">
      <div class="boxEventSkeleton">
        <div class="ph-picture"></div>
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="userIcon"></div>
        </div>
      </div>
    </div>
    <div class="ph-col-6 marginSkeleton">
      <div class="boxEventSkeleton">
        <div class="ph-picture"></div>
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="userIcon"></div>
        </div>
      </div>
    </div>

    <div class="ph-col-6 marginSkeleton">
      <div class="boxEventSkeleton">
        <div class="ph-picture"></div>
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="userIcon"></div>
        </div>
      </div>
    </div>
    <div class="ph-col-6 marginSkeleton">
      <div class="boxEventSkeleton">
        <div class="ph-picture"></div>
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="userIcon"></div>
        </div>
      </div>
    </div>

</div>

-->

<% if @user.friends.include?(current_user) or @user == current_user %>



<!-- Event Section Start -->



<div class="eventsSection">



<%= render "userEvents" %>



</div>

<!-- Event Section End -->




<!-- Group Section Start -->
    <div class="groupSection">


<%= render "userGroups" %>

          </div>

<!-- Group Section End -->






  <% else %>






<!-- Area of Work 3311 START -->

<script type="text/javascript">
$(function () { 
  if ($(window).width() < 960) {
     $(".mobileVI").removeClass("col-md-3");
  }
  else {
    $(".deskVI").removeClass("scrollMembersInterests");
  }
});
</script>



    <div class="interestsSection" style="margin-top: -122px;">

        <div class="titleSecInts">You have <%= @collideInterests.count %> common interests with <%= @user.name %></div>



<div class="scrollMembersInterests deskVI">
                <% @collideInterests.first(8).each do |interestCollide| %>



                 <span class="col-md-3 mobileVI">
                  



                  <div class="interestCard">
                    <%= image_tag(interestCollide.image_url(:thumb), class: "interestImageNotF", lazy: true) if interestCollide.image? %>
                    <div class="interestTitleSecNotF">
                      <div class="interestNameNotF"><%= interestCollide.name %></div>
                    
                    </div>

                  </div>
               





                </span>



              <% end %>

            <span class="col-md-3 mobileVI testMargeMore">
             <div class="seeMore" data-target="#show-interests" data-toggle="modal" >
              <div class="testMargeIn">

                
                  See more ...
                
              </div>
            </div>
            </span>
      </div>






    </div>





<!-- Area of Work 3311 END -->









<!-- Area of Work 3311 START -->

<script type="text/javascript">
$(function () { 
  if ($(window).width() < 960) {
     $(".mobileVE").removeClass("col-md-6");

  }
  else {
    $(".deskVE").removeClass("scrollMembersEvents");
  }
});
</script>







    <div class="eventsSection" style="margin-top: 0px;">



     <div class="titleSec">Events</div>




 <% if !@eventsFollow.empty? %>
   
      <div class="titleSecNonF">
          <div class="titleTextNonF">Add <%= @user.name %> to see their events </div>
      </div>
    <% end %>




     
     <div class="scrollMembersEvents deskVE">

    <% if !@eventsFollow.empty? %>
          <% @eventsFollow.last(2).each do |eventsFollowing| %>
          
     


          <span class="col-md-6 userEventsNonF mobileVE">
        


            <div class="elementBox">



                <div class="eventImage">
                  <%= image_tag(eventsFollowing.image_url, class: "groupImage1") if eventsFollowing.image? %>
                </div>
                <div class="eventContent1">
                  <div class="eventDateI"><%= eventsFollowing.event_date.strftime('%B %e') %></div>
                </div>


                <div class="eventOverall">
                  <div class="eventContent">
                    <div class="titleGroups"><%= truncate(eventsFollowing.title, length: 30) %></div>
                  </div>

             


<!-- Add a hosted by -->






                  <div class="creatorSign">
                    <% if eventsFollowing.group.present? %>
                    <div class="imageUserEvent">
                      <%= image_tag(eventsFollowing.group.image_url(:thumb), class: "userImage2") if eventsFollowing.group.image? %>
                    </div>

                    <div class="contentUserPost">
                      <span class="poster"><%= truncate(eventsFollowing.group.title, length: 30) %></span>
                    </div>

                <% else %>
                     <div class="imageUserEvent">
                      <%= image_tag(eventsFollowing.user.avatar_url(:thumb), class: "userImage2") if eventsFollowing.user.avatar? %>
                    </div>

                    <div class="contentUserPost">
                      <span class="poster"><%= eventsFollowing.user.name %></span>
                    </div>
                <% end %>
                  </div>





                </div>
            </div>



            </span>


          <% end %>
    </div>

</div>




        <% else %>
          <div class="noFollowSec">
            <div class="noFollowSecText">No current events have been joined</div>
          </div>
        <% end %>






<!-- Area of Work 3311 END -->













<!-- Area of Work 3311 START -->

<script type="text/javascript">
$(function () { 
  if ($(window).width() < 960) {
     $(".mobileVG").removeClass("col-md-4");

  }
  else {
    $(".deskVG").removeClass("scrollMembersEvents");
  }
});
</script>


<div class="groupSection">
      <div class="titleSec">Groups</div>


    <% if !@groupsFollow.empty? %>
      <div class="titleSecNonF">
          <div class="titleTextNonF">Add <%= @user.name %> to see their groups </div>
      </div>
    <% end %>



    <div class="scrollMembersEvents deskVG">

     
        <% if !@groupsFollow.empty? %>
          <% @groupsFollow.last(3).each do |groupsFollowing| %>







          <span class="col-md-4 userEventsNonF mobileVG">

              <div class="elementBox boxGMod">
                <div class="eventImage">
                  <%= image_tag(groupsFollowing.image_url, class: "groupImage1") if groupsFollowing.image? %>
                </div>
                <div class="eventContent">
                  <div class="titleGroups"><%= truncate(groupsFollowing.title, length: 25) %></div>
                </div>
                <% if groupsFollowing.user.present? %>
                <div class="creatorSign">
                  <div class="imageUserGroup">
                  
                    <%= image_tag(groupsFollowing.user.avatar_url(:thumb), class: "userImage2") if groupsFollowing.user.avatar? %>
                  
                  </div>
                  <div class="contentUserPost">
                    <span class="poster"><%= truncate(groupsFollowing.user.name, length: 30) %></span>
                  </div>
                </div>
                <% end %>
              </div>
       


            </span>



          <% end %>

   
        </div>


    </div>



        <% else %>
          <div class="noFollowSec">
            <div class="noFollowSecText">No groups have been joined</div>
          </div>
        <% end %>



<!-- Area of Work 3311 END -->













  <% end %>
<!-- Area of work end -->





    </div>
  </div>




  <!-- Profile Rest End -->

<div class="modal fade" id="postModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="modalPostImage"></div>
      <div class="modal-body">
        <div id="modalPostBody"></div>
      </div>
      <div class="modal-footer">
        <span id="test" class="userImageModal"></span>
        <span class="modal-title" id="modalPoster"></span> on
        <span class="modal-title" id="modalPostTime"></span>
      </div>
    </div>
  </div>
</div>




<% if !@user.posts.empty? %>
  <div class="modal fade" id="show-posts" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content">
        <div class="modal-body ">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>
            <% @user.posts.reverse.each do |post| %>
              <div class="card grid-item allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(post.image_url(:post), class: "card-img-top allPostsImage") if post.image? %>
                  <% if !post.content.blank? %>
                    <div class="card-body">
                      <p class="card-text"><%= truncate post.content, length: 500, separator: ' ' %></p>
                    </div>
                  <% end %>
                  <div class="card-footer">
                    <%= link_to post.user, class: "specialA bottomSign" do %>
                      <%= image_tag(post.user.avatar_url(:thumb), class: "userImage2") if post.user.avatar? %>
                    <% end %>
                    <small class="text-muted"><%= post.user.name %> <%= post.user.last_name %> on <%= post.updated_at.to_time.strftime('%B %e') %></small>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


  <div class="modal fade" id="show-interests" tabindex="-1">
            <button type="button" class="closeInts" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">

      <div class="modal-content-users">

        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>

            <% @collideInterests.each do |interestCollide| %>
               <div class="col-md-3 col-xs-6 noPad1">
                <div class="interestCard">
                  <%= image_tag(interestCollide.image_url(:thumb), class: "interestImage") if interestCollide.image? %>
                  <div class="interestTitleSec">
                    <div class="interestName"><%= interestCollide.name %></div>
                  
                  </div>

                </div>
              </div>
            <% end %>

              

          </div>
        </div>
      </div>
    </div>
  </div>






<script>
    $('#postModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var posterName = button.data('poster');
        var postBody = button.data('body');
        var postTime = button.data('time');
        if (button.data("image") !== undefined) {
            var imageURL = button.data("image");
            $("#modalPostImage").html("<img src=" + imageURL + ">");
        }
        if (button.data("test") !== undefined) {
            var userImageURL = button.data("test");
            $("#test").html("<img src=" + userImageURL + ">");
        }
        var modal = $(this);
        $("#modalPoster").text(posterName);
        $("#modalPostBody").text(postBody);
        $("#modalPostTime").text(postTime);
    });
    /*
    var msnry = new Masonry(elem, {
        // options
        columnWidth: '.grid-sizer',
        itemSelector: '.grid-item',
        percentPosition: true,
        gutter: 10,
        horizontalOrder: true,
        stagger: 30
    });
    */
    $('#show-posts').on('shown.bs.modal', function (e) {
        $('#masonry').masonry({
            columnWidth: '.grid-sizer',
            itemSelector: '.grid-item',
            percentPosition: true,
            gutter: 10,
            horizontalOrder: true,
            stagger: 30
        });
    });



      $(function () { 
      $('.panel-interest').on('click', function (e) {
          var menuItem = $( e.currentTarget );

          if (menuItem.attr('aria-expanded') === 'true') {
              $(this).children(".show-more").text("Open");

          } else {
              $(this).children(".show-more").text("Close");
          }
      });

    });
</script>






















