	

	<div class=" noPad3 col-md-12 col-xs-12 text-center">
		<ul class="nav nav-tabs" id="events-nav" role="tablist">
			<li class="<%= 'active' if current_page?(events_path) %> col-md-3 col-md-offset-2  col-xs-6 noPad3">
			   <%= link_to events_path, method: :get do %>Discover
			     <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(events_path) %>
			   <% end %>
			</li>
			<li class="<%= 'active' if current_page?(myevents_events_path) %> col-md-3 col-md-offset-2  col-xs-6 noPad3">
			   <%= link_to myevents_events_path, method: :get do %>My Events
			     <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(myevents_events_path) %>
			   <% end %>
			</li>


		</ul>
	</div>
