<style type="text/css">
  .tempImageDisp{
    width: 100% !important;

      margin-top: 0em !important;
    border-radius: 12px 12px 0px 0px;
    height: 244px !important;
  }

  .tempImageDisp img{
    width: 100%;

      margin-top: 0em !important;
    border-radius: 12px 12px 0px 0px;
    height: 244px !important;
  }


  .marginSetsB{
    height: 214px !important;
    width: 100% !important;
  }

  .marginSetsB img{
    height: 224px !important;
    width: 100% !important;
  }

  .eventInfoTitle{
    text-align: left;
    width: 100%;
    padding: 15px 0px 4px 0px;
    position: relative;
    font-weight: 900;
    
    font-size: 14px;
    white-space: normal;
  }

  .eventInfoText{
    text-align: left;
    width: 100%;
    padding: 10px 0px 4px 0px;
    position: relative;
    font-weight: 400;

    
    font-size: 12px;
    white-space: normal;
  }
  
</style>


<div class="backButton">
  <%= link_to 'javascript:history.back()' do %>
        <%= image_tag("left-arrow.png", class: "leftArrow") %>
  <% end %>
</div>

<div class="container text-center eventMobileAlert">


<%= image_tag("logoIcon.png", class: "logoMobile ") %>

  <div class="userImage">
    <%= image_tag(current_user.avatar_url, class: "userAvatar") %>
  </div>


<div class="inviteLinkAreaMobile">
  <div class="elementBox ">

    <a href="<%= @event.image_url(:event) %>"  class="lazy-load replace marginSetsB">
      <%= image_tag(@event.image_url(:preview), class: "tempImageDisp preview") if @event.image? %>
    </a>

       <div class="eventContentDiscMob">
          <div class="eventDateDisc"><%= @event.event_date.strftime('%B %e') %></div>
        </div>
        <div class="eventTitleDisc"><%= truncate(@event.title, length: 35) %></div>
        <div class="eventAddress"><%= @event.address %></div>

  </div>

</div>


  <div class="elementBoxAuto col-xs-12" style="margin-top: 15px; padding-top: 15px;">

<% if !signed_in? %>
  <div class="col-md-4 col-xs-6 noPad3 text-center">

      <div class="modalSignUp" data-target="#accessModal" data-toggle="modal" >
         <%= image_submit_tag "attendLong.png", class: "iconImage" %>
          <div class="textOps">
            Log in to attend
          </div>

     </div>

    </div>
<% else %>

          <% if current_user.followingE?(@event) %>
          <div class="col-md-6 col-xs-6 noPad3 text-center">
            <%= render partial: "unfollowEvent" %>
          </div>
          <% else %>
          <div class="col-md-6 col-xs-6 noPad3 text-center">
            <%= render partial: "followEvent" %>
          </div>
          <% end %>

<% end %>


            <div class="col-md-4 col-xs-6 noPad3 text-center" data-target="#show-interests" data-toggle="modal" >


              <%= image_submit_tag "interestsLong.png", class: "iconImage" %>
              <div class="textOps">
                View interests
              </div>
        
   
            </div>


<!-- Invite Friends Modal -->
      

  </div>


  <div class="elementBoxAuto col-xs-12" style="margin-top: 15px;">


        <div class="eventInfoTitle">Description</div>
         <div class="eventInfoText"><%= @event.description %></div>
      

  </div>



  <div class="elementBoxAuto col-xs-12" style="margin-top: 15px;">


        <div class="eventInfoTitle">Location</div>
         <div class="eventInfoText"><%= @event.address %></div>
         <div id="map"></div>
      

  </div>




  <div class="elementBoxAuto col-xs-12" style="margin-top: 15px;">


        <div class="eventInfoTitle">People Attending</div>

    <div class=" noPad3" style="margin-top: 5px;">

    <% if !@eventFollowers.empty? %>
      <%  @eventFollowers.reverse.first(8).each do |eventFollower| %>
      <span class="col-xs-4 text-center noPad3">





  
        <div class="followersSec">
        
            <div class="eImage">
              <div class="followerImageSec"><%= image_tag(eventFollower.avatar_url(:thumb), class: "groupImage2") if eventFollower.avatar? %></div>
              <div class="followerNameSec"><%= truncate(eventFollower.name.gsub(/\s.+/, ''), length: 20) %></div>
            </div>
        
        </div>




    </span>
      <% end %>






    <% else %>
      <div class="noFollowSec">
        <div class="noFollowSecText">This event has no attendees.</div>
      </div>
    <% end %>

</div>
     
      

  </div>




<% if !signed_in? %>

<div class="col-xs-12" style="margin-top: 15px;">     
  <%= button_to "Learn more about Proximy", root_path, method: :get, class: "feedbackButton2" %>
       
</div>  

<% end %>

    <div class="col-xs-12 text-center">
       <div class="noneMobile animated pulse"></div>

    </div>








 <input class="linkToCopy"  value="<%= request.original_url %>" readonly="readonly"/>





</div>




<% if !signed_in? %>
<div class="modal fade bd-example-modal-sm" id="accessModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-login-mobile">
    <div class="modal-content mobileSignUp"> 

   <%= render 'sessions/loginForm' %>
        
    </div>
  </div>
</div>
<% end %>



<%= render 'main/usingMobileModal' %>




























