<%= stylesheet_link_tag "events", :media => "all" %>
<%= javascript_include_tag 'events', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



<div class="backButton">
  <%= link_to 'javascript:history.back()' do %>
        <%= image_tag("left-arrow.png", class: "leftArrow") %>
  <% end %>
</div>
<div class="container mobileArea indexMar">

 <%= render 'eventsMenu' %>

  <div class="tab-content" id="events-nav-content">
    <div class="tab-pane active" id="events" role="events-tab-pane" aria-labelledby="events-tab">

      <h2 class="topTitle2">Discover Events</h2>


      <div class="complete">

          <%= render "events" %>
          
      </div>



    </div>

  </div>



</div>



