<%= stylesheet_link_tag "events", :media => "all" %>
<p id="notice"><%= notice %></p>

<div class="container mobileArea">
  <div class="text-center module1">


    <div class="imageSec">
      <%= image_tag(@event.image_url(:display), class: "eventImageDisplay") if @event.image? %>
          <div class="eventImgTitle">
            <div class="eventTitleImg"><%= @event.title %></div>
          </div>
    </div>


    <div class="col-md-6 col-xs-12 height-100">

      <div class="infoTop">Event Details</div>
      <div class="col-md-6 col-xs-6">
        <div class="eventTitle2">Event Date</div>
        <div class="eventTitle"><%= @event.event_date.strftime('%B %e') %></div>
        <% if @event.event_end_date.present? %>
          to
          <div class="eventTitle"><%= @event.event_end_date.strftime('%B %e') %></div>
        <% end %>
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="eventTitle2">Event Time</div>
        <div class="eventTitle"><%= @event.event_time.strftime("%I:%M %p") %></div>
        <% if @event.event_end_time.present? %>
          to
          <div class="eventTitle"><%= @event.event_end_time.strftime("%I:%M %p") %></div>
        <% end %>
      </div>
      <% if current_user.followingE?(@event) %>
        <%= render partial: "unfollowEvent" %>
      <% else %>
        <%= render partial: "followEvent" %>
      <% end %>
    </div>
  </div>



<div class="col-md-12">

  <div class="fullLength heightControl">
  <% current_user.followingI.each do |userInterest| %>
    <div class="col-md-2 col-xs-2">
      <div class="interestCard">
      <%= image_tag(userInterest.image_url(:thumb), class: "interestImage") if userInterest.image? %>
      <div class="interestTitleSec">
      
        <div class="interestName"><%= userInterest.name %></div>

      
      </div>

      </div>
    </div>
  <% end %>

</div>

  <div class="fullLength heightControl">
  <% @event.fgE.each do |eventInterest| %>
    <div class="col-md-2 col-xs-2">
      <div class="interestCard">
      <%= image_tag(eventInterest.image_url(:thumb), class: "interestImage") if eventInterest.image? %>
      <div class="interestTitleSec">
      
        <div class="interestName"><%= eventInterest.name %></div>

      
      </div>

      </div>
    </div>
  <% end %>

</div>


  <% @interests.each do |interest| %>
  <div class="col-md-2">
  <div class="interestCard">
    <%= image_tag(interest.image_url(:thumb), class: "interestImage") if interest.image? %>
    <div class="interestTitleSec">
    
      <div class="interestName"><%= interest.name %></div>
    
    </div>


    <% if @event.fgE?(interest) %>
          <%= form_for(@event.active_relationships_interests_to_events.find_by(fdE_id: interest.id), html: { method: :delete }) do |f| %>
            <div class="buttonHov">
              <div class="followingState"><%= f.submit "Added", class: "btn  btn-primary addedInterest" %></div>
            </div>
          <% end %>
        <% else %>
          <%= form_for(interest.passive_relationships_interests_to_events.build, method: :post) do |f| %>
            <%= hidden_field_tag :fdE_id, interest.id %>
            <div class="buttonHov">
              <%= f.submit "Add", class: "btn btn-primary addInterest" %>
            </div>
          <% end %>
        <% end %>
    </div>
    </div>
  <% end %>

</div>




<div class="mainField">
  <div class="newsfeed">
    <div class="titleSec">Newsfeed</div>
      <div class="col-md-6 col-xs-12 postMob">
        <% if !@event.event_posts.empty? %>



        <div class="latestPostSec">
          <%  @event.event_posts.last(1).each do |event_post| %>
            <%= image_tag(event_post.image_url(:post), class: "postImageCover") if event_post.image? %>
            <div class="infoSection">
              <div class="postContent"><%= event_post.content %></div>
            </div>
            <div class="userSig">
            <div class="userSignWithin">
              <div class="postUserSec">
                <div class="imageUserPost">
                <%= link_to event_post.event, method: :get, class: "specialA" do %>
                  <%= image_tag(event_post.event.image_url(:thumb), class: "userImage2") if event_post.event.image? %>
                <% end %> 
                </div>
                <div class="contentUserPost">
                  <span class="poster"><%= event_post.event.title %> |</span> 
                  <span class="posterDate"><%= event_post.updated_at.to_time.strftime('%B %e') %></span>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>


        <% else %>
          <div class="noFollowSec">
            <div class="noFollowSecText">There are no posts yet.</div>
          </div>

        <% end %>
      </div>

    <% if @event.event_posts.length > 1 %>
      <div class="col-md-6 col-xs-12 latestPostMain1 postMob">
        <div class="latestPostSec2">
          <% @event.event_posts.last(4).reverse.each_with_index do |event_post, index| %>
          <% unless index == 0 %>
            <%= link_to event_post, method: :get, class: "specialA" do %>
              <div class="laterPostBox">
                <div class="imageSubPost">
                  <%= image_tag(event_post.image_url(:subpost), class: "postImageCover2") if event_post.image? %>
                </div>
                <div class="contentSubPost">
                  <div class="postContent2"><%= truncate(event_post.content, length: 120) %></div> 
                  <div class="userSignMini">
                    <span class="imageMini">
                      <%= image_tag(event_post.event.image_url(:thumb), class: "userImage3") if event_post.event.image? %>
                    </span>
                    <span class="poster"><%= event_post.event.title %> </span> 
                  
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <% end %>
          <%= link_to event_posts_path, method: :get, class: "specialC" do %>
          <div class="laterPostBox">
            <div class="showAllPosts iconMob"><%= image_tag("viewAll.png", class: "showAllIcon") %></div>
            <div class="showAllPosts"><%= button_tag "Show All", class: "btn  btnShowAll" %></div>
          </div>
          <% end %>
        
        </div>
      </div>



      <% else %>

      <% end %>

    </div>




  <div class="newsfeed" >
    <div class="titleSec">People Attending</div>
    <div class="scrollEvents">
    <% if !@eventFollowers.empty? %>
      <%  @eventFollowers.first(5).reverse.each do |eventFollower| %>
      <%= link_to eventFollower, method: :get, class: "specialA" do %>
  
        <div class="followersSec">
        
            <div class="eImage">
              <div class="followerImageSec"><%= image_tag(eventFollower.avatar_url(:thumb), class: "groupImage2") if eventFollower.avatar? %></div>
              <div class="followerNameSec"><%= truncate(eventFollower.name, length: 20) %></div>
            </div>
        
        </div>
  
      <% end %>
      <% end %>
    <% else %>
      <div class="noFollowSec">
        <div class="noFollowSecText">This event has no attendees.</div>
      </div>
    <% end %>


    
    </div>
      <%= link_to posts_path, method: :get, class: "specialC" do %>
      <div class="showFollowersBtn">
        <div class="followersBtn"><%= button_tag "Show All Users", class: "btn  btnShowAll" %></div>
      </div>
    <% end %>
  </div>

  


</div>


</div>
<div class="col-md-12">
  <br>
  <br>
  <br>

</div>


<!--


<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>


<p>
  <strong>Event Creator:</strong>
  <%= @event.user.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
