<%= stylesheet_link_tag "events", :media => "all" %>
<%= javascript_include_tag 'events', 'data-turbolinks-track': 'reload' %>
<% if flash[:notice] %>
<div class="alert alert-success" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>






<div class="mobileArea">
  <div class="module1">


    <div class="imageSec">
      <%= image_tag(@event.image_url, class: "eventImageDisplay") if @event.image? %>
      <div class="eventImgTitle">
        <div class="eventTitleImg"><%= @event.title %></div>
      </div>
    </div>



    <div class="col-md-6 col-xs-12 infoSec">

    <div class="infoTop">Event Details</div>


      <div class="col-md-12 col-xs-12 noPad3">
        <div class="eventTitle2">Event Date</div>
          <span class="eventTitle"><%= @event.event_date.strftime('%B %e') %></span>
          <% if @event.event_end_date.present? %>
          to
          <span class="eventTitle"><%= @event.event_end_date.strftime('%B %e') %></span>
        <% end %>
      </div>


      <div class="col-md-12 col-xs-12 noPad3">
        <div class="eventTitle2">Event Time</div>
          <span class="eventTitle"><%= @event.event_time.strftime("%I:%M %p") %></span>
          <% if @event.event_end_time.present? %>
          to
          <span class="eventTitle"><%= @event.event_end_time.strftime("%I:%M %p") %></span>
        <% end %>
      </div>

      <div class="col-md-12 col-xs-12 noPad3">
          <div class="eventTitle2">Created by</div>
          <%= image_tag(@event.user.avatar_url(:thumb), class: "organizerAv") if @event.user.avatar? %>
          <span class="organizerName"><%= @event.user.name %> <%= @event.user.last_name %></span>
      </div>



      <% if current_user == @event.user %>
          <div class="adminPos">

            <div class="col-md-4 col-xs-12 noPad3">

              <% if current_user.followingE?(@event) %>


                <%= form_for(current_user.active_relationships_events.find_by(followedE_id: @event.id), html: { method: :delete }) do |f| %>
                  <div class="attendingState"><%= f.submit "Attending Event", class: "btn  btn-primary unAttendGroupBtn greenAttend" %></div>
                  <div class="notAttendingState"><%= f.submit "Cancel", class: "btn  btn-primary unAttendGroupBtn" %></div>
                <% end %>

              <% else %>


                 <%= form_for(@event.passive_relationships_events.build, method: :post) do |f| %>
                  <%= hidden_field_tag :followedE_id, @event.id %>
                    <%= f.submit "Attend Event", class: "btn btn-primary attendEventBtn" %>
                  <% end %>


              <% end %>


            </div>

            <div class="col-md-4 col-xs-12 noPad3">
              <%= button_to "Edit Event", edit_event_path(@event), method: :get, class: "btn btn-primary attendEventBtn" %>
            </div>


            <div class="col-md-4 col-xs-12 noPad3">
              <%= button_to "Edit Interests", interests_event_path(@event), method: :get, class: "btn btn-primary attendEventBtn" %>
            </div>


          </div>

      <% else %>



          <% if current_user.followingE?(@event) %>
            <%= render partial: "unfollowEvent" %>
          <% else %>
            <%= render partial: "followEvent" %>
          <% end %>


      <% end %>
    </div>
  </div>







<div class="container mobNavs">
  <div class="panel panel-default interestSec">
    <div class="panel-heading accordion-toggle" data-toggle="collapse" href="#animals" aria-expanded="false">
      Interests in event <div class="show-more">Open</div>
    </div>

    <div id="animals" class="panel-collapse collapse" data-parent="#accordion">
      <div class="panel-body">

        <% @event.fgE.each do |eventInterest| %>

        <div class="col-md-2 col-xs-6">
          <div class="interestCard">
            <%= image_tag(eventInterest.image_url(:thumb), class: "interestImage") if eventInterest.image? %>
            <div class="interestTitleSec">
              <div class="interestName"><%= eventInterest.name %></div>
            </div>
          </div>
        </div>

        <% end %>

      </div>
    </div>
  </div>
</div>







<div class="container mobNavs">


<% if current_user.followingE?(@event)%>



<!-- Post Start -->

<div class="newsfeed1">

    <div class="titleSec">Newsfeed</div>

    <% if !@event.event_posts.empty? %>

      <div class="col-md-6 col-xs-12 noPad1">

        <% @event.event_posts.last(1).each do |event_post| %>

          <div class="card">

            <span data-toggle="modal" data-target="#postModalE"
            data-posterE="<%= event_post.event.title %>"
            data-bodyE="<%= event_post.content %>"
            data-timeE="<%= event_post.updated_at.to_time.strftime('%B %e') %>"
            <%= ("data-imageE=\"" << event_post.image_url << "\"") if event_post.image? %>
            <%= ("data-testE=\"" << event_post.event.image_url(:thumb) << "\"") if event_post.event.image? %> 
            >

              <div class="material-icons text-muted launch-modal align-middle">

                <%= image_tag(event_post.image_url(:post), class: "card-img-top") if event_post.image? %>

                <div class="card-body">
                  <p class="card-text"><%= truncate event_post.content, length: 500, separator: ' ' %></p>
                </div>

                <div class="card-footer">
                  <%= link_to event_post.event, method: :get, class: "specialA bottomSign" do %>
                    <%= image_tag(event_post.event.image_url(:thumb), class: "userImage2") if event_post.event.image? %>
                  <% end %>

                  <small class="text-muted"><%= event_post.event.title %> on <%= event_post.updated_at.to_time.strftime('%B %e') %></small>

                </div>

              </div>

            </span>

          </div>


        <% end %>


      </div>

  <div class="noPad1">

      <div class="laterPostBoxMob">
        <%= link_to new_event_post_path(event_id: @event.id), method: :get, class: "btn connectBtn" do %>
          <div class="btn btnShowAll showAllPosts">
            Create Post
          </div>
        <% end %>
      </div>
  </div>

    <div class="latestPostSec2">


      <div class="col-md-6 col-xs-12 noPad2">


        <div class="laterPostBox">


          <%= link_to new_event_post_path(event_id: @event.id), method: :get, class: "btn connectBtn" do %>
            <div class="showAllPosts">
              Create Post
            </div>
          <% end %>

        </div>

        <% if @event.event_posts.length > 1 %>


        <% @event.event_posts.last(3).reverse.each_with_index do |event_post, index| %>
          <% unless index == 0 %>
            <div class="laterPostBox subPost">


              <span data-toggle="modal" data-target="#postModalE"
              data-bodyE="<%= event_post.content %>"
              data-posterE="<%= event_post.event.title %>"
              data-timeE="<%= event_post.updated_at.to_time.strftime('%B %e') %>"
              <%= ("data-imageE=\"" << event_post.image_url << "\"") if event_post.image? %>
              <%= ("data-testE=\"" << event_post.event.image_url(:thumb) << "\"") if event_post.event.image? %>
              >
                <div class="material-icons text-muted launch-modal align-middle">


                  <div class="row no-gutters ">
                    <div class="col-md-6 col-xs-12 post-image-background"
                    style="background-image: url(<%= event_post.image_url(:post) %>);">
                    </div>


                      <div class="col-md-6 col-xs-12 ">
                        <div class="card-body infoSecPost">
                          <p class="card-text"><%= truncate event_post.content, length: 150, separator: ' ' %></p>
                        </div>
                        <div class="nameText">
                          <span><%= image_tag(event_post.event.image_url(:thumb), class: "userImageMini") if event_post.event.image? %></span>
                          <span class="card-text textMini"><%= truncate event_post.event.title, length: 150, separator: ' ' %></span>
                        </div>

                      </div>

                  </div>

                </div>
              </span>




            </div>
          <% end %>
        <% end %>



        <div class="laterPostBox">
          <div class="showAllPosts" data-toggle="modal" data-target="#show-posts"><button type="button" class="btn btnShowAll">Show All</button></div>
        </div>



      </div>

    </div>

  <div class="noPad1">
      <div class="laterPostBoxMob">
        <div class="showAllPosts" data-toggle="modal" data-target="#show-posts"><button type="button" class="btn btnShowAll">Show All</button></div>
      </div>
  </div>




    <% end %>








    <% else %>




        <div class="noFollowSec">
          <div class="noFollowSecText">There are no posts yet.</div>
        </div>

      <div class="noPad1">
          <div class="laterPostBox ">
            <%= link_to new_event_post_path(event_id: @event.id), method: :get, class: "btn connectBtn" do %>
              <div class="showAllPosts">
                Create the first post
              </div>
            <% end %>

          </div>
      </div>

    <% end %>

  </div>




<!-- Post End -->

<% else %>
<% end %>

</div>




</div>

<div class="container noPad3">

    <div class="newsfeed1">
      <div class="titleSec">Information</div>
      <div class="col-md-6 col-xs-12  descriptionSec">

        <%= @event.description %>
        <hr>

        <div class="address"><%= @event.address %></div>
        
      </div>

      <div class="col-md-6 col-xs-12 postMob descriptionSec descMap">

       <div id="map"></div>
      </div>
    </div>



  <div class="newsfeed1" >
    <div class="titleSec">People Attending</div>
    <div class="scrollEvents">
    <% if !@eventFollowers.empty? %>
      <%  @eventFollowers.reverse.first(7).each do |eventFollower| %>
      <%= link_to eventFollower, method: :get, class: "specialA" do %>
  
        <div class="followersSec">
        
            <div class="eImage">
              <div class="followerImageSec"><%= image_tag(eventFollower.avatar_url(:thumb), class: "groupImage2") if eventFollower.avatar? %></div>
              <div class="followerNameSec"><%= truncate(eventFollower.name.gsub(/\s.+/, ''), length: 20) %></div>
            </div>
        
        </div>
  
      <% end %>
      <% end %>
    <% else %>
      <div class="noFollowSec">
        <div class="noFollowSecText">This event has no attendees.</div>
      </div>
    <% end %>


    
    </div>



    <div class="laterPostBox2">

      <div class="showAllPosts" data-toggle="modal" data-target="#show-users"><button type="button" class="btn btnShowAll">Show Users</button></div>
    </div>




  </div>
</div>


</div>








<div class="modal fade" id="postModalE" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="modalPostImage"></div>
      <div class="modal-body">
        <div id="modalPostBody"></div>
      </div>
      <div class="modal-footer">
        <span id="test" class="userImageModal"></span>
        <span class="modal-title" id="modalPoster"></span> on
        <span class="modal-title" id="modalPostTime"></span>
      </div>
    </div>
  </div>
</div>


<% if !@event.event_posts.empty? %>
  <div class="modal fade" id="show-posts" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>
            <% @event.event_posts.reverse.each do |event_post| %>
              <div class="card grid-item allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(event_post.image_url(:post), class: "card-img-top allPostsImage") if event_post.image? %>
                  <% if !event_post.content.blank? %>
                    <div class="card-body">
                      <p class="card-text"><%= truncate event_post.content, length: 500, separator: ' ' %></p>
                    </div>
                  <% end %>
                  <div class="card-footer">
                    <%= link_to event_post.event, method: :get, class: "specialA bottomSign" do %>
                      <%= image_tag(event_post.event.image_url(:thumb), class: "userImage2") if event_post.event.image? %>
                    <% end %>
                    <small class="text-muted"><%= event_post.event.title %> on <%= event_post.updated_at.to_time.strftime('%B %e') %></small>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if !@eventFollowers.empty? %>
  <div class="modal fade" id="show-users" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content-users">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>


            <% @eventFollowers.each do |eventFollower| %>
             <%= link_to eventFollower, method: :get, class: "specialA" do %>
              <div class="card grid-item-user allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(eventFollower.avatar_url(:thumb), class: "card-img-top allPostsImage") if eventFollower.avatar? %>
                    <div class="card-body">
                      <p class="card-text nameBold"><%= truncate eventFollower.name.gsub(/\s.+/, ''), length: 500, separator: ' ' %></p>
                    </div>

                </div>
              </div>

              <% end %>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>





<script>


        $(function () { 
      $('.panel-heading').on('click', function (e) {
          var menuItem = $( e.currentTarget );

          if (menuItem.attr('aria-expanded') === 'true') {
              $(this).children(".show-more").text("Open");

          } else {
              $(this).children(".show-more").text("Close");
          }
      });

    });



    $('#show-posts').on('shown.bs.modal', function (e) {
        $('#masonry').masonry({
            columnWidth: '.grid-sizer',
            itemSelector: '.grid-item',
            percentPosition: true,
            gutter: 10,
            horizontalOrder: true,
            stagger: 30
        });
    });





      $('#postModalE').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);

    
        var posterName = button.attr('data-posterE');



        var postBody = button.attr('data-bodyE');



        var postTime = button.attr('data-timeE');


        if (button.attr("data-imageE") !== undefined) {
            var imageURL = button.attr("data-imageE");
            $("#modalPostImage").html("<img src=" + imageURL + ">");
        }



        if (button.attr("data-testE") !== undefined) {
            var userImageURL = button.attr("data-testE");
            $("#test").html("<img src=" + userImageURL + ">");
        }





        var modal = $(this);

        $("#modalPoster").text(posterName);



        $("#modalPostBody").text(postBody);
        $("#modalPostTime").text(postTime);
    })


    function initMap() {
      // The location of Uluru
      var pos = {lat: <%= @event.latitude %> , lng: <%= @event.longitude %> };
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 12, center: pos});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: pos, map: map});
    }



</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo48DWSAQY1Qc3Tg4LjO8DtBJ32jSDbZI&callback=initMap">
</script>


