<%= stylesheet_link_tag "events", :media => "all" %>
<%= stylesheet_link_tag "animate", :media => "all" %>
<%= javascript_include_tag 'events', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>




<%= stylesheet_link_tag "lazy-load-images.min", :media => "all" %>
<%= javascript_include_tag 'lazy-load-images.min', 'data-turbolinks-track': 'reload' %>



<script>
  AOS.init();
</script>

<script type="text/javascript">
  $(document).ready(function () {
   



      setTimeout(function() {
       $(".alert").fadeOut("1000");
      }, 4000);


    })

</script>







<style type="text/css">
.inviteLinkIcon{
    width:25px; /*width of your image*/
   height:25px;
    margin:0; /* If you want no margin */
   padding:0; 

  background: url(<%= asset_path 'chain.svg' %>) no-repeat 0 0; 
  background-size: 25px 25px;
}

.inviteLinkIcon:hover{


    width:25px; /*width of your image*/
   height:25px;
    margin:0; /* If you want no margin */
   padding:0; 

  background: url(<%= asset_path 'chainHover.svg' %>) no-repeat 0 0; 
  background-size: 25px 25px;
  transition: 0.2s ease-in-out;
  background-color: #508cf7;
}



</style>

<script type="text/javascript">
  $(function() {
    $('.inviteLinkIcon').hover(function() {
      $('.inviteLinkArea').css('background-color', '#508cf7');
    }, function() {
      // on mouseout, reset the background colour
      $('.inviteLinkArea').css('background-color', '');
    });
  });
</script>

<% if flash[:notice] %>
<div class="alert animated pulse " role="alert">
  <div class="alert-success">
      <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>


</div>
<% end %>






<style type="text/css">
  input{
    margin: -2px;
  }
  
.interestCard{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}


    .modal-content {
    border-radius: 11px;
    padding: 25px;
  }


  .modal.in .modal-dialog{
    margin-top: 40px !important;
  }


</style>


<div class="backButton ">
  <%= link_to 'javascript:history.back()' do %>
        <%= image_tag("left-arrow.png", class: "leftArrow") %>
  <% end %>
</div>

<div class="container noPad3">

<div class="col-md-5 col-xs-12 scrollNorm">
  <div class="text-center module1">


    <div class="innerModule">
    <div class="imageSec">


<a href="<%= @event.image_url %>" class="lazy-load replace marginSetsA">
      <%= image_tag(@event.image_url(:preview), class: "eventImageDisplay preview") if @event.image? %>
 </a>



      <div class="eventImgTitle">
        <div class="eventTitleImg"><%= @event.title %></div>

<!-- 
         <div class="eventFBInvite">Invite</div> -->

         
      </div>

    </div>



    <div class="col-md-12 col-xs-12 infoSec noPad3Desk">




<div class="infoSec2">

      <div class="col-md-12 col-xs-12 noPad3 text-left">

          <span class="eventTitle"><%= @event.event_date.strftime('%B %e') %></span>
          <% if @event.event_end_date.present? %>
          <span class="eventTitle">to</span>
          <span class="eventTitle"><%= @event.event_end_date.strftime('%B %e') %></span>
        <% end %>
        <span class="eventTitle">at</span>
        <span class="eventTitle"><%= @event.event_time.strftime("%I:%M %p") %></span>
        <% if @event.event_end_time.present? %>
          <span class="eventTitle">to</span>
          <span class="eventTitle"><%= @event.event_end_time.strftime("%I:%M %p") %></span>
        <% end %>
      </div>




      <!-- Buttons Start -->
      <% if current_user == @event.user %>
      <% if Date.today <= @event.event_date %>
          <div class="buttonsEvent">

            <div class="col-md-3 col-xs-3 noPad3Desk text-center">

              <% if current_user.followingE?(@event) %>

              
                <%= form_for(current_user.active_relationships_events.find_by(followedE_id: @event.id), html: { method: :delete }) do |f| %>
                  <%= image_submit_tag "attend.png", class: "iconImage" %>
                    <div class="textOps">
                      Attending event
                    </div>

                <% end %>

              <% else %>


                 <%= form_for(@event.passive_relationships_events.build, method: :post) do |f| %>
                  <%= hidden_field_tag :followedE_id, @event.id %>
                    <%= image_submit_tag "attendInv.png", class: "iconImage" %>
                    <div class="textOps">
                      Attend event
                    </div>
                  <% end%>


              <% end %>


            </div>

            <div class="col-md-3 col-xs-3 noPad3Desk text-center">
              <%= link_to edit_event_path(@event), method: :get, class: "specialA" do %>

                <%= image_tag("geatInv.png", class: "iconImage") %>
                <div class="textOps">
                  Edit event 
                </div>
              <% end %>

            </div>


            <div class="col-md-3 col-xs-3 noPad3Desk text-center">

              <%= link_to interests_event_path(@event), method: :get, class: "specialA" do %>

                <%= image_tag("filterInv.png", class: "iconImage") %>
                <div class="textOps">
                  Edit interests
                </div>
              <% end %>
            
            </div>


            <div class="col-md-3 col-xs-3 noPad3Desk text-center" data-target="#show-interests" data-toggle="modal" >


              <%= image_submit_tag "interestsInv.png", class: "iconImage" %>
              <div class="textOps">
                View interests
              </div>
        
   
            </div>




          </div>
        <% else %>
                  <div class="col-md-12 col-xs-12 noPad3 buttonsEvent">
           <%= button_tag "This event already happened", class: "btn btn-primary attendEventBtn" %>
        </div>

        <% end %>




      <% else %>


     <% if Date.today <= @event.event_date %>

     <div class="buttonsEvent">
      <% if signed_in? %>
          <% if current_user.followingE?(@event) %>
          <div class="col-md-6 col-xs-6 noPad3 text-center">
            <%= render partial: "unfollowEvent" %>
          </div>
          <% else %>
          <div class="col-md-6 col-xs-6 noPad3 text-center">
            <%= render partial: "followEvent" %>
          </div>
          <% end %>

      <% else %>
      <div class="col-md-6 col-xs-6 noPad3 text-center">

        <%= link_to login_path, method: :get, class: "specialA" do %>
         <%= image_submit_tag "attendLong.png", class: "iconImage" %>
          <div class="textOps">
            Log in to attend
          </div>
        </div>
        <% end %>
      <% end %>




            <div class="col-md-6 col-xs-6 noPad3 text-center" data-target="#show-interests" data-toggle="modal" >


              <%= image_submit_tag "interestsLong.png", class: "iconImage" %>
              <div class="textOps">
                View interests
              </div>
        
   
            </div>

    </div>

      <% else %>
        <div class="col-md-12 col-xs-12 noPad3 buttonsEvent">
           <%= button_tag "This event already happened", class: "btn btn-primary attendEventBtn" %>
        </div>
      <% end %>

      <% end %>
<!-- Buttons End -->


     <div class="col-md-12 col-xs-12 noPad3 inviteButton" data-target="#show-inv" data-toggle="modal">
           <%= button_tag "Invite friends", class: "btn btn-primary inviteButtonDesign" %>
        </div>




      <div class="col-md-12 col-xs-12 noPad3 text-left">
          <div class="eventTitle2">Hosted by</div>
          <% if @event.group.present? %>
            <%= link_to @event.group, method: :get, class: "specialA" do %>
              <%= image_tag(@event.group.image_url(:thumb), class: "organizerAv") if @event.group.image? %>
              <span class="organizerName"><%= truncate(@event.group.title, length: 30) %></span>
            <% end %>
          <% else %>
          <%= link_to @event.user, method: :get, class: "specialA" do %>
            <%= image_tag(@event.user.avatar_url(:thumb), class: "organizerAv") if @event.user.avatar? %>
            <span class="organizerName"><%= @event.user.name %> <%= @event.user.last_name %></span>
           <% end %>
          <% end %>
          
      </div>





<!-- Invitations System START -->



          
 



<!-- Modal -->





<!-- Invitations System END -->











</div>







  </div>


</div>

    </div>



</div>









  <div class="col-md-7 noPad3">












  <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <li class="nav-item active">
      <div class="nav-link active" id="v-pills-friend-tab" data-toggle="pill" href="#v-pills-friend" role="tab" aria-controls="v-pills-friend" aria-selected="true">
        Information
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link" id="v-pills-new-events-tab" data-toggle="pill" href="#v-pills-new-events" role="tab" aria-controls="v-pills-new-events" aria-selected="false">
        Discussion
      </div>
    </li>
  </ul>



<div class="tab-content" id="v-pills-tabContent">

  <div class="tab-pane fade show active in" id="v-pills-friend">

      <%= render "infoSection" %>

  </div>











<!-- Post Sec Start -->

  <div class="tab-pane fade " id="v-pills-new-events">

    <div class="event_post_area">
 <div class="buttonSection">

<% if signed_in? %>
      <div id="newDiscussion">
                <%= link_to new_event_post_path(event_id: @event.id), remote: true, class: "btn connectBtn" do %>
                  <div class="showAllPosts">
                    Create Post
                  </div>
                <% end %>

<% end %>


    </div>
</div>
   
  <div id="eventPosts">

     
    <%= render @event_posts.reverse %>
      

 </div>



       </div>
    
  </div>



  <!-- Post Sec End -->










</div>











  </div>






</div>








<div class="modal fade" id="postModalE" role="dialog">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div id="modalPostImage"></div>
      <div class="modal-body">
        <div id="modalPostBody"></div>
      </div>
      <div class="modal-footer">
        <span id="test" class="userImageModal"></span>
        <span class="modal-title" id="modalPoster"></span><span class="modal-title"> on </span> 
        <span class="modal-title" id="modalPostTime"></span>
      </div>
    </div>
  </div>`
</div>


<% if !@event.event_posts.empty? %>
  <div class="modal fade" id="show-posts" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>
            <% @event.event_posts.reverse.each do |event_post| %>
              <div class="card grid-item allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(event_post.image_url(:post), class: "card-img-top allPostsImage") if event_post.image? %>
                  <% if !event_post.content.blank? %>
                    <div class="card-body">
                      <p class="card-text"><%= truncate event_post.content, length: 500, separator: ' ' %></p>
                    </div>
                  <% end %>
                  <div class="card-footer">
                    <%= link_to event_post.event, method: :get, class: "specialA bottomSign" do %>
                      <%= image_tag(event_post.event.image_url(:thumb), class: "userImage2") if event_post.event.image? %>
                    <% end %>
                    <small class="text-muted"><%= event_post.event.title %> on <%= event_post.updated_at.to_time.strftime('%B %e') %></small>
                  <!--
                    <%= link_to event_post, method: :get, class: "specialA" do %>
                      <%= image_tag("comments.png", class: "ImageIDerComm") %>
                    <% end %>
                  -->
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if !@eventFollowers.empty? %>
  <div class="modal fade" id="show-users" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content-users">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>


            <% @eventFollowers.each do |eventFollower| %>
             <%= link_to eventFollower, method: :get, class: "specialA" do %>
              <div class="card grid-item-user allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(eventFollower.avatar_url(:thumb), class: "card-img-top allPostsImage") if eventFollower.avatar? %>
                    <div class="card-body">
                      <p class="card-text nameBold"><%= truncate eventFollower.name, length: 500, separator: ' ' %></p>
                    </div>

                </div>
              </div>

              <% end %>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



  <div class="modal fade" id="show-interests" tabindex="-1">
                    <button type="button" class="closeInts" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content-users">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>


            <% @event.fgE.each do |eventInterest| %>
                <div class="col-md-3 col-xs-6 noPad1">
                  <div class="interestCard">
                    <%= image_tag(eventInterest.image_url(:thumb), class: "interestImage") if eventInterest.image? %>
                    <div class="interestTitleSec">
                      <div class="interestName"><%= eventInterest.name %></div>
                    </div>
                  </div>
                </div>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="show-inv" tabindex="-1">
    <button type="button" class="closeInts" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="modal-dialog" role="document" style="width: 20%">
          <div class="modal-content">
            <div class="text-center">
              <div class="inviteLinkArea"> <div class="inviteLinkIcon"> &nbsp;</div> </div><div class="inviteLinkText">Copy event link</div>

        

              <input class="linkToCopy"  value="<%= request.original_url %>" />





            </div>
          </div>
        </div>


        <div class="none animated pulse"></div>

    <div class="modal-dialog modal-dialog-centered allPostsDialog" role="document">
      <div class="modal-content-users">
        <div class="modal-body">
          <div class="grid" id="masonry">
            <div class="grid-sizer"></div>





<% if signed_in? %>

            <% @fullyFriends.each do |friend| %>
          
              <div class="card grid-item-user allPostsCard">
                <div class="material-icons text-muted launch-modal align-middle">
                  <%= image_tag(friend.avatar_url(:thumb), class: "card-img-top allPostsImage") if friend.avatar? %>
                    <div class="card-body">
                      <p class="card-text nameBold"><%= truncate friend.name, length: 500, separator: ' ' %></p>

   
                    </div>





                </div>




        <div class="invite">

  

            <% if (friend.invitations.ids & @eventInvites.ids).any? %>



            <div class="invitedFriend">
             Already invited

            </div>

            <% else %>

                        <%= form_for(@notification_event) do |f| %>

                              <%= f.hidden_field :event_id, value: @event.id %>
                              <%= f.hidden_field :recipient_id, value: friend.id %>
                              <%= f.hidden_field :sender_id, value: current_user.id %>

                              <%= f.submit "Invite", class: "btn btn-primary inviteFriend" %>
      
                          <% end %>


            <% end %>

                   
          </div>










              </div>



   
            <% end %>
            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>


<script type="text/javascript">




  $('div.inviteLinkArea').click(function(){
    $(this).siblings('.linkToCopy').select();      
    document.execCommand("copy");
  });




$('div.inviteLinkArea').one('click', function(e) {
  $(".none").append("<div class=\"msg animated pulse\">Copied</div>").hide().fadeIn(500);
   setTimeout(function(){
        $(".none").fadeOut("1000");
   },4000)

 
});



</script>





<script>


$(document).on("turbolinks:load", function(){
   $("img").lazyload({
      effect: "fadeIn"
   });

  });








        $(function () { 
      $('.panel-interest').on('click', function (e) {
          var menuItem = $( e.currentTarget );

          if (menuItem.attr('aria-expanded') === 'true') {
              $(this).children(".show-more").text("Open");

          } else {
              $(this).children(".show-more").text("Close");
          }
      });

    });



    $('#show-posts').on('shown.bs.modal', function (e) {
        $('#masonry').masonry({
            columnWidth: '.grid-sizer',
            itemSelector: '.grid-item',
            percentPosition: true,
            gutter: 10,
            horizontalOrder: true,
            stagger: 30
        });
    });








      $('#postModalE').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);

    
        var posterName = button.attr('data-posterE');

    


   
            var link = button.attr("data-linkE");
            $("#modalLink").html("<a href=" + link + "> Test </a>");




        var postBody = button.attr('data-bodyE');



        var postTime = button.attr('data-timeE');


        if (button.attr("data-imageE") !== undefined) {
            var imageURL = button.attr("data-imageE");
            $("#modalPostImage").html("<img src=" + imageURL + ">");
        }



        if (button.attr("data-testE") !== undefined) {
            var userImageURL = button.attr("data-testE");
            $("#test").html("<img src=" + userImageURL + ">");
        }





        var modal = $(this);


        $("#modalPoster").text(posterName);



        $("#modalPostBody").text(postBody);

       



        $("#modalPostTime").text(postTime);
    })



</script>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '559603124962178',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v7.0'
    });
  };
</script>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

<script type="text/javascript">


  $('.eventFBInvite').click(function(){
    FB.ui({
      method: 'send',
      link: 'proximy.ca/events/9',
      description: "Hello",
      picture: 'https://cdn.mos.cms.futurecdn.net/iVzDgRJPRAKkrmJnpu86mU-1200-80.jpg'
    });
  });

</script>







<script type="text/javascript">

  
      function initMap() {
      // The location of Uluru
      var pos = {lat: <%= @event.latitude %> , lng: <%= @event.longitude %> };
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 12, center: pos});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: pos, map: map});
    }





</script>


<script>




jQuery(window).on('load', function(){ var $ = jQuery;
      var elem = document.querySelector('.grid');
      var msnry = new Masonry(elem, {
          // options
          columnWidth: '.grid-sizer',
          itemSelector: '.grid-item',
          percentPosition: true,
          gutter: 10,
          horizontalOrder: true,
          stagger: 30
      });
});
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo48DWSAQY1Qc3Tg4LjO8DtBJ32jSDbZI&callback=initMap">
</script>


