<%= stylesheet_link_tag "chats", :media => "all" %>

<!-- chat__main--wrapper -->
<div class="chat__main--wrapper">
  <input type="hidden" class="input__active--user" name="active_user" value="-1">
  <input type="hidden" class="input__current--user" name="current_user" value="<%= current_user.id %>">

  <!-- chat__contact--panel -->
  <div class="chat__main--sub-section chat__contact--panel ">
    <div class="contactMargin">
      <%= render @users %>
      <div class="proximyLogo">
        <%= image_tag("logoIcon.png", class: "logoMain") %>
      </div>
    </div>
  </div> <!-- /.chat__contact--panel -->

  <!-- chat__message--panel -->
  <div class="chat__main--sub-section chat__message--panel">
    <!-- #messages -->
    <div id="messages">
      <div class="text-center">
        <div class=" noReqArea">
          <%= image_tag("chatBubbles.png", class: "noReqIcon") %>
        </div>
        <div class="noReqText">
          Select someone to start chatting
        </div>
      </div>
    </div> 
    <!-- /#messages -->

    <!-- chat__message--panel-input -->
    <div class="messageField chat__message--panel-input">
      <form class="form__message-new">
        <div class="uploadItems">


<!-- 

          <div class="col_4">
            <div class="form-group">
              <label for="doc">
                <input class="form__input-attachment-doc" id="doc" type="file" accept=".xls,.xlsx,.pdf,.docx">
                <img src='<%= asset_path 'attachment.svg' %>' id="doc">
              </label>
            </div>
          </div> -->






          <div class="col-md-12">
            <div class="form-group">
              <label for="image">
                <input class="form__input-attachment" id="image" type="file">
                <img src='<%= asset_path 'attachment.svg' %>' id="image">
              </label>
            </div>
          </div>

<!--           <div class="col_4">
            <div class="form-group">
              <label for="image">
                <input class="form__input-attachment-image" id="image" type="file" accept=".png,.jpg,.gif">
                <img src='<%= asset_path 'attachment.svg' %>' id="image">
              </label>
            </div>
          </div> -->

        </div>
        <div class="messageForm">
          <div class="form-group">
            <textarea class="form-control form__input-body" placeholder="Type message here..."  style="height: 45px;" data-emojiable="true"></textarea>
          </div>
        </div>
        <div class="sendButton">
          <%= image_submit_tag "sendMessage.png", class: "iconImageMessage" %>
        </div>
      </form>
    </div> <!-- /.chat__message--panel-input -->
  </div> <!-- /.chat__message--panel -->
</div> <!-- /.chat__main--wrapper -->

<script type="text/javascript">

  var textarea = jQuery('.emoji-wysiwyg-editor');
  textarea.on("input", function () {
      jQuery(this).css("height", ""); //reset the height
      jQuery(this).css("height", Math.min(jQuery(this).prop('scrollHeight'), 200) + "px");
  });


  $(document).ready(() => {
    const $messages = $('#messages')
    const $contactElement = $('.chat__contact--element')
    const $inputActiveUser = $('.input__active--user')
    const $inputCurrentUser = $('.input__current--user')

    const messagesElement = document.querySelector('#messages');
    const itemsToAdd = 10

    $('.chat__contact--element').on('click', (e) => {
      const $htmlBody = $('html, body')
      const $selectedContactElement = $(e.currentTarget)
      const selectedUserId = $selectedContactElement.data('id')
      // const isFriendRequest = $selectedContactElement.data('is-friend-request')
      
      let pageNumber = 0;


      $contactElement.removeClass('is-active')
      $contactElement.removeClass('is-new-message')
      

      $messages.animate({ scrollTop: $(document).height() + "1000px" }, "slow")

      $.ajax({
        type: "GET", 
        url: "/chats/list_messages/" + selectedUserId,
        data: {
          id: selectedUserId 
        },
        success: (data, textStatus, jqXHR) => {
          $messages.html(data)
        },
        error: (jqXHR, textStatus, errorThrown) => {}
      })



      $selectedContactElement.addClass('is-active')
      $inputActiveUser.val(selectedUserId)
      
      // messagesElement.addEventListener('scroll', function() {
      //   if (messagesElement.scrollTop + messagesElement.clientHeight >= messagesElement.scrollHeight) {
      //     $.ajax({
      //       type: "GET", 
      //       url: "/chats/ajax_messages/",
      //       data: {
      //         id: selectedUserId,
      //         start: pageNumber * itemsToAdd,
      //         end: (pageNumber + 1) * itemsToAdd,
      //       },
      //       success: (data, textStatus, jqXHR) => {
      //         $messages.append(data)
      //         pageNumber += 1
      //       },
      //       error: (jqXHR, textStatus, errorThrown) => {}
      //     })
      //   }
      // });


    });

  });
</script>
