<%= stylesheet_link_tag "contacts", :media => "all" %>






	<% @userFriendships.each do |invFriends| %>
	<% unless invFriends.status == "accepted" %>

	  <div class="container">
    <div class="titleSec">Pending Friends</div>
 

	
		 		<div class="col-md-6">
		 			<%= link_to invFriends.user, method: :get, class: "specialA" do %>
				 		<div class="notifModuleF">

							<div class="imageSec">
								<%= image_tag(invFriends.user.avatar_url(:thumb), class: "interestImage") if invFriends.user.avatar? %>
							</div>
							<div class="infoSec">
								<div class="infoInner">
									<div class="notifTitle">
										<%= invFriends.user.name %>
									</div>
									<div class="notifTitle">

										<%= link_to "Accept", update_friendship_friendship_path(invFriends), method: :patch, class: "specialA"  %>
									</div>


								</div>
							</div>
				 		
				 		</div>
				 	<% end %>
		 		</div>
	</div>
	<% end %>
	<% end %>
	




  <div class="container">
    <div class="titleSec">Friends</div>
 </div>




 <div class="container mobNavs">
 		<% @user.friendships.each do |friend| %>
 		<% if friend.status == "accepted" %>

	 		<div class="col-md-6">
	 			<%= link_to friend.friend, method: :get, class: "specialA" do %>
			 		<div class="notifModuleF">

						<div class="imageSec">
							<%= image_tag(friend.friend.avatar_url(:thumb), class: "interestImage") if friend.friend.avatar? %>
						</div>
						<div class="infoSec">
							<div class="infoInner">
								<div class="notifTitle">
									<%= friend.friend.name %>
								</div>


							</div>
						</div>
			 		
			 		</div>
	 		</div>
		<% end %>


 		<% end %>
 		<% end %>


  </div>





 		


 



 	



