<%= stylesheet_link_tag "users", :media => "all" %>




  <div class="container">
    <div class="titleSec">Friends</div>
 </div>


<!-- Delete Freidships if user is deleted -->

 <div class="container mobNavs">



 		<% @user.friendships.each do |friend| %>
 	
 		<% if friend.status == "accepted" and friend.friend.present? %>


 			<%= link_to friend.friend, method: :get, class: "specialA" do %>
		        <div class="col-md-2 col-xs-6 noPad8PX">
		          <div class="elementBoxPpl">


		          <% unless friend.friend.avatar.present? %>
		            <%= avatarDiscover_for(user) %>
		          <% end %>
		          <%= image_tag(friend.friend.avatar_url(:thumb), class: "peopleImage") if friend.friend.avatar? %>

		          <div class="discoverTitleSec">
		            <div class="discoverName"><%= truncate(friend.friend.name.gsub(/\s.+/, '')) %></div>
		        
		          </div>


		          

		          </div>
		        </div>



	     <% end %>


 		<% end %>


 		<% end %>


  </div>









 		


 



 	



