<%= stylesheet_link_tag "events", :media => "all" %>


<%= form_for(@interest.passive_relationships_interests_to_events.build, method: :post, remote: true) do |f| %>
	<%= hidden_field_tag :fdE_id, @interest.id %>
	<%= hidden_field_tag :frE_id, @event.id %>
	<div class="buttonHov">
		<%= f.submit "Add", class: "btn btn-primary addInterest" %>
	</div>
<% end %>