<p id="notice"><%= notice %></p>

<h1>Notification Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notification_events.each do |notification_event| %>
      <tr>
        <td><%= notification_event.event_id %></td>
        <td><%= link_to 'Show', notification_event %></td>
        <td><%= link_to 'Edit', edit_notification_event_path(notification_event) %></td>
        <td><%= link_to 'Destroy', notification_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h1>Sent Events</h1>
 <% @user.sent_invites.each do |sentInvites| %>
  <%= image_tag(sentInvites.event.image_url(:thumb), class: "interestImage") if sentInvites.event.image? %>
  <td><%= sentInvites.greet %></td>
  <td><%= sentInvites.event.title %></td><br>
 <% end %>
<br>

<h1>Recieved Events</h1>
 <% @user.invitations.each do |invitation| %>
  <%= image_tag(invitation.event.image_url(:thumb), class: "interestImage") if invitation.event.image? %>
  <td><%= invitation.greet %></td>
  <td><%= invitation.event.title %></td><br>
 <% end %>


<br>

<h1>Sent Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.sent_invites.ids %></td>
        <td><%= user.invitations.ids %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification Event', new_notification_event_path %>
