<%= stylesheet_link_tag "feedbacks", :media => "all" %>
<div class="container">


<%= render 'form', feedback: @feedback %>
</div>

<footer class="lp_footer">
<div class="lp_footer_content container">
  <div class="col-md-2">
    <%= image_tag("proximyClear.png", class: "logoFooter") %>

  </div>
  <div class="col-md-10">
    <div class="col-md-4  text-left">
      <div class="legalTitle">
        Legal
      </div>
   
      <br>
      <div style="margin-bottom: 8px;">
        <%= link_to "Privacy Policy", privacy_path, method: :get, class: "legalLinks" %>
        
      </div>
      <div style="margin-bottom: 8px;">
        <%= link_to "Terms & Conditions", terms_path, method: :get, class: "legalLinks" %>

      </div>

        <div style="margin-bottom: 8px;">
        <%= link_to "DMCA Policy", dmca_path, method: :get, class: "legalLinks" %>

      </div>
    </div>



    <div class="col-md-4  text-left">
      <div class="legalTitle">
        Support
      </div>
      <br>

      <div class="legalStatic" style="margin-bottom: 8px;">
        info@proximy.ca
      </div> 

      <div style="margin-bottom: 8px;">
        <%= link_to "Community Guidelines", guidelines_path, method: :get, class: "legalLinks" %>
      </div>

      <div style="margin-bottom: 8px;">
        <%= link_to "FAQ", faq_path, method: :get, class: "legalLinks" %>
      </div> 
    </div>
  </div>

 </div>


</footer>