<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @feedback.body %>
</p>


<p>
  <strong>Name:</strong>
  <%= @feedback.user.name %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
