<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <br />

  <div class="field row align-items-center">
    <div class="col-md-2 input-label">Post Title</div>
    <div class="col-md-10 form-input"><%= f.text_field :title, class: "form-control" %></div>
  </div>

  <div class="field row align-items-center">
    <div class="col-md-2 input-label">Image</div>
    <div class="col-md-10 form-input"><%= f.file_field :image %></div>
  </div>

  <div class="field row align-items-center">
    <div class="col-md-2 input-label">Text</div>
    <div class="col-md-10 form-input"><%= f.text_area :content, class: "form-control" %></div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>