<p id="notice"><%= notice %></p>


<%= image_tag(@post.image_url) if @post.image? %>


<%= link_to 'Back', 'javascript:history.back()' %>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>



<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>



<hr>








<div class="col-md-12">
<%= render 'comments/form' %>
</div>


<hr>


<div class="col-md-12">
<%= render @post.comments.reverse %>
</div>

