<%= stylesheet_link_tag "posts", :media => "all" %>

<%= form_for(event_post) do |f| %>
  <% if event_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_post.errors.count, "error") %> prohibited this event_post from being saved:</h2>

      <ul>
      <% event_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="extraInf">
  <div class="s1">
    <%= image_tag(@event.image_url(:thumb), class: "userImage") if @event.image? %>
   
  </div>


   <div class="eventName"><%= @event.title %></div>
</div>


    <%= f.hidden_field(:event_id, value: params[:event_id]) %>



    <div class="s2">

      <%= f.text_area :content, class: "form-control reduxForm", placeholder: "Share your memories..." %>



<label class="btn btn-primary fileBtnDiv">
    <div><%= f.file_field :image, class: "fileBtn form-control", id: "filetag" %></div>
     Upload an Image
</label>



    <img src="" id="preview">
     
</div>





  <div class="actions col-md-12 create">
    <%= f.submit "Share", class: "fileBtnSubmit" %>
  </div>
<% end %>








<script>
var fileTag = document.getElementById("filetag"),
    preview = document.getElementById("preview");
    
fileTag.addEventListener("change", function() {
  changeImage(this);
});

function changeImage(input) {
  var reader;

  if (input.files && input.files[0]) {
    reader = new FileReader();

    reader.onload = function(e) {
      preview.setAttribute('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

  
</script>
