<%= stylesheet_link_tag "posts", :media => "all" %>

<%= form_for @event_post, remote: true do |f| %>
  <% if @event_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_post.errors.count, "error") %> prohibited this event_post from being saved:</h2>

      <ul>
      <% @event_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>






    <%= f.hidden_field(:event_id, value: params[:event_id]) %>



   <div class="col-md-8 noPad3Desk">

      <%= f.text_area :content, class: "form-control reduxForm", placeholder: "Ask questions, write comments, etc." , required: true %>


</div>






  <div class=" col-md-4 noPad3Desk">
    <%= f.button "Share", class: "fileBtnSubmit", data: {disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Building..."} %>
  </div>
<% end %>






<!--

<script>
var fileTag = document.getElementById("filetag"),
    preview = document.getElementById("preview");
    
fileTag.addEventListener("change", function() {
  changeImage(this);
});

function changeImage(input) {
  var reader;

  if (input.files && input.files[0]) {
    reader = new FileReader();

    reader.onload = function(e) {
      preview.setAttribute('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}

  
</script>

-->
