<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @event_post.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event_post.image %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_post.event_id %>
  <%= @event_post.event.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @event_post.user_id %>
</p>

<%= link_to 'Edit', edit_event_post_path(@event_post) %> |
<%= link_to 'Back', event_posts_path %>
