<%= stylesheet_link_tag "users", :media => "all" %>
<%= stylesheet_link_tag "animate", :media => "all" %>

<script type="text/javascript">
  $(document).ready(function () {
   



      setTimeout(function() {
       $(".alert").fadeOut("1000");
      }, 4000);


    })

</script>


<!-- Add radio button with gender -->
<!-- Add selction for age -->
<!-- Get rid of "Where are you from?" replace with geolocation request.location.city -->




  <style type="text/css">
  .mobNav{
    display: none !important;
  }

  .topNav{
  	display: none;
  }

  body{
  	margin-top: 10px !important;
  }

  .buttonHov{
    margin-top: -20px;
    margin-bottom: 10px;
  }
  	.modal-content {
		border-radius: 11px;
		padding: 80px;
	}


	.modal.in .modal-dialog{
		margin-top: 40px !important;
	}

	#user_date_of_birth_2i, #user_date_of_birth_3i, #user_date_of_birth_1i{
		outline: none;
	}

	.is-disabled{
		opacity: 0.5;
	}
	.stepsIcon{
		margin: 5px;
		height: 20px;
	}
</style>


<style type="text/css">
  .mobNav{
    display: none !important;
  }

  .fileBtnDiv, .form-control {
    width: 100%;
    margin: 10px 0 !important;
  }
  .module1{
    height: auto !important;
  }
  .formPart{
    margin-top: 30px;
    float: left;
    width: 100%;
  }

    body{
  	margin-top: 45px !important;
  }

  .alert{
    width: 100%;
  }


  @media screen and (max-width: 776px){

    .noPadTemp{
    padding-right: 2px !important;
    padding-left: 0px;
  }
}








</style>






<% if @user.errors.any? %>
<div class="alert animated pulse " role="alert">
  <div class="alert-success">
      Age is Required
  </div>
</div>
<% end %>




<div class="container noPad3">


  

  
<div class="col-md-12 text-center">
  <%= image_tag("circleBlue.svg", class: "stepsIcon") %>
   <%= image_tag("circle.svg", class: "stepsIcon") %>
    <%= image_tag("circle.svg", class: "stepsIcon") %>
     <%= image_tag("circle.svg", class: "stepsIcon") %>
  
</div>


  <div class="col-md-12 col-xs-12 avatarInfo">
     <div class="logoParent">
    	<%= image_tag("logoIcon.png", class: "logoImg") %>
	</div>
  	<div class="text-center" style="font-weight: 900; font-size: 16px;">
  		Welcome <span style="font-weight: 900; font-size: 16px; color: #508cf7; "><%= @user.name %></span>, let's start it off by telling us your date of birth.
  	</div>



<%= form_for @user, url: wizard_path, method: :put do |f| %>


      <div class="col-md-12 col-xs-12 noPad3 text-center" style="margin-bottom: 100px; margin-top: 50px;">



   <%= f.date_select :date_of_birth, class: "dateChoose", start_year: Date.current.year, end_year: 1950, order: [:month, :day, :year], prompt: {day: 'Day', month: 'Month', year: 'Year'} %>

</div>

</div>






 
<div class="fixedState is-disabled">
  <%= f.button "Continue", class: "fileBtnSubmit is-disabled", disabled: true, data: {disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Building..."} %>
</div>





   <% end %>





  </div>







</div>










<script>

  
$(document).ready( function(){
     $('#user_date_of_birth_2i, #user_date_of_birth_3i, #user_date_of_birth_1i').change( function() {
        if($('#user_date_of_birth_2i').val() != '' && $('#user_date_of_birth_1i').val() != '' && $('#user_date_of_birth_3i').val() != ''){
            $('.fileBtnSubmit').attr('disabled',false);
            $('.fixedState, .fileBtnSubmit').removeClass('is-disabled');
        }
                  
            }
         );
    });




</script>















