<%= stylesheet_link_tag "users", :media => "all" %>
<%= stylesheet_link_tag "users_mobile", :media => "all" %>

<% if flash[:notice] %>
<div class="alert alert-success" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>



<script type="text/javascript">
		  function getLocation() {
		    if (navigator.geolocation) {
		      navigator.geolocation.getCurrentPosition(getLat2);
		      navigator.geolocation.getCurrentPosition(getLon2);
		    } else {
		      x.innerHTML = "Geolocation is not supported by this browser.";
		    }
		  }


		  function getLat2(position) {
		    var lat2 = position.coords.latitude;

		    $(document).ready(function () {
		      $("#latField2").val(lat2);
		    })
		  }


		  function getLon2(position) {
		    var lon2 = position.coords.longitude;

		    $(document).ready(function () {
		      $("#lonField2").val(lon2);
		    })
		  }
</script>

 <style type="text/css">
  .mobNav{
    display: none !important;
  }

  .topNav{
  	display: none;
  }

  body{
  	margin-top: 40px !important;
  }

  .buttonHov{
    margin-top: -20px;
    margin-bottom: 10px;
  }
  	.modal-content {
		border-radius: 11px;
		padding: 80px;
	}


	.modal.in .modal-dialog{
		margin-top: 40px !important;
	}
</style>

<body onload="getLocation()">

	<style scoped>

	@media (max-width: 776px) { 
	    .coverImage {   
	        border-radius: 0px !important;
	    }
	    .mobNav{
	    	display: none !important;
	    }
	}
</style>


<div class="backButton">
  <%= link_to 'javascript:history.back()' do %>
        <%= image_tag("left-arrow.png", size: "54x54", class: "leftArrow") %>
  <% end %>
</div>



<div class="container noPad3">



  
 <div class="col-md-12 col-xs-12 avatarInfo text-center">
	<div class="col-md-12  col-xs-12  text-center">
	  <%= image_tag("circleBlue.svg", class: "stepsIcon") %>
	   <%= image_tag("circleBlue.svg", class: "stepsIcon") %>
	    <%= image_tag("circleBlue.svg", class: "stepsIcon") %>
	     <%= image_tag("circleBlue.svg", class: "stepsIcon") %>
	  
	</div>







<div class="mobileArea col-md-12 col-xs-12  text-center noPad3">
	     <div class="logoParent">
    	<%= image_tag("logoIcon.png", class: "logoImg") %>
	</div>
  	<div class="text-center" style="font-weight: 900; font-size: 16px;">
  		Lastly <span style="font-weight: 900; font-size: 16px; color: #508cf7; "><%= @user.name %></span>, we need you to give us location permission.
  	</div>

<% if @user.latitude.present? or @user.longitude.present? %>

	<div class="text-center">
			<div class="editContent">
				<div id="map"></div>

				<div style="font-weight: 900; font-size: 12px; margin-top: 10px; color: grey">Only you can see your exact location.</div>
				<div class="disclaimer" style=" margin-top: 10px;">Press continue to finalize.</div>

				<%= form_for @user, url: wizard_path, method: :put do |f| %>
				  <div class="field">
				    <%= f.hidden_field :latitude, class: "form-control", id: "latField2" %>
				  </div>


				  <div class="field">
				    <%= f.hidden_field :longitude, class: "form-control", id: "lonField2"  %>
				  </div>



				<div class="fixedState">
			      <%= f.button "Continue", type: "submit", class: "fileBtnSubmit", id: "submitButtonId", data: {disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Building..."} %>
			    </div>

				<% end %>
			</div>

	</div>


<% else %>


	<div class="col-md-12">
		<%= image_tag "destination.svg", class: "locationImage" %>
	</div>
	<div class="col-md-12">
		<div class="infoOnLocation">Click on "Update location" to continue</div>
	</div>
<%= form_for @user, url: wizard_path, method: :put do |f| %>
				  <div class="field">
				    <%= f.hidden_field :latitude, class: "form-control", id: "latField2" %>
				  </div>


				  <div class="field">
				    <%= f.hidden_field :longitude, class: "form-control", id: "lonField2"  %>
				  </div>



				<div class="fixedState">
			      <%= f.button "Update location", type: "submit", class: "fileBtnSubmit", id: "submitButtonId", data: {disable_with: "<i class='fa fa-circle-o-notch fa-spin'></i> Building..."} %>
			    </div>

	<% end %>







	
		<% end %>



</div>
</div>

</div>









    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 150px;  /* The height is 400 pixels */
        width: 30%;  /* The width is the width of the web page */
        border-radius: 8px;
        margin: 0 auto;
       }

@media (max-width: 776px) {
	#map{
		width: 100%;
	}
}

    </style>



    <script>

		// Initialize and add the map
		function initMap() {
		  // The location of Uluru
		  var pos = {lat: <%= current_user.latitude %> , lng: <%= current_user.longitude %> };
		  // The map, centered at Uluru
		  var map = new google.maps.Map(
		      document.getElementById('map'), {zoom: 12, center: pos, mapTypeControl: false});
		  // The marker, positioned at Uluru
		  var marker = new google.maps.Marker({position: pos, map: map});
		}


    </script>




	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo48DWSAQY1Qc3Tg4LjO8DtBJ32jSDbZI&callback=initMap">
	</script>









</body>




