<body onload="getLocation()">


<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, id: "latField" %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, id: "lonField" %>
  </div>



  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>







<p id="geoloc"></p>



<script>
  var x = document.getElementById("geoloc");

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
      navigator.geolocation.getCurrentPosition(getLat);
      navigator.geolocation.getCurrentPosition(getLon);
      navigator.geolocation.getCurrentPosition(geoSuccess);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
  }


  function getLat(position) {
    var lat = position.coords.latitude;

    $(document).ready(function () {
      $("#latField").val(lat);
    })
  }


  function getLon(position) {
    var lon = position.coords.longitude;

    $(document).ready(function () {
      $("#lonField").val(lon);
    })
  }






</script>





</body>









