<!DOCTYPE html>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">


<% if content_for?(:head) %>
  <%= yield(:head) %>
<% end %>


<html>
  <head>
    <title>Proximy</title>
    <%= csrf_meta_tags %>
    
    <%= favicon_link_tag asset_path('faviconF.ico') %>
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    




  </head>

  <body>


<% if mobile_device != "mobile" %>
<%= render "layouts/navDesk" %>
<% end %>


<script type="text/javascript">
  
    $( document ).ready(function() {

      $(".spinnerPage").hide();


    $(document).on("turbolinks:click", function(){
      $(".spinnerPage").show();
    });


    $(document).on("turbolinks:load", function(){
      $(".spinnerPage").hide();
      $("#theRest").css({"display": "block"}).fadeTo(0, 1);
    });
});



</script>
<% if signed_in? %>
  <%= javascript_tag do %>
    window.currentUserRuby = "<%= current_user.id %>";
  <% end %>
<% end %>

<%= stylesheet_link_tag "animate", :media => "all" %>


    <div class="spinnerPage">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>


    <div class="messageAlert"></div>



<div id="theRest" >



      <%= yield %>


  </div>
</div>

<script type="text/javascript">

  $(document).on("turbolinks:load", function(){
   $("img").lazyload({
   });

 });
</script>







<script type="text/javascript">

   $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

        var currTabTarget = $(e.target).attr('href');
        var remoteUrl = $(this).attr('data-tab-remote');
        var loadedOnce = $(this).data('loaded');
        window.history.pushState(null, null, remoteUrl);
        if (remoteUrl !== '' && !loadedOnce) {
            $(currTabTarget).load(remoteUrl)
            $(this).data('loaded',true);
        }
    })


</script>

    <div id="mySidenav2" class="sidenav2">

      <div>
        <span class="sideTitle2" href="javascript:void(0)">Create</span>
        <a href="javascript:void(0)" class="closebtn2" onclick="closeNav2()"> &times;</a>
      </div>
      
<div class="overallCreate">

      <%= link_to new_event_path, class: "specialA navElement" do %>
        <div class="menuSec"> 
            <span class="menuElements">
              <%= image_tag("event.png", class: "ImageNavB") %>
            </span>
              <%= label_tag "Create Event", nil, class: "ImageNavB" %>
        </div> 
      <% end %>

            <%= link_to new_group_path, class: "specialA navElement" do %>
        <div class="menuSec"> 
            <span class="menuElements">
              <%= image_tag("groups.png", class: "ImageNavB") %>
            </span>
              <%= label_tag "Create Group", nil, class: "ImageNavB" %>
        </div> 
      <% end %>



  </div>


    </div>

    <div class="mobNav">
        <nav class="bottomNav">
       

          <% if session[:user_id] %>

          <span style="cursor:pointer" onclick="openNav2()" >
            <div class="navTitleEndMob">
              <%= image_tag("create.png", class: "ImageNavB") %>
                
            </div>
          </span>

          <%= link_to groups_path, class: "specialA" do %>
            <div class="navTitleEndMob  <%= 'activeNav' if current_page?(groups_path) or current_page?(mygroups_groups_path) %>">
              <% if current_page?(groups_path) %>
                <%= image_tag("groupsActive.png", class: "ImageNavB") %>
              <% else %>
                <%= image_tag("groups.png", class: "ImageNavB") %>
              <% end %>
                
            </div>
          <% end %>


          <%= link_to root_path, class: "specialA" do %>
            <div class="navTitleEndMob  <%= 'activeNav' if current_page?(root_path) %>">
            <% if current_page?(root_path) %>
              <%= image_tag("homeActive.png", class: "ImageNavB") %>
            <% else %>
              <%= image_tag("home.png", class: "ImageNavB") %>
            <% end %>
                
            </div>
          <% end %>



          <%= link_to events_path, class: "specialA" do %>
            <div class="navTitleEndMob  <%= 'activeNav' if current_page?(events_path) or current_page?(myevents_events_path) %>">
              <% if current_page?(events_path) %>
                <%= image_tag("eventActive.png", class: "ImageNavB") %>
              <% else %>
                <%= image_tag("event.png", class: "ImageNavB") %>
              <% end %>
                
            </div>
          <% end %>


          <%= link_to notifications_path, class: "specialA" do %>
            <div class="navTitleEndMob <%= 'activeNav' if current_page?(notifications_path) %>">
              <% if current_page?(notifications_path) %>
                <%= image_tag("notificationsActive.png", class: "ImageNavB") %>
                <% if @userFriendships.present? or @eventNotifs.present? %>
                  <%= image_tag("redCircle.png", class: "notificationsNav") %>   
                <% end %>
              <% else %>
                <%= image_tag("notifications.png", class: "ImageNavB") %>
                <% if @userFriendships.present? or @eventNotifs.present? %>
                  <%= image_tag("redCircle.png", class: "notificationsNav") %>   
                <% end %>
              <% end %>
                
            </div>
          <% end %>


          <% end %>




   
      </nav>
    </div>


  </body>
</html>






