<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no " />

<html>
  <head>
    <title>Proximy</title>
    <%= csrf_meta_tags %>
    
    <%= favicon_link_tag asset_path('faviconF.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }



      var mob = window.matchMedia( "(max-width: 776px)" );

      if(mob.matches){
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('nav').outerHeight();

        $(window).scroll(function(event){
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();
            
            // Make sure they scroll more than delta
            if(Math.abs(lastScrollTop - st) <= delta)
                return;
            
            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight){
                // Scroll Down
                $('nav').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if(st + $(window).height() < $(document).height()) {
                    $('nav').removeClass('nav-up').addClass('nav-down');
                }
            }
            
            lastScrollTop = st;
        }
      }





      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("theRest").style.opacity = "0.3";
        document.getElementById("theRest").style.pointerEvents = "none";
        document.getElementsByClassName("displayModals").style.pointerEvents = "none";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("theRest").style.opacity = "1";
        document.getElementById("theRest").style.pointerEvents = "auto";


      }



      function openNav2() {
        document.getElementById("mySidenav2").style.height = "195px";
      }

      function closeNav2() {
        document.getElementById("mySidenav2").style.height = "0";

      }


          </script>


          <script type="text/javascript">

              $(document).ready(function() {
  
                NProgress.configure({
                  showSpinner: true,
                  ease: 'ease',
                  speed: 500
                });
              });


          </script>

  </head>

  <body>




    <nav class="navbar topNav navbar-fixed-top nav-down" id="navbar">
  <div class="container">
    <div class="navTitle">
      <%= link_to root_path, class: "specialA" do %>
          <%= image_tag("proximy-top.jpg", class: "logoMain") %>
        <% end %>
      </div>

    <% if session[:user_id] %>



    <div class="dropdown pencilButton">
      <div class="navTitleEndNew dropdown-toggle" type="button" data-toggle="dropdown"><%= image_tag("arrowDown.png", class: "imageNavDrop") %></div>
      <ul class="dropdown-menu moreOps">
         <li>
          <%= link_to "Settings", edit_user_path(current_user), class: "dropItem" %>
        </li>
        <li>
            <%= link_to "Log Out", logout_path, method: :delete, data: {confirm: 'Are you sure?'}%>
        </li>
        <li>
            <%= link_to "Feedback", new_feedback_path %>
        </li>

      </ul>
    </div>

     

    <div id="mySidenav" class="sidenav">
          <span class="sideTitle" href="javascript:void(0)">Menu</span><a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times;</a>



<%= link_to current_user, class: "specialA navElement" do %>
  <div class="menuSec"> 
            <span class="menuElements">
              <%= image_tag("user.png", class: "ImageNavB") %>
            </span>
              <%= label_tag "Profile" %>
  </div> 
<% end %>
   
<%= link_to edit_user_path(current_user), class: "specialA navElement" do %>
<div class="menuSec"> 
           <span class="menuElements">
            <%= image_tag("settings.png", class: "ImageNavB") %>
          </span>

          <%= label_tag "Settings" %>
</div> 
<% end %>



          <hr>

<%= link_to logout_path,  method: :delete, data: {confirm: 'Are you sure?'}, class: "specialA navElement" do %>    
  <div class="menuSec"> 
              <span class="menuElements">
              <%= image_tag("out.png", class: "ImageNavB") %>
            </span>
            <%= label_tag "Sign Out" %>


          </div>
<% end %>



  </div> 

      <%= link_to current_user, class: "specialA" do %>
      <% unless current_user.avatar.present? %>
        <div class="navTitleEnd1 ifMob1"><%= avatarNav_for(current_user) %></div>
      <% end %>
        <div class="navTitleEnd1 ifMob1"><%= image_tag(current_user.avatar_url(:thumb), class: "userImageNav") if current_user.avatar? %></div>
      <% end %>






<span style="font-size:30px;cursor:pointer" onclick="openNav()">
    <% unless current_user.avatar.present? %>
      <div class="navTitleEnd1 ifMob2"><<%= avatarNav_for(current_user) %></div>
    <% end %>
      <div class="navTitleEnd1 ifMob2"><%= image_tag(current_user.avatar_url(:thumb), class: "userImageNav") if current_user.avatar? %></div>

</span>






<!--Start-->

<%= link_to notifications_path, class: "specialA dispNone" do %>
    <div class="navTitleEnd1 <%= 'activeNav' if current_page?(notifications_path) %>">
       
          <%= image_tag("notifications.png", class: "ImageNav") %>   
          <% if @userFriendships.present? or @eventNotifs.present? %>
            <%= image_tag("redCircle.png", class: "notificationsNav") %>   
          <% end %>
       
    </div>
  <% end %>


    
    <%= link_to groups_path, class: "specialA dispNone" do %>
       <div class="navTitleEnd1 <%= 'activeNav' if current_page?(groups_path) or current_page?(mygroups_groups_path) %>">
         <%= (image_tag("groups.png", class: "ImageNav"))  %>
      </div>
     <% end %>



  <%= link_to events_path, class: "specialA dispNone" do %>
    <div class="navTitleEnd1 <%= 'activeNav' if current_page?(events_path) or current_page?(myevents_events_path) %>">
      <%= (image_tag("event.png", class: "ImageNav")) %>
    </div>
  <% end %>

<%= link_to root_path, class: "specialA dispNone" do %>
    <div class="navTitleEnd1 <%= 'activeNav' if current_page?(root_path) %>">
       
         <%= (image_tag("home.png", class: "ImageNav")) %>
       
    </div>

<% end %>








    <div class="dropdown pencilButton">
      <div class="navTitleEnd1 dropdown-toggle" type="button" data-toggle="dropdown"><%= image_tag("create.png", class: "ImageNav") %></div>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Create Event", new_event_path, class: "dropItem" %>
        </li>
        <li>
          <%= link_to "Create Group", new_group_path, class: "dropItem" %>
        </li>
      </ul>
    </div>


<!--End-->


</div>



    <% end %>




  </div>
</nav>


<script type="text/javascript">
  
 




    document.addEventListener("turbolinks:load", function() {
      $(".spinnerPage").fadeOut("slow");
      $("#theRest").css({"display": "block"}).fadeTo(0, 1);
    });


</script>


<div id="clickable" onclick="closeNav()">
    <div class="spinnerPage">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  <div id="theRest" >


      <%= yield %>
  </div>
</div>



    <div id="mySidenav2" class="sidenav2">

      <div>
        <span class="sideTitle2" href="javascript:void(0)">Create</span>
        <a href="javascript:void(0)" class="closebtn2" onclick="closeNav2()"> &times;</a>
      </div>
      
<div class="overallCreate">

      <%= link_to new_event_path, class: "specialA navElement" do %>
        <div class="menuSec"> 
            <span class="menuElements">
              <%= image_tag("event.png", class: "ImageNavB") %>
            </span>
              <%= label_tag "Create Event", nil, class: "ImageNavB" %>
        </div> 
      <% end %>

            <%= link_to new_group_path, class: "specialA navElement" do %>
        <div class="menuSec"> 
            <span class="menuElements">
              <%= image_tag("groups.png", class: "ImageNavB") %>
            </span>
              <%= label_tag "Create Group", nil, class: "ImageNavB" %>
        </div> 
      <% end %>



  </div>


    </div>

    <div class="mobNav">
        <nav class="bottomNav">
       

          <% if session[:user_id] %>

          <span style="cursor:pointer" onclick="openNav2()" >
            <div class="navTitleEndMob">
              <%= image_tag("create.png", class: "ImageNavB") %>
                
            </div>
          </span>

          <%= link_to groups_path, class: "specialA" do %>
            <div class="navTitleEndMob  <%= 'activeNav' if current_page?(groups_path) or current_page?(mygroups_groups_path) %>">
              <% if current_page?(groups_path) %>
                <%= image_tag("groupsActive.png", class: "ImageNavB") %>
              <% else %>
                <%= image_tag("groups.png", class: "ImageNavB") %>
              <% end %>
                
            </div>
          <% end %>


          <%= link_to root_path, class: "specialA" do %>
            <div class="navTitleEndMob  <%= 'activeNav' if current_page?(root_path) %>">
            <% if current_page?(root_path) %>
              <%= image_tag("homeActive.png", class: "ImageNavB") %>
            <% else %>
              <%= image_tag("home.png", class: "ImageNavB") %>
            <% end %>
                
            </div>
          <% end %>


          


          <%= link_to events_path, class: "specialA" do %>
            <div class="navTitleEndMob  <%= 'activeNav' if current_page?(events_path) or current_page?(myevents_events_path) %>">
              <% if current_page?(events_path) %>
                <%= image_tag("eventActive.png", class: "ImageNavB") %>
              <% else %>
                <%= image_tag("event.png", class: "ImageNavB") %>
              <% end %>
                
            </div>
          <% end %>


          <%= link_to notifications_path, class: "specialA" do %>
            <div class="navTitleEndMob <%= 'activeNav' if current_page?(notifications_path) %>">
              <% if current_page?(notifications_path) %>
                <%= image_tag("notificationsActive.png", class: "ImageNavB") %>
                <% if @userFriendships.present? or @eventNotifs.present? %>
                  <%= image_tag("redCircle.png", class: "notificationsNav") %>   
                <% end %>
              <% else %>
                <%= image_tag("notifications.png", class: "ImageNavB") %>
                <% if @userFriendships.present? or @eventNotifs.present? %>
                  <%= image_tag("redCircle.png", class: "notificationsNav") %>   
                <% end %>
              <% end %>
                
            </div>
          <% end %>








          <% end %>




   
      </nav>
    </div>


  </body>
</html>











